<% /* Opmerking: Dit is geïnjecteerd in de `views/opmaak/lay-out-e-mail.ejs` */
/*
De toegestane tijd voor u om te bevestigen dat het e-mail adres bij het registreren op de website van de Paula ell eindigt.
Na 6 uur zal uw account worden geannuleerd.
  Als u deze informatie niet relevant is, dan negeer dit bericht.
  Als u wilt dat uw e-mailadres bevestigen, moet u in de brief
  het werd verzonden naar u tijdens de registratie en klik op bevestigen.

  Als u niet in staat bent om de e-mail verzonden wanneer de registratie, neem dan contact met ons op of
  weer opnieuw aanmelden.
*/
%>
<p style="margin-bottom: 25px;">Geachte <%= gebruiker.fullName %>,</p>
<p style="margin-bottom: 25px;">
  De tijd toegestaan om te bevestigen dat het e-mail adres bij het registreren op de website van Poale Ell eindigt. Na 6 uur, zal uw account worden geannuleerd.
 <br>Als deze informatie is niet relevant voor u is, dan gewoon geen aandacht besteden aan dit bericht.
 <br>Als u wilt uw e-mailadres bevestigen, dient u te gaan naar de e-mail die naar u gestuurd wordt tijdens de registratie en klik op de knop bevestigen.
</p><p>
  Als je niet kon vinden in de brief tijdens de registratie, dan kunt u contact met ons opnemen of opnieuw aanmelden.
</p>
<p style="margin-bottom: 5px;">met vriendelijke groet,</p>
<p style="margin-top: 0px;">De Poale Ell Team</p>
