<% /* Opmerking: Dit is geïnjecteerd in de `views/opmaak/lay-out-e-mail.ejs` */ %>
<p style="margin-bottom: 25px;">Welkom, <%= fullName %>!</p>
<p style="margin-bottom: 25px;">Je bent bijna klaar om te beginnen. Klik op de knop hieronder om te bevestigen dat het e-mailadres voor uw account:</p>
<div style="margin-bottom: 25px; text-align: center;">
  <a style="background-color: #00ACC4; display: inline-block; font-size: 1.1em; color: #fff; padding: 10px 35px 10px; font-weight: 500; text-decoration: none; border-radius: 7px;" href="<%= url.resolve(sails.config.custom.baseUrl,'/email/confirm')+'?token='+encodeURIComponent(token) %>">Bevestig e-</a>
</div>
<p style="margin-bottom: 25px;">Als u problemen hebt, probeer het plakken van deze link in uw browser: <a style="color: #00ACC4; word-wrap: break-word;" href="<%= url.resolve(sails.config.custom.baseUrl,'/email/confirm')+'?token='+encodeURIComponent(token) %>"><%= url.het oplossen van(zeilen.config.aangepast.baseUrl,'/e-mail/bevestigen')+'?token='+encodeURIComponent(token) %></a></p>
<p style="margin-bottom: 5px;">met vriendelijke groet,</p>
<p style="margin-top: 0px;">De Poale Ell Team</p>
