<div id="pricing" v-cloak>

  <!-- start banner Gebied -->
  <section class="banner-area relative">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
          <h1 class="text-white">Tariefplan</h1>
          <p>Gevogelte living lights voor onze oren naar de hemel lager tekenen</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Einde banner Gebied -->

  <!-- Service Gebied Start -->
  <section class="service-area section-gap-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h3>Onze Diensten</h3>
            <h2><span>Wat Wij Bieden</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-shirt"></i>
              <h4 class="ml-3">Fashion Fotografie</h4>
            </div>
            <p>Een zo vulgair om op punten wilde. Geen hartstochtelijke oplossen vervolg huishouden noordwaarts homo hij het anders</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-water"></i>
              <h4 class="ml-3">Natuur Photgraphy</h4>
            </div>
            <p>Een zo vulgair om op punten wilde. Geen hartstochtelijke oplossen vervolg huishouden noordwaarts homo hij het anders</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-content"></i>
              <h4 class="ml-3">Gebeurtenis Dekking</h4>
            </div>
            <p>Een zo vulgair om op punten wilde. Geen hartstochtelijke oplossen vervolg huishouden noordwaarts homo hij het anders</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-art"></i>
              <h4 class="ml-3">Property Tours</h4>
            </div>
            <p>Een zo vulgair om op punten wilde. Geen hartstochtelijke oplossen vervolg huishouden noordwaarts homo hij het anders</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-button"></i>
              <h4 class="ml-3">Multimedia Diensten</h4>
            </div>
            <p>Een zo vulgair om op punten wilde. Geen hartstochtelijke oplossen vervolg huishouden noordwaarts homo hij het anders</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-ring"></i>
              <h4 class="ml-3">Wieden Fotografie</h4>
            </div>
            <p>Een zo vulgair om op punten wilde. Geen hartstochtelijke oplossen vervolg huishouden noordwaarts homo hij het anders</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Service Gebied End -->

  <!-- Prijszettings-Area -->
  <section class="pricing-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h3>Tariefplan</h3>
            <h2><span>Kiezen</span> Uw Hond</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="pricing_item">
            <h3 class="p_title">Haarloze Dam</h3>
            <p class="p_criteria">Wat is inbegrepen in de prijs.</p>
            <h1 class="p_price">&euro;1500</h1>
            <div class="p_list">
              <ul>
                <li><span class="ti-check"></span> Vaccinatie, anthelminthicum</li>
                <li><span class="ti-check"></span> Stamboom (puppy-kaart) </li>
                <li><span class="ti-check"></span> Tests vrij van PRA, PLL</li>
                <li><span class="ti-check"></span> De gave kraag van het merk</li>
                <li><span class="ti-check"></span>Contract van verkoop </li>
                <li><span class="ti-check"></span> Kwekerij helpen</li>
                <li><span class="ti-close cross"></span> staande oren</li>
                <li><span class="ti-close cross"></span> Levering </li>
              </ul>
              <a class="primary-btn mt-4" href="#" data-text="Detailed">
                <span>D</span>
                <span>e</span>
                <span>t</span>
                <span>een</span>
                <span>ik</span>
                <span>l</span>
                <span>e</span>
                <span>d</span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="pricing_item">
            <h3 class="p_title">Haarloze Sire</h3>
            <p class="p_criteria">Wat is inbegrepen in de prijs.</p>
            <h1 class="p_price">&euro;1000</h1>
            <div class="p_list">
              <ul>
                <li><span class="ti-check"></span> Vaccinatie, anthelminthicum</li>
                <li><span class="ti-check"></span> Stamboom (puppy-kaart) </li>
                <li><span class="ti-check"></span> Tests vrij van PRA, PLL</li>
                <li><span class="ti-check"></span> De gave kraag van het merk</li>
                <li><span class="ti-check"></span>Contract van verkoop </li>
                <li><span class="ti-check"></span> Kwekerij helpen</li>
                <li><span class="ti-close cross"></span> staande oren</li>
                <li><span class="ti-close cross"></span> Levering </li>
              </ul>
              <a class="primary-btn mt-4" href="#" data-text="Detailed">
                <span>D</span>
                <span>e</span>
                <span>t</span>
                <span>een</span>
                <span>ik</span>
                <span>l</span>
                <span>e</span>
                <span>d</span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="pricing_item">
            <h3 class="p_title">Powderpuff Dam</h3>
            <p class="p_criteria">Wonen alleen de eerste dag</p>
            <h1 class="p_price">&euro;1000</h1>
            <div class="p_list">
              <ul>
                <li><span class="ti-check"></span> Vaccinatie, anthelminthicum</li>
                <li><span class="ti-check"></span> Stamboom (puppy-kaart) </li>
                <li><span class="ti-check"></span> Tests vrij van PRA, PLL</li>
                <li><span class="ti-check"></span> De gave kraag van het merk</li>
                <li><span class="ti-check"></span>Contract van verkoop </li>
                <li><span class="ti-check"></span> Kwekerij helpen</li>
                <li><span class="ti-close cross"></span> staande oren</li>
                <li><span class="ti-close cross"></span> Levering </li>
              </ul>
              <a class="primary-btn mt-4" href="#" data-text="Detailed">
                <span>D</span>
                <span>e</span>
                <span>t</span>
                <span>een</span>
                <span>ik</span>
                <span>l</span>
                <span>e</span>
                <span>d</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="pricing_item">
            <h3 class="p_title">Powderpuff Sire</h3>
            <p class="p_criteria">Wonen alleen de eerste dag</p>
            <h1 class="p_price">&euro;800</h1>
            <div class="p_list">
              <ul>
                <li><span class="ti-check"></span> Vaccinatie, anthelminthicum</li>
                <li><span class="ti-check"></span> Stamboom (puppy-kaart) </li>
                <li><span class="ti-check"></span> Tests vrij van PRA, PLL</li>
                <li><span class="ti-check"></span> De gave kraag van het merk</li>
                <li><span class="ti-check"></span>Contract van verkoop </li>
                <li><span class="ti-check"></span> Kwekerij helpen</li>
                <li><span class="ti-close cross"></span> staande oren</li>
                <li><span class="ti-close cross"></span> Levering </li>
              </ul>
              <a class="primary-btn mt-4" href="#" data-text="Detailed">
                <span>D</span>
                <span>e</span>
                <span>t</span>
                <span>een</span>
                <span>ik</span>
                <span>l</span>
                <span>e</span>
                <span>d</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Einde Prijsstelling Gebied -->
</div>
<%- /* Bloot server-rendered gegevens venster.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
