<div id="about" v-cloak>

  <!-- start banner Gebied -->
  <section class="banner-area relative">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
          <h1 class="text-white">Over Ons</h1>
          <p>Poale Ell Chinese Crested Dog Kennel</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Einde banner Gebied -->

  <!-- Over Het Gebied Start -->
  <section class="about-area section-gap">
    <div class="container">
      <div class="row align-items-top justify-content-start">
        <div class="col-lg-5 about-left">
          <img class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/lux.jpg" alt="Alfa Laval De Lux Supernova">
        </div>
        <div class="offset-lg-1 col-lg-5 col-md-12 about-right">
          <div class="section-title">
            <h2 class="mb-4">
              Poale Ell</h2>
          </div>
          <div class="mb-35 wow fadeIn text-justify" data-wow-duration=".8s" data-wow-delay=".3s">

           <p>In het ras sinds 2004. Officieel, de kennel Poale Ell, was ingeschreven in de internationale
             register van de FCI federatie in 2016, certificaat Nr. 18431 gedateerd 02.26.2016,
             de eigenaar van Olga Petrova. De kwekerij is het actief werken met poolse, Britse en Amerikaanse fabrikanten.
             Is gespecialiseerd in het fokken van Chinese naakthond honden van standaard grootte. In de kennel honden er zijn briljant
             stambomen met de lijnen van de beste gespecialiseerde kennels in de wereld.</p>

            <h4> Onze Fabrikanten</h4>
            <p> Alle kennel honden doorgegeven individuele genetische testen voor PRA en PLL (negatief);
              negatieve KCS controles (voor "droge ogen"); onderzocht (van ultrageluid) voor hart-en vaatziekten.
              We weten heel veel over de Chinese Naakthond ras van de Hond en zijn klaar om te geven op onze kennis aan iedereen,
              die, net als wij, houdt van deze prachtige dieren en is klaar om hen in hun eigen leven voor eeuwig.
              Omdat zij, nadat ze verliefd op zichzelf, ze laten nooit meer los van iedereen en nooit.
            </p>
            <p><strong> AANDACHT VAN BEGINNERS!</strong> <br>Honden van dit ras hebben een onverwoestbare mogelijkheid om zich te vermenigvuldigen.
              Deze stand van zaken heeft nog niet uitgelegd. (mysterie van de natuur) </p>
            <!--<p class="text-right">&lt;!&ndash;<i class="flaticon-chinese-crested"></i>&ndash;&gt; <strong>Poale Ell</strong></p>-->
            <!--<blockquote class="blockquote">-->
              <!--<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat een ante.</p>-->
              <footer class="blockquote-footer text-right"> <cite title="Source Title">Poale Ell Kennel</cite></footer>
            <!--</blockquote>-->
          </div>
          <a href="#" class="primary-btn" data-text="Read More">
            <span>R</span>
            <span>e</span>
            <span>een</span>
            <span>d</span>
            <span></span>
            <span>M</span>
            <span>o</span>
            <span>r</span>
            <span>e</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Einde Gebied -->

  <!-- Service Gebied Start -->
  <section class="service-area section-gap-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h3>Onze Diensten</h3>
            <h2><span>Wat Wij Bieden</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-button"></i>
              <h4 class="ml-3">overmatige blootstelling van Honden</h4>
            </div>
            <p>Als u nodig hebt om te gaan op een korte trip, wij zullen u graag de hond voor vijf dagen gratis.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-water"></i>
              <h4 class="ml-3">Natuurlijke Voeding</h4>
            </div>
            <p>Alle honden van de kennel om te eten alleen plantaardig voedsel. Vlees, groenten, fruit. Individuele benadering.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-content"></i>
              <h4 class="ml-3">Gebeurtenis Dekking</h4>
            </div>
            <p>We houden contact met de eigenaren, informeren wij u over springt voor de levering van geneesmiddelen, grond, voer, etc.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-art"></i>
              <h4 class="ml-3">Dog Show</h4>
            </div>
            <p>Veelbelovende honden, met de toestemming van de eigenaar van de kennel is op tentoonstellingen op eigen kosten.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-shirt"></i>
              <h4 class="ml-3">Fashion Fotografie</h4>
            </div>
            <p>Adviseren een professionele fotograaf voor uw huisdier fotoshoot.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-ring"></i>
              <h4 class="ml-3">Terugkeer van de Hond</h4>
            </div>
            <p>Altijd klaar om terug met onze hond, als om wat voor reden dan ook niet
              hebben de mogelijkheid om verder te bevatten van een huisdier.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Service Gebied End -->
</div>
<%- /* Bloot server-rendered gegevens venster.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
