#litter {

  .block {
    width: 280px;
  }
  .el-rate__icon {
  font-size: 1.6rem;
  }

  .el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color:white;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color:white;
  }
}
