#litter {
  .el-dialog--center .el-dialog__body{
    padding-top: 0;
  }
  //.el-dialog.el-dialog--center{
  //  margin-top: 3vh!important;
  //}

  .el-switch{
    height: 40px;
  }

  /* start CSS SLIDER DIALOG */
  .el-carousel__item{
    padding-right: 5px;
  }
  .my-flex-cont {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    .my-flex-box {
      flex: 0 1 auto;
    }
  }
  .el-carousel__indicator--horizontal {
    display: none;
    padding: 0;
  }
  /* end CSS SLIDER DIALOG */


  //.my-flex-cont {
  //  display: flex;
  //  flex-flow: row-reverse nowrap;
  //  justify-content: center;
  //  align-items: center;
  //  align-content: center;
  //  height: 780px;
  //
  //
  //  .my-flex-box {
  //    margin: 5px;
  //    padding: 5px;
  //    flex: 0 1 auto;
  //    img{
  //      height: 80vh;
  //    }
  //  }
  //}

  img.gallery {
    &:hover {
      +.flx {
        opacity: .8;
      }
      opacity: .9;
      border: 1px solid white;
      cursor: pointer;
    }
  }

  .flx {
    display: flex;
    flex-flow: row-reverse nowrap;
    opacity: .4;
    //&:not(.selected):hover {
    //  color: blue;
    //  opacity: .9;
    //}
    .fixButton {
      margin-top: 10px;
      flex: 0 1 auto;
      z-index: 1;
      background-color: #e9e9e9;
      width: 32px;
      height: 32px;
      border-radius: 50%;

      .p-button {
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 32px;
        &:hover{

          background-color: orangered;
          color: white;

          border-radius: 50%;
        }
        .el-icon-* {
          flex: 0 1 auto;
        }
      }
    }

  }






  .el-rate__icon {
  font-size: 1.6rem;
  }

}
