<div id="message-home" class="content" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/message/message-home.less</em>, <em>assets/js/pages/message/message-home.page.js</em>, and <em>api/controllers/message/view-message-home.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
