<div id="users-home" v-cloak>


  <div class="container">
    <div class="row">
      <h1>TODO: Implement this page.</h1>
      <div class="col-md-12">

        <!--  <table-poaleell :pCols="[...cols]" :pRows='[...rws]' />-->
        <!--<hello-world msg="Welcome to Your Vue.js App" opt-select="[[...option]]"/>-->
        <select-poaleell  options="option"  @valChanged="value=$event"></select-poaleell>
        {{value}}
        <button class="btn btn-danger">Ok</button>
      </div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
