#welcome {
  .u-section-1 {background-image: url("https://d2e0ab19zxiehc.cloudfront.net/photo1500964757637c85e8a162699.jpg"); min-height: 945px; background-position: 50% 50%}
  .u-section-1 .u-layout-wrap-1 {pointer-events: auto; margin: 0 auto 0 0}
  .u-section-1 .u-image-1 {min-height: 1028px; pointer-events: auto; background-image: url("../../../images/111ByPoaleEll.svg"); background-position: 50% 50%}
  .u-section-1 .u-container-layout-1 {padding: 30px 60px}
  .u-section-1 .u-text-1 {font-size: 8.5rem; font-weight: 700; letter-spacing: 0; text-shadow: 0 1px 0 rgba(229,229,229,0.45); margin: 214px 0 0}
  .u-section-1 .u-text-2 {text-transform: uppercase; font-size: 1.125rem; letter-spacing: 4px; font-weight: normal; text-decoration: none solid rgb(242, 176, 173); font-style: normal; margin: 34px 0 0}
  .u-section-1 .u-text-3 {font-size: 2.25rem; margin: 0}
  .u-section-1 .u-btn-1 {border-style: solid; background-image: none; text-transform: uppercase; padding-left: 50px; padding-right: 50px; font-weight: normal; margin: 37px auto 0}
  .u-section-1 .u-layout-cell-2 {min-height: 1028px; pointer-events: auto}
  .u-section-1 .u-container-layout-2 {padding: 90px 10px 30px 0}

  @media (max-width: 1199px){ .u-section-1 {min-height: 779px}
    .u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
    .u-section-1 .u-image-1 {min-height: 786px}
    .u-section-1 .u-text-1 {font-size: 6rem; animation-duration: 1000ms}
    .u-section-1 .u-layout-cell-2 {min-height: 786px; background-position: 51% 75.92%; background-size: 120%; animation-duration: 1000ms} }

  @media (max-width: 991px){ .u-section-1 {min-height: 809px}
    .u-section-1 .u-image-1 {min-height: 571px}
    .u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
    .u-section-1 .u-text-1 {font-size: 4.5rem; margin-top: 137px}
    .u-section-1 .u-text-2 {margin-top: 140px}
    .u-section-1 .u-text-3 {font-size: 1.5rem; margin-top: -159px}
    .u-section-1 .u-layout-cell-2 {min-height: 571px}
    .u-section-1 .u-container-layout-2 {padding-top: 30px} }

  @media (max-width: 767px){ .u-section-1 {min-height: 779px}
    .u-section-1 .u-image-1 {min-height: 541px}
    .u-section-1 .u-container-layout-1 {padding-left: 60px; padding-right: 60px}
    .u-section-1 .u-text-1 {font-size: 6rem; margin-top: 214px}
    .u-section-1 .u-text-2 {margin-top: 34px}
    .u-section-1 .u-text-3 {font-size: 2.25rem; margin-top: 0}
    .u-section-1 .u-layout-cell-2 {min-height: 273px}
    .u-section-1 .u-container-layout-2 {padding-top: 90px} }

  @media (max-width: 575px){ .u-section-1 {min-height: 831px}
    .u-section-1 .u-image-1 {min-height: 686px}
    .u-section-1 .u-container-layout-1 {padding-left: 0; padding-right: 0}
    .u-section-1 .u-text-1 {font-weight: 700; font-size: 4.5rem; letter-spacing: normal; margin-top: 0; margin-left: 10px; margin-right: 10px}
    .u-section-1 .u-text-2 {margin-top: 23px}
    .u-section-1 .u-text-3 {width: 247px; margin-left: auto; margin-right: auto}
    .u-section-1 .u-btn-1 {margin-top: 30px}
    .u-section-1 .u-layout-cell-2 {min-height: 145px}
    .u-section-1 .u-container-layout-2 {padding-right: 0} }.u-section-2 .u-sheet-1 {min-height: 692px}
  .u-section-2 .u-layout-wrap-1 {margin: 39px auto 0 0}
  .u-section-2 .u-image-1 {min-height: 821px; background-image: url("https://d2e0ab19zxiehc.cloudfront.net/lux.jpg"); background-position: 50% 50%; background-size: auto 110%}
  .u-section-2 .u-container-layout-1 {padding: 30px 60px}
  .u-section-2 .u-text-1 {text-shadow: 0 2px 8px rgba(128,128,128,1); margin: 0}
  .u-section-2 .u-text-2 {text-shadow: 0 2px 8px rgba(128,128,128,1); margin: 20px 0 0}
  .u-section-2 .u-btn-1 {padding-left: 50px; padding-right: 50px; margin: 20px auto 0 0}
  .u-section-2 .u-layout-cell-2 {min-height: 821px}
  .u-section-2 .u-container-layout-2 {padding: 30px 60px}
  .u-section-2 .u-text-3 {margin: 0}
  .u-section-2 .u-text-4 {margin: 20px 0 0}
  .u-section-2 .u-btn-2 {margin-left: 0; margin-right: 0; background-image: none; margin-top: 20px; padding-left: 50px; padding-right: 50px}

  @media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 570px}
    .u-section-2 .u-layout-wrap-1 {width: 940px; margin-top: 50px; margin-right: 0; margin-left: 0}
    .u-section-2 .u-image-1 {min-height: 677px}
    .u-section-2 .u-layout-cell-2 {min-height: 677px} }

  @media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 437px}
    .u-section-2 .u-layout-wrap-1 {width: 720px}
    .u-section-2 .u-image-1 {min-height: 519px}
    .u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
    .u-section-2 .u-layout-cell-2 {min-height: 100px}
    .u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

  @media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 570px}
    .u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
    .u-section-2 .u-image-1 {min-height: 677px; background-size: 110%}
    .u-section-2 .u-container-layout-1 {padding-left: 60px; padding-right: 60px}
    .u-section-2 .u-layout-cell-2 {min-height: 677px}
    .u-section-2 .u-container-layout-2 {padding-left: 60px; padding-right: 60px} }

  @media (max-width: 575px){ .u-section-2 .u-image-1 {background-size: auto 110%} }.u-section-3 {background-image: none}
  .u-section-3 .u-sheet-1 {min-height: 672px}
  .u-section-3 .u-layout-wrap-1 {pointer-events: auto; margin: 0 auto 0 0}
  .u-section-3 .u-layout-cell-1 {min-height: 785px; pointer-events: auto}
  .u-section-3 .u-container-layout-1 {padding: 30px 60px}
  .u-section-3 .u-text-1 {margin: 0}
  .u-section-3 .u-text-2 {margin: 39px 0 0}
  .u-section-3 .u-btn-1 {background-image: none; padding-left: 50px; padding-right: 50px; margin: 33px auto 0 153px}
  .u-section-3 .u-image-1 {min-height: 785px; pointer-events: auto; background-image: url("https://d2e0ab19zxiehc.cloudfront.net/20190924.jpg"); background-position: 47.91% 85.13%; background-size: 125%}
  .u-section-3 .u-container-layout-2 {padding: 30px 60px}

  @media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 100px}
    .u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
    .u-section-3 .u-layout-cell-1 {min-height: 647px}
    .u-section-3 .u-btn-1 {margin-left: auto}
    .u-section-3 .u-image-1 {min-height: 647px} }

  @media (max-width: 991px){ .u-section-3 .u-layout-cell-1 {min-height: 100px}
    .u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
    .u-section-3 .u-image-1 {min-height: 496px}
    .u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

  @media (max-width: 767px){ .u-section-3 .u-layout-cell-1 {min-height: 268px}
    .u-section-3 .u-container-layout-1 {padding-left: 60px; padding-right: 60px}
    .u-section-3 .u-image-1 {min-height: 1026px; background-position: 60.99% 100%; background-size: auto 125%}
    .u-section-3 .u-container-layout-2 {padding-left: 60px; padding-right: 60px} }

  @media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 954px}
    .u-section-3 .u-layout-cell-1 {min-height: 269px}
    .u-section-3 .u-container-layout-1 {padding-left: 0; padding-right: 0}
    .u-section-3 .u-image-1 {min-height: 687px; background-position: 47.91% 85.13%}
    .u-section-3 .u-container-layout-2 {padding-right: 5px; padding-left: 0} }.u-section-4 .u-sheet-1 {min-height: 500px}
  .u-section-4 .u-layout-wrap-1 {margin: 22px 0 32px}
  .u-section-4 .u-layout-cell-1 {min-height: 159px}
  .u-section-4 .u-container-layout-1 {padding: 20px 60px}
  .u-section-4 .u-text-1 {margin: 13px 0 0}
  .u-section-4 .u-text-2 {margin: 20px 0 0}
  .u-section-4 .u-layout-cell-2 {min-height: 159px}
  .u-section-4 .u-container-layout-2 {padding: 20px 60px}
  .u-section-4 .u-text-3 {margin: 0}
  .u-section-4 .u-text-4 {margin: 20px 0 0}
  .u-section-4 .u-image-1 {min-height: 351px; background-image: url("https://d2e0ab19zxiehc.cloudfront.net/childrens_chester/_cover.jpg"); background-position: 50% 50%}
  .u-section-4 .u-container-layout-3 {padding: 20px}
  .u-section-4 .u-image-2 {min-height: 351px; background-image: url("https://d2e0ab19zxiehc.cloudfront.net/childrens_chester/_MG_0545.jpg"); background-position: 70.94% 82%; background-size: 100%}
  //.u-section-4 .u-image-2 {min-height: 351px; background-image: url("https://d17pkle29f0gkk.cloudfront.net/eyJidWNrZXQiOiJwYWx0b3MiLCJrZXkiOiI3Yjc3NGJkOS0wN2MwLTQwOGUtYWJlNC0wZGIwZDc5NTcyYzYuanBnIiwiZWRpdHMiOnsicmVzaXplIjp7ImZpdCI6Imluc2lkZSIsIndpZHRoIjoxNDI0LCJoZWlnaHQiOjgwMH19fQ=="); background-position: 95.94% 82%; background-size: 115%}
  .u-section-4 .u-container-layout-4 {padding: 20px}

  @media (max-width: 1199px){ .u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
    .u-section-4 .u-container-layout-1 {padding-left: 49px; padding-right: 49px}
    .u-section-4 .u-container-layout-2 {padding-left: 49px; padding-right: 49px} }

  @media (max-width: 991px){ .u-section-4 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
    .u-section-4 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
    .u-section-4 .u-image-1 {background-position: 61.94% 75.32%; background-size: auto 110%}
    .u-section-4 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
    .u-section-4 .u-image-2 {background-position: 75.13% 79.89%; background-size: auto 115%}
    .u-section-4 .u-container-layout-4 {padding-left: 30px; padding-right: 30px} }

  @media (max-width: 767px){ .u-section-4 .u-container-layout-1 {padding-left: 49px; padding-right: 49px}
    .u-section-4 .u-container-layout-2 {padding-left: 49px; padding-right: 49px}
    .u-section-4 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
    .u-section-4 .u-container-layout-4 {padding-left: 20px; padding-right: 20px} }

  @media (max-width: 575px){ .u-section-4 .u-layout-cell-1 {min-height: 188px}
    .u-section-4 .u-layout-cell-2 {min-height: 177px}
    .u-section-4 .u-image-1 {min-height: 352px}
    .u-section-4 .u-image-2 {min-height: 349px; background-position: 65.04% 88.33%} }.u-section-5 {background-image: none}
  .u-section-5 .u-sheet-1 {min-height: 0}
  .u-section-5 .u-text-1 {width: 682px; margin: 60px auto 0}
  .u-section-5 .u-text-2 {width: 682px; font-size: 1.25rem; margin: 20px auto 0}
  .u-section-5 .u-shape-1 {height: 386px; width: 270px; margin: 30px 290px 0 auto}
  .u-section-5 .u-layout-wrap-1 {margin: -367px auto 60px 0}
  .u-section-5 .u-layout-cell-1 {min-height: 368px}
  .u-section-5 .u-container-layout-1 {padding: 20px 30px}
  .u-section-5 .u-text-3 {font-weight: 700; margin: 0}
  .u-section-5 .u-text-4 {font-weight: 700; margin: 20px 0 0}
  .u-section-5 .u-text-5 {margin: 20px 0 0}
  .u-section-5 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; margin: 30px auto 0 15px}
  .u-section-5 .u-layout-cell-2 {min-height: 368px}
  .u-section-5 .u-container-layout-2 {padding: 20px 30px}
  .u-section-5 .u-text-6 {font-weight: 700; margin: 0}
  .u-section-5 .u-text-7 {font-weight: 700; margin: 20px 0 0}
  .u-section-5 .u-text-8 {margin: 20px 0 0}
  .u-section-5 .u-btn-2 {background-image: none; text-transform: uppercase; font-weight: 700; margin: 30px auto 0}
  .u-section-5 .u-layout-cell-3 {background-image: none; min-height: 368px}
  .u-section-5 .u-container-layout-3 {padding: 20px 30px}
  .u-section-5 .u-text-9 {font-weight: 700; margin: 18px 19px 0}
  .u-section-5 .u-text-10 {font-weight: 700; margin: 18px 0 0}
  .u-section-5 .u-text-11 {margin: 20px 0 0}
  .u-section-5 .u-btn-3 {background-image: none; font-weight: 700; text-transform: uppercase; margin: 29px auto 0}
  .u-section-5 .u-layout-cell-4 {min-height: 368px}
  .u-section-5 .u-container-layout-4 {padding: 20px 30px}
  .u-section-5 .u-text-12 {font-weight: 700; margin: 0 8px}
  .u-section-5 .u-text-13 {font-weight: 700; margin: 18px 0 0}
  .u-section-5 .u-text-14 {margin: 22px 0 0}
  .u-section-5 .u-btn-4 {background-image: none; font-weight: 700; text-transform: uppercase; margin: 27px auto 0}

  @media (max-width: 1199px){ .u-section-5 {min-height: 654px}
    .u-section-5 .u-sheet-1 {min-height: 654px}
    .u-section-5 .u-shape-1 {height: 405px; width: 222px; margin-right: 239px}
    .u-section-5 .u-layout-wrap-1 {margin-top: -386px; margin-right: initial; margin-left: initial}
    .u-section-5 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
    .u-section-5 .u-btn-1 {margin-left: 0}
    .u-section-5 .u-container-layout-2 {padding-left: 25px; padding-right: 25px}
    .u-section-5 .u-text-6 {width: 212px; margin-left: -25px; margin-right: -25px}
    .u-section-5 .u-text-7 {width: 212px; margin-left: -25px; margin-right: -25px}
    .u-section-5 .u-text-8 {width: 165px; margin-left: -2px; margin-right: -2px}
    .u-section-5 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
    .u-section-5 .u-text-9 {width: 143px; margin-left: auto; margin-right: auto}
    .u-section-5 .u-text-10 {width: 143px; margin-left: auto; margin-right: auto}
    .u-section-5 .u-text-11 {width: 143px; margin-left: auto; margin-right: auto}
    .u-section-5 .u-container-layout-4 {padding-left: 16px; padding-right: 16px}
    .u-section-5 .u-text-12 {margin-left: 0; margin-right: 0} }

  @media (max-width: 991px){ .u-section-5 {min-height: 1033px}
    .u-section-5 .u-sheet-1 {min-height: 1033px}
    .u-section-5 .u-text-1 {margin-left: 19px; margin-right: 19px}
    .u-section-5 .u-text-2 {margin-left: 19px; margin-right: 19px}
    .u-section-5 .u-shape-1 {height: 371px; width: 350px; margin-top: 417px; margin-right: auto; margin-left: 0}
    .u-section-5 .u-layout-wrap-1 {margin-top: -739px; margin-right: initial; margin-left: initial}
    .u-section-5 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
    .u-section-5 .u-btn-1 {margin-left: auto}
    .u-section-5 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
    .u-section-5 .u-text-6 {margin-left: 19px; margin-right: 19px}
    .u-section-5 .u-text-7 {margin-left: 38px; margin-right: 38px}
    .u-section-5 .u-text-8 {width: 198px; margin-left: auto; margin-right: auto}
    .u-section-5 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
    .u-section-5 .u-text-9 {width: 215px; margin-top: 0}
    .u-section-5 .u-text-10 {width: 184px}
    .u-section-5 .u-text-11 {width: 203px}
    .u-section-5 .u-container-layout-4 {padding-left: 30px; padding-right: 30px}
    .u-section-5 .u-btn-4 {margin-top: 54px} }

  @media (max-width: 767px){ .u-section-5 {min-height: 1748px}
    .u-section-5 .u-sheet-1 {min-height: 1748px}
    .u-section-5 .u-text-1 {width: 540px; margin-left: 0; margin-right: 0}
    .u-section-5 .u-text-2 {width: 540px; margin-left: 0; margin-right: 0}
    .u-section-5 .u-shape-1 {height: 386px; width: 538px; margin-top: 785px}
    .u-section-5 .u-layout-wrap-1 {margin-top: -1122px; margin-right: initial; margin-left: initial}
    .u-section-5 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
    .u-section-5 .u-container-layout-2 {padding-left: 25px; padding-right: 25px}
    .u-section-5 .u-text-6 {width: 297px; margin-left: auto; margin-right: auto}
    .u-section-5 .u-text-7 {margin-left: auto; margin-right: auto}
    .u-section-5 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
    .u-section-5 .u-text-10 {width: 143px}
    .u-section-5 .u-text-11 {width: 229px}
    .u-section-5 .u-container-layout-4 {padding-left: 16px; padding-right: 16px} }

  @media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 1753px}
    .u-section-5 .u-text-1 {width: 340px; margin-top: 40px; margin-left: auto; margin-right: auto}
    .u-section-5 .u-text-2 {width: 340px; margin-left: auto; margin-right: auto}
    .u-section-5 .u-shape-1 {height: 414px; width: 338px; margin-left: auto}
    .u-section-5 .u-layout-wrap-1 {margin-top: -1150px; margin-bottom: 40px; margin-right: initial; margin-left: initial}
    .u-section-5 .u-layout-cell-1 {min-height: 310px}
    .u-section-5 .u-layout-cell-2 {min-height: 406px}
    .u-section-5 .u-text-6 {width: 290px}
    .u-section-5 .u-text-7 {width: 210px}
    .u-section-5 .u-text-8 {width: 226px}
    .u-section-5 .u-layout-cell-3 {min-height: 453px}
    .u-section-5 .u-text-11 {width: 239px}
    .u-section-5 .u-layout-cell-4 {min-height: 384px} }.u-section-6 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("https://d2e0ab19zxiehc.cloudfront.net/52e6d0464b55aa14f6da8c7dda79367d1d38d6ed5b586c4870287ed79145c251b9_1280.jpg"); background-position: 50% 50%}
  .u-section-6 .u-sheet-1 {min-height: 493px; margin: 0 80px}
  .u-section-6 .u-text-1 {text-transform: uppercase; letter-spacing: 7px; line-height: 1; font-weight: 400; margin: 60px 0 0 410px}
  .u-section-6 .u-text-2 {font-size: 3.75rem; font-weight: 700; text-shadow: 0 2px 8px rgba(26,26,26,1); margin: 60px 0 0 410px}
  .u-section-6 .u-text-3 {text-shadow: 0 0 8px rgba(26,26,26,1); font-size: 1.25rem; background-image: none; margin: 10px 0 60px 410px}

  @media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 456px; margin-left: auto; margin-right: autopx}
    .u-section-6 .u-text-1 {margin-left: 210px}
    .u-section-6 .u-text-2 {margin-left: 210px}
    .u-section-6 .u-text-3 {margin-left: 210px} }

  @media (max-width: 991px){ .u-section-6 .u-text-1 {width: 720px; margin-left: 0}
    .u-section-6 .u-text-2 {width: 720px; margin-left: 0}
    .u-section-6 .u-text-3 {width: 720px; margin-left: 0} }

  @media (max-width: 767px){ .u-section-6 .u-text-1 {width: 540px}
    .u-section-6 .u-text-2 {width: 540px}
    .u-section-6 .u-text-3 {width: 540px} }

  @media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 680px; margin-left: 0; margin-right: 0}
    .u-section-6 .u-text-1 {margin-top: 50px; width: auto}
    .u-section-6 .u-text-2 {width: auto}
    .u-section-6 .u-text-3 {font-size: 1.125rem; margin-top: 60px; margin-bottom: 50px; width: auto} }.u-section-7 .u-sheet-1 {min-height: 863px}
  .u-section-7 .u-layout-wrap-1 {margin: 49px auto 60px 0}
  .u-section-7 .u-layout-cell-1 {min-height: 559px}
  .u-section-7 .u-image-1 {width: 511px; height: 444px; margin: 0 auto 0 0}
  .u-section-7 .u-image-2 {width: 372px; height: 311px; margin: -196px auto -1px 241px}
  .u-section-7 .u-layout-cell-2 {min-height: 559px}
  .u-section-7 .u-container-layout-2 {padding-left: 85px; padding-top: 20px; padding-bottom: 20px}
  .u-section-7 .u-text-1 {text-transform: uppercase; margin: 0}
  .u-section-7 .u-text-2 {margin: 20px 0 0}
  .u-section-7 .u-text-3 {font-weight: 700; background-image: none; font-style: normal; margin: 40px 0 0}
  .u-section-7 .u-text-4 {margin: 10px 0 0}
  .u-section-7 .u-text-5 {font-style: italic; font-weight: 700; margin: 20px 0 0}

  @media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 657px}
    .u-section-7 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
    .u-section-7 .u-image-1 {width: 421px}
    .u-section-7 .u-image-2 {width: 307px; margin-left: 198px}
    .u-section-7 .u-container-layout-2 {padding-left: 70px}
    .u-section-7 .u-text-1 {margin-top: 50px}
    .u-section-7 .u-text-2 {margin-right: 36px}
    .u-section-7 .u-text-3 {width: 330px; margin-right: 70px} }

  @media (max-width: 991px){ .u-section-7 .u-image-1 {width: 323px}
    .u-section-7 .u-image-2 {width: 235px; object-position: 64.86% 50%; background-position: 64.86% 50%; margin-left: 152px}
    .u-section-7 .u-container-layout-2 {padding-right: 0; padding-left: 55px}
    .u-section-7 .u-text-1 {margin-top: 0}
    .u-section-7 .u-text-2 {margin-right: 28px}
    .u-section-7 .u-text-3 {width: 253px; margin-right: 54px} }

  @media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 1016px}
    .u-section-7 .u-image-1 {width: 491px}
    .u-section-7 .u-image-2 {width: 343px; margin-right: 0; margin-bottom: 0; margin-left: auto}
    .u-section-7 .u-layout-cell-2 {min-height: 359px}
    .u-section-7 .u-container-layout-2 {padding-left: 10px}
    .u-section-7 .u-text-1 {margin-top: 26px}
    .u-section-7 .u-text-2 {margin-top: 13px; margin-right: 21px}
    .u-section-7 .u-text-3 {width: auto; margin-right: 122px} }

  @media (max-width: 575px){ .u-section-7 .u-image-1 {width: 315px; object-position: 39.23% 50%; background-position: 39.23% 50%}
    .u-section-7 .u-image-2 {width: 268px}
    .u-section-7 .u-text-1 {margin-top: 51px}
    .u-section-7 .u-text-2 {margin-top: 20px; margin-right: 13px}
    .u-section-7 .u-text-3 {width: 199px; margin-right: 25px} }.red {
                                                                 color:red;
                                                               }
}

