#welcome {

  .u-section-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/ChesterIMG_0500b.jpg")
  }
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
    margin: 0 auto
  }
  .u-section-1 .u-text-1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 10px;
    margin: 180px 20px 0
  }
  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(64, 64, 64, 1);
    margin: 59px 20px 0
  }
  .u-section-1 .u-text-3 {
    font-size: 3rem;
    margin: 20px 20px 0
  }
  .u-section-1 .u-text-4 {
    font-weight: 600;
    margin: 35px 20px 0
  }
  .u-section-1 .u-btn-1 {
    text-transform: uppercase;
    font-size: 1.125rem;
    background-image: none;
    margin: 93px auto 60px;
    padding: 16px 40px
  }

  @media (max-width: 1199px) {
    .u-section-1 {
      background-position: 49.37% 50%
    }

    .u-section-1 .u-sheet-1 {
      min-height: 471px
    }

    .u-section-1 .u-text-1 {
      margin-left: 0;
      margin-right: 0
    }

    .u-section-1 .u-text-2 {
      margin-left: 0;
      margin-right: 0
    }

    .u-section-1 .u-text-3 {
      margin-left: 0;
      margin-right: 0
    }

    .u-section-1 .u-text-4 {
      animation-duration: 1000ms;
      margin-left: 0;
      margin-right: 0
    }

    .u-section-1 .u-btn-1 {
      border-style: solid
    }
  }
  .u-section-2 .u-sheet-1 {
    min-height: 1023px
  }
  .u-section-2 .u-shape-1 {
    width: 170px;
    height: 148px;
    background-image: linear-gradient(#c4daf2, #35506d);
    box-shadow: 2px 2px 20px 0 rgba(128, 128, 128, 1);
    margin: -49px auto 0 340px
  }
  .u-section-2 .u-shape-2 {
    width: 170px;
    height: 148px;
    background-image: linear-gradient(#c4daf2, #35506d);
    box-shadow: 2px 2px 20px 0 rgba(128, 128, 128, 1);
    margin: -148px 440px 0 auto
  }
  .u-section-2 .u-shape-3 {
    width: 170px;
    height: 148px;
    background-image: linear-gradient(#c4daf2, #35506d);
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin: -148px 253px 0 auto
  }
  .u-section-2 .u-shape-4 {
    width: 170px;
    height: 148px;
    background-image: linear-gradient(#c4daf2, #35506d);
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin: -148px 66px 0 auto
  }
  .u-section-2 .u-icon-1 {
    height: 100px;
    width: 100px;
    background-image: none;
    margin: -124px auto 0 375px
  }
  .u-section-2 .u-icon-2 {
    height: 100px;
    width: 100px;
    background-image: none;
    margin: -100px 475px 0 auto
  }
  .u-section-2 .u-icon-3 {
    height: 100px;
    width: 100px;
    background-image: none;
    margin: -100px 288px 0 auto
  }
  .u-section-2 .u-icon-4 {
    height: 100px;
    width: 100px;
    background-image: none;
    margin: -100px 101px 0 auto
  }
  .u-section-2 .u-layout-wrap-1 {
    pointer-events: auto;
    width: 1140px;
    margin: 185px 0 0
  }
  .u-section-2 .u-image-1 {
    min-height: 300px;
    pointer-events: auto;
    background-image: url("images/20191201DSCF04972.jpg");
    background-position: 50% 50%
  }
  .u-section-2 .u-container-layout-1 {
    padding: 30px
  }
  .u-section-2 .u-image-2 {
    min-height: 300px;
    pointer-events: auto;
    background-image: url("images/20191201DSCF05252.jpg");
    background-position: 50% 50%;
    background-size: 200%
  }
  .u-section-2 .u-container-layout-2 {
    padding: 30px
  }
  .u-section-2 .u-image-3 {
    min-height: 300px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("images/20191201DSCF05402.jpg");
    background-position: 50% 50%;
    background-size: 165%
  }
  .u-section-2 .u-container-layout-3 {
    padding: 30px
  }
  .u-section-2 .u-image-4 {
    min-height: 300px;
    background-image: url("images/20191201DSCF04372.jpg");
    background-position: 50% 50%
  }
  .u-section-2 .u-container-layout-4 {
    padding: 30px
  }
  .u-section-2 .u-layout-cell-5 {
    min-height: 636px;
    pointer-events: auto
  }
  .u-section-2 .u-container-layout-5 {
    padding: 30px 60px
  }
  .u-section-2 .u-image-5 {
    width: 180px;
    height: 180px;
    background-image: url("images/chester.jpg");
    background-position: 50% 50%;
    box-shadow: 0 2px 8px 0 rgba(128, 128, 128, 1);
    margin: 0 auto
  }
  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin: 20px 0 0
  }
  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin: 30px 0 0
  }
  .u-section-2 .u-text-3 {
    margin: 20px 0 0
  }
  .u-section-2 .u-btn-1 {
    margin: 20px auto 0
  }
  .u-section-2 .u-image-6 {
    width: 180px;
    height: 180px;
    background-image: url("images/20191201DSCF0786.jpg");
    background-position: 50% 50%;
    margin: -403px auto 60px 188px
  }

  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 100px
    }

    .u-section-2 .u-layout-wrap-1 {
      width: 940px
    }

    .u-section-2 .u-image-1 {
      min-height: 247px
    }

    .u-section-2 .u-image-2 {
      min-height: 247px
    }

    .u-section-2 .u-image-3 {
      min-height: 247px
    }

    .u-section-2 .u-image-4 {
      min-height: 247px
    }

    .u-section-2 .u-layout-cell-5 {
      min-height: 524px
    }
  }

  @media (max-width: 991px) {
    .u-section-2 .u-layout-wrap-1 {
      width: 720px
    }

    .u-section-2 .u-image-1 {
      min-height: 378px
    }

    .u-section-2 .u-image-2 {
      min-height: 378px
    }

    .u-section-2 .u-image-3 {
      min-height: 378px
    }

    .u-section-2 .u-image-4 {
      min-height: 378px
    }

    .u-section-2 .u-layout-cell-5 {
      min-height: 100px
    }

    .u-section-2 .u-container-layout-5 {
      padding-left: 30px;
      padding-right: 30px
    }
  }

  @media (max-width: 767px) {
    .u-section-2 .u-shape-1 {
      margin-top: 20px;
      margin-left: 185px
    }

    .u-section-2 .u-shape-2 {
      margin-top: 20px;
      margin-right: 370px
    }

    .u-section-2 .u-shape-3 {
      margin-top: 20px
    }

    .u-section-2 .u-shape-4 {
      margin-top: 20px
    }

    .u-section-2 .u-icon-1 {
      margin-top: 20px;
      margin-left: 220px
    }

    .u-section-2 .u-icon-2 {
      margin-top: 20px;
      margin-right: 440px
    }

    .u-section-2 .u-layout-wrap-1 {
      margin-top: 20px;
      width: 540px
    }

    .u-section-2 .u-image-1 {
      min-height: 567px
    }

    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-2 .u-image-2 {
      min-height: 567px
    }

    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-2 .u-image-3 {
      min-height: 567px
    }

    .u-section-2 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-2 .u-image-4 {
      min-height: 567px
    }

    .u-section-2 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-2 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-2 .u-image-6 {
      margin-top: 20px;
      margin-left: 180px
    }
  }

  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 2332px
    }

    .u-section-2 .u-shape-1 {
      margin-left: 170px
    }

    .u-section-2 .u-shape-2 {
      margin-right: 170px
    }

    .u-section-2 .u-shape-3 {
      margin-right: 170px
    }

    .u-section-2 .u-icon-2 {
      margin-right: 240px
    }

    .u-section-2 .u-icon-3 {
      margin-right: 240px
    }

    .u-section-2 .u-layout-wrap-1 {
      width: 340px
    }

    .u-section-2 .u-image-1 {
      min-height: 357px
    }

    .u-section-2 .u-image-2 {
      min-height: 357px
    }

    .u-section-2 .u-image-3 {
      min-height: 357px
    }

    .u-section-2 .u-image-4 {
      min-height: 357px
    }

    .u-section-2 .u-image-6 {
      margin-left: 160px
    }
  }
  .u-section-3 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/2019113020191130191000428102.jpg")
  }
  .u-section-3 .u-sheet-1 {
    min-height: 773px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative
  }
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin: 96px 291px 0 0
  }
  .u-section-3 .u-text-2 {
    margin: 20px 291px 0 0
  }
  .u-section-3 .u-text-3 {
    margin: 20px 291px 0 0
  }
  .u-section-3 .u-layout-wrap-1 {
    width: 1002px;
    margin: 60px auto 60px 0
  }
  .u-section-3 .u-image-1 {
    min-height: 302px;
    background-image: url("images/20191117DSCF76961.jpg")
  }
  .u-section-3 .u-container-layout-1 {
    padding: 30px
  }
  .u-section-3 .u-image-2 {
    min-height: 302px;
    background-image: url("images/20191101port463.jpg");
    background-position: 50% 50%;
    animation-duration: 1000ms
  }
  .u-section-3 .u-container-layout-2 {
    padding: 30px
  }
  .u-section-3 .u-image-3 {
    min-height: 302px;
    background-image: url("images/20191117DSCF7893.jpg");
    background-position: 50% 50%
  }
  .u-section-3 .u-container-layout-3 {
    padding: 30px
  }

  @media (max-width: 1199px) {
    .u-section-3 {
      background-position: 50% 50%;
      background-size: 120%
    }

    .u-section-3 .u-sheet-1 {
      min-height: 637px
    }

    .u-section-3 .u-text-1 {
      margin-right: 91px
    }

    .u-section-3 .u-text-2 {
      margin-right: 91px
    }

    .u-section-3 .u-text-3 {
      margin-right: 91px
    }

    .u-section-3 .u-layout-wrap-1 {
      width: 940px
    }

    .u-section-3 .u-image-1 {
      min-height: 327px
    }

    .u-section-3 .u-image-2 {
      min-height: 327px
    }

    .u-section-3 .u-image-3 {
      min-height: 327px
    }
  }

  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 488px
    }

    .u-section-3 .u-text-1 {
      margin-right: auto
    }

    .u-section-3 .u-text-2 {
      margin-right: auto
    }

    .u-section-3 .u-text-3 {
      margin-right: 0
    }

    .u-section-3 .u-layout-wrap-1 {
      width: 720px
    }

    .u-section-3 .u-image-1 {
      min-height: 262px
    }

    .u-section-3 .u-image-2 {
      min-height: 214px
    }

    .u-section-3 .u-image-3 {
      min-height: 214px
    }
  }

  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 366px
    }

    .u-section-3 .u-layout-wrap-1 {
      width: 540px
    }

    .u-section-3 .u-image-1 {
      min-height: 590px
    }

    .u-section-3 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-3 .u-image-2 {
      min-height: 482px
    }

    .u-section-3 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-3 .u-image-3 {
      min-height: 482px
    }

    .u-section-3 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px
    }
  }

  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 230px
    }

    .u-section-3 .u-layout-wrap-1 {
      width: 340px
    }

    .u-section-3 .u-image-1 {
      min-height: 371px
    }

    .u-section-3 .u-image-2 {
      min-height: 303px
    }

    .u-section-3 .u-image-3 {
      min-height: 303px
    }
  }
  .u-section-4 {
    background-image: none
  }
  .u-section-4 .u-sheet-1 {
    min-height: 1476px
  }
  .u-section-4 .u-layout-wrap-1 {
    width: 1042px;
    margin: 60px auto 0
  }
  .u-section-4 .u-layout-cell-1 {
    min-height: 420px
  }
  .u-section-4 .u-container-layout-1 {
    padding: 30px
  }
  .u-section-4 .u-image-1 {
    width: 300px;
    height: 300px;
    background-image: url("images/avatar.jpg");
    background-position: 50% 50%;
    margin: 0 auto
  }
  .u-section-4 .u-layout-cell-2 {
    min-height: 420px
  }
  .u-section-4 .u-container-layout-2 {
    padding: 30px
  }
  .u-section-4 .u-text-1 {
    margin: 33px 0 0
  }
  .u-section-4 .u-text-2 {
    margin-bottom: 0;
    margin-top: 20px
  }
  .u-section-4 .u-btn-1 {
    margin: 30px auto 0
  }
  .u-section-4 .u-layout-wrap-2 {
    margin-top: 60px;
    margin-bottom: 60px
  }
  .u-section-4 .u-image-2 {
    min-height: 267px;
    background-image: url("images/_cover.jpg");
    background-position: 50% 76.25%
  }
  .u-section-4 .u-container-layout-3 {
    padding: 30px
  }
  .u-section-4 .u-image-3 {
    min-height: 726px;
    background-image: url("images/_cover1.jpg")
  }
  .u-section-4 .u-container-layout-4 {
    padding: 30px
  }
  .u-section-4 .u-text-3 {
    font-size: 6rem;
    background-image: none;
    font-weight: 700;
    animation-duration: 1000ms;
    margin: 237px 68px 0 0
  }
  .u-section-4 .u-layout-cell-5 {
    min-height: 206px
  }
  .u-section-4 .u-container-layout-5 {
    padding: 30px
  }
  .u-section-4 .u-text-4 {
    font-size: 6rem;
    font-weight: 700;
    margin: -4px -19px 0
  }
  .u-section-4 .u-icon-1 {
    height: 64px;
    width: 64px;
    background-image: none;
    margin: -67px auto 0 19px
  }
  .u-section-4 .u-image-4 {
    min-height: 133px;
    background-image: url("images/52e6d1454e57ad14f6da8c7dda79367d1d38d6ed5b586c4870287ed79145c25ab0_1280.jpg");
    background-position: 50% 50%
  }
  .u-section-4 .u-container-layout-6 {
    padding: 30px
  }
  .u-section-4 .u-image-5 {
    min-height: 133px;
    background-image: url("images/52e6d045435ba414f6da8c7dda79367d1d38d6ed5b586c4870287ed79145c25ab0_1280.jpg");
    background-position: 50% 50%
  }
  .u-section-4 .u-container-layout-7 {
    padding: 30px
  }

  @media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
      min-height: 100px
    }

    .u-section-4 .u-layout-wrap-1 {
      width: 940px
    }

    .u-section-4 .u-layout-cell-1 {
      min-height: 346px
    }

    .u-section-4 .u-layout-cell-2 {
      min-height: 346px
    }

    .u-section-4 .u-layout-wrap-2 {
      position: relative
    }

    .u-section-4 .u-image-2 {
      min-height: 220px
    }

    .u-section-4 .u-image-3 {
      min-height: 599px
    }

    .u-section-4 .u-text-3 {
      margin-right: 1px
    }

    .u-section-4 .u-layout-cell-5 {
      min-height: 170px
    }

    .u-section-4 .u-text-4 {
      margin-left: 0;
      margin-right: 0
    }

    .u-section-4 .u-image-4 {
      min-height: 110px
    }

    .u-section-4 .u-image-5 {
      min-height: 110px
    }
  }

  @media (max-width: 991px) {
    .u-section-4 .u-layout-wrap-1 {
      width: 720px
    }

    .u-section-4 .u-layout-cell-1 {
      min-height: 100px
    }

    .u-section-4 .u-image-1 {
      width: 216px;
      height: 216px
    }

    .u-section-4 .u-layout-cell-2 {
      min-height: 100px
    }

    .u-section-4 .u-image-2 {
      min-height: 169px
    }

    .u-section-4 .u-image-3 {
      min-height: 459px
    }

    .u-section-4 .u-text-3 {
      margin-right: 0
    }

    .u-section-4 .u-layout-cell-5 {
      min-height: 100px
    }

    .u-section-4 .u-image-4 {
      min-height: 84px
    }

    .u-section-4 .u-image-5 {
      min-height: 84px
    }
  }

  @media (max-width: 767px) {
    .u-section-4 .u-layout-wrap-1 {
      width: 540px
    }

    .u-section-4 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-4 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-4 .u-text-2 {
      margin-left: 0;
      margin-right: 0
    }

    .u-section-4 .u-image-2 {
      min-height: 190px
    }

    .u-section-4 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-4 .u-image-3 {
      min-height: 1033px
    }

    .u-section-4 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-4 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-4 .u-image-4 {
      min-height: 189px
    }

    .u-section-4 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-4 .u-image-5 {
      min-height: 189px
    }

    .u-section-4 .u-container-layout-7 {
      padding-left: 10px;
      padding-right: 10px
    }
  }

  @media (max-width: 575px) {
    .u-section-4 .u-layout-wrap-1 {
      width: 340px
    }

    .u-section-4 .u-image-2 {
      min-height: 120px
    }

    .u-section-4 .u-image-3 {
      min-height: 650px
    }

    .u-section-4 .u-image-4 {
      min-height: 119px
    }

    .u-section-4 .u-image-5 {
      min-height: 119px
    }
  }
  .u-section-5 {
    margin-top: 0;
    margin-bottom: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("images/20191117DSCF9631.jpg")
  }
  .u-section-5 .u-sheet-1 {
    min-height: 364px
  }
  .u-section-5 .u-text-1 {
    width: 667px;
    margin: 106px 237px 0
  }
  .u-section-5 .u-text-2 {
    width: 667px;
    margin: 20px auto 0
  }
  .u-section-5 .u-social-icons-1 {
    height: 48px;
    min-height: 16px;
    width: 246px;
    min-width: 118px;
    white-space: nowrap;
    margin: 20px auto 60px
  }
  .u-section-5 .u-icon-1 {
    height: 100%
  }
  .u-section-5 .u-icon-2 {
    height: 100%
  }
  .u-section-5 .u-icon-3 {
    height: 100%
  }
  .u-section-5 .u-icon-4 {
    height: 100%
  }

  @media (max-width: 1199px) {
    .u-section-5 {
      background-position: 50% 47.58%
    }

    .u-section-5 .u-sheet-1 {
      min-height: 297px
    }

    .u-section-5 .u-text-1 {
      margin-left: 137px;
      margin-right: 137px
    }
  }

  @media (max-width: 991px) {
    .u-section-5 .u-text-1 {
      margin-left: 27px;
      margin-right: 27px
    }
  }

  @media (max-width: 767px) {
    .u-section-5 .u-text-1 {
      width: 540px;
      margin-left: 0;
      margin-right: 0
    }

    .u-section-5 .u-text-2 {
      width: 540px
    }
  }

  @media (max-width: 575px) {
    .u-section-5 .u-text-1 {
      width: 340px
    }

    .u-section-5 .u-text-2 {
      width: 340px
    }
  }
  .u-section-6 {
    margin-top: 0;
    margin-bottom: 0
  }
  .u-section-6 .u-sheet-1 {
    min-height: 640px
  }
  .u-section-6 .u-layout-wrap-1 {
    margin: 70px 0 39px
  }
  .u-section-6 .u-image-1 {
    min-height: 250px;
    background-image: url("images/_cover2.jpg");
    background-position: 50% 50%
  }
  .u-section-6 .u-container-layout-1 {
    padding: 30px
  }
  .u-section-6 .u-layout-cell-2 {
    min-height: 266px
  }
  .u-section-6 .u-container-layout-2 {
    padding: 30px
  }
  .u-section-6 .u-text-1 {
    margin: 0
  }
  .u-section-6 .u-text-2 {
    margin: 20px 0 0
  }
  .u-section-6 .u-btn-1 {
    margin: 20px auto 0
  }
  .u-section-6 .u-image-2 {
    min-height: 250px;
    background-image: url("images/DSC_1096.jpg");
    background-position: 50% 50%
  }
  .u-section-6 .u-container-layout-3 {
    padding: 30px
  }
  .u-section-6 .u-image-3 {
    min-height: 250px;
    background-image: url("images/DSC_0932.jpg");
    background-position: 50% 79.66%
  }
  .u-section-6 .u-container-layout-4 {
    padding: 30px
  }
  .u-section-6 .u-image-4 {
    min-height: 250px;
    background-image: url("images/5563ec21-d4fb-58e0-2f07-1ea36ba31c0c.jpg");
    background-position: 50% 50%
  }
  .u-section-6 .u-container-layout-5 {
    padding: 30px
  }
  .u-section-6 .u-image-5 {
    min-height: 250px;
    background-image: url("images/DSC_7744.jpg");
    background-position: 50% 78.59%
  }
  .u-section-6 .u-container-layout-6 {
    padding: 30px
  }

  @media (max-width: 1199px) {
    .u-section-6 .u-layout-wrap-1 {
      margin-bottom: 0;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-6 .u-layout-cell-2 {
      min-height: 250px
    }
  }

  @media (max-width: 767px) {
    .u-section-6 .u-sheet-1 {
      min-height: auto
    }

    .u-section-6 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-6 .u-layout-cell-2 {
      min-height: auto
    }

    .u-section-6 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-6 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-6 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-6 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-6 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px
    }
  }
  .u-section-7 {
    background-image: none;
    margin-top: 0;
    margin-bottom: 0
  }
  .u-section-7 .u-sheet-1 {
    min-height: 815px
  }
  .u-section-7 .u-text-1 {
    width: 680px;
    margin: 73px 230px 0
  }
  .u-section-7 .u-text-2 {
    width: 680px;
    margin: 20px auto 0
  }
  .u-section-7 .u-map-1 {
    height: 368px;
    margin: 30px auto 0 0
  }
  .u-section-7 .u-layout-wrap-1 {
    margin: 30px auto 60px 0
  }
  .u-section-7 .u-layout-cell-1 {
    min-height: 158px
  }
  .u-section-7 .u-container-layout-1 {
    padding: 30px 60px
  }
  .u-section-7 .u-icon-1 {
    height: 64px;
    width: 64px;
    margin: 17px auto 0 0
  }
  .u-section-7 .u-text-3 {
    margin: -64px 21px 0 88px
  }
  .u-section-7 .u-text-4 {
    width: 91px;
    margin: 11px auto 0
  }
  .u-section-7 .u-layout-cell-2 {
    min-height: 158px
  }
  .u-section-7 .u-container-layout-2 {
    padding: 30px 60px
  }
  .u-section-7 .u-text-5 {
    margin: 0
  }

  @media (max-width: 1199px) {
    .u-section-7 .u-sheet-1 {
      min-height: 672px
    }

    .u-section-7 .u-text-1 {
      margin-left: 130px;
      margin-right: 130px
    }

    .u-section-7 .u-map-1 {
      margin-right: initial;
      margin-left: initial
    }

    .u-section-7 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial
    }

    .u-section-7 .u-layout-cell-1 {
      min-height: 130px
    }

    .u-section-7 .u-text-3 {
      margin-left: 9px;
      margin-right: 0
    }

    .u-section-7 .u-layout-cell-2 {
      min-height: 130px
    }
  }

  @media (max-width: 991px) {
    .u-section-7 .u-sheet-1 {
      min-height: 515px
    }

    .u-section-7 .u-text-1 {
      margin-left: 20px;
      margin-right: 20px
    }

    .u-section-7 .u-layout-cell-1 {
      min-height: 100px
    }

    .u-section-7 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px
    }

    .u-section-7 .u-text-3 {
      margin-left: 0
    }

    .u-section-7 .u-layout-cell-2 {
      min-height: 100px
    }

    .u-section-7 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px
    }
  }

  @media (max-width: 767px) {
    .u-section-7 .u-sheet-1 {
      min-height: 386px
    }

    .u-section-7 .u-text-1 {
      width: 540px;
      margin-left: 0;
      margin-right: 0
    }

    .u-section-7 .u-text-2 {
      width: 540px
    }

    .u-section-7 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-7 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px
    }
  }

  @media (max-width: 575px) {
    .u-section-7 .u-sheet-1 {
      min-height: 243px
    }

    .u-section-7 .u-text-1 {
      width: 340px
    }

    .u-section-7 .u-text-2 {
      width: 340px
    }
  }

}
