<div id="new-password" v-cloak>
  <div class="container">
    <h1 class="text-center">Reset wachtwoord</h1>
    <div class="new-password-form">
      <hr/>
      <ajax-form action="updatePasswordAndLogin" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="password">Nieuwe wachtwoord</label>
          <input class="form-control" id="password" name="password" type="password" class="[formErrors.wachtwoord ? 'is-invalid' : "]" v-model.trim="formData.wachtwoord" tijdelijke aanduiding="••••••••" autocomplete="nieuw wachtwoord" focus-de eerste>
          <div class="invalid-feedback" v-if="formErrors.password">A.u.b. voer een wachtwoord in.</div>
        </div>
        <div class="form-group">
          <label for="confirm-password">wachtwoord Bevestigen</label>
          <input class="form-control" id="confirm password" name="bevestig wachtwoord" type="password" class="[formErrors.wachtwoord bevestigen ? 'is-invalid' : "]" v-model.trim="formData.wachtwoord bevestigen" tijdelijke aanduiding="••••••••" autocomplete="nieuw wachtwoord">
          <div class="invalid-feedback" v-if="formErrors.confirmPassword">Uw nieuwe wachtwoord en de bevestiging komen niet overeen.</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>er is Een fout opgetreden tijdens het verwerken van uw verzoek. Controleer uw gegevens en probeer het opnieuw, of neem contact op met ondersteuning <a href="/contact"></a> als de fout zich blijft voordoen.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Indienen</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center">uw wachtwoord Onthoudt? <a href="/login">Login</a></p>
    </div>
  </div>
</div>
<%- /* Laat de lokale bevolking als `venster.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
