<div id="forgot-password" v-cloak>
  <div class="container">
    <h1 class="text-center">Herstellen wachtwoord</h1>
    <div class="forgot-form" v-if="!cloudSuccess">
      <p class="text-center">Voer hieronder uw e-mailadres om het wachtwoord voor uw account.</p>
      <hr/>
      <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <input type="email" name="email-adres" class="form-control" placeholder="sturgeon@example.com" klasse="[formErrors.e-mailadres ? 'is-invalid' : "]" v-model.trim="formData.emailAddress" autocomplete="e-mail" focus-de eerste>
          <div class="invalid-feedback" v-if="formErrors.emailAddress">vul een geldig e-mail adres.</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>er is Een fout opgetreden tijdens het verwerken van uw verzoek. Controleer uw gegevens en probeer het opnieuw, of neem contact op met ondersteuning <a href="/contact"></a> als de fout zich blijft voordoen.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Stuur de link opnieuw instellen</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/login">Terug te loggen</a></p>
    </div>
    <div class="success-message" v-if="cloudSuccess">
      <p>sturen We een link naar een update van uw wachtwoord.</p>
      <hr/>
      <p>Als de e-mail niet aankomt na een paar minuten, controleer uw spam map.  Als u nog steeds niet kunt vinden, probeer het opnieuw, of neem contact op met ondersteuning <a href="/contact"></a>.</p>
      <p class="text-center"><a class="btn btn-outline-primary" href="/login">Terug te loggen</a></p>
    </div>
  </div>
</div>
<%- /* Laat de lokale bevolking als `venster.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
