<div id="confirmed-email" v-cloak>
  <div class="container">
    <h1 class="text-center">e-Mail bevestigd</h1>
    <div class="confirmation-message">
      <hr/>
      <p>Gefeliciteerd, je account is nu geverifieerd! Je hebt nu volledige toegang tot uw account.</p>
      <p><a class="btn btn-outline-info" href="/">Aan mijn dashboard</a></p>
    </div>
  </div>
</div>
<%- /* Laat de lokale bevolking als `venster.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
