<div id="terms">
  <div class="container">
    <h1>Voorwaarden van de dienst</h1>
    <hr/>
    <p>Er zijn een aantal eenvoudige basisregels die je nodig hebt om akkoord te gaan voordat u Poale Ell.  Het spelen van deze regels is een verplicht onderdeel van het gebruik van onze applicatie, dus als je daar vragen over hebt, neem dan <a href="/contact">ons een seintje</a> en we reageren posthaste.</p>

    <h3>Poale Ell overeenkomst</h3>
    <p>Door het gebruik van of het aanmelden voor Poale Ell, gaat u ermee akkoord gebonden te zijn door de volgende bepalingen en voorwaarden (de " Overeenkomst<strong></strong>"). </p>
    <p>Door het markeren van de toepassing "ik heb gelezen en ga akkoord met de algemene voorwaarden" aan te vinken akkoord verklaart met de Overeenkomst.</p>

    <h5>1. Poale Ell diensten</h5>
    <p>In ruil voor uw betaling van de van toepassing zijnde provisie voor inschrijving, verzoeken Poale Ell diensten, zoals beschreven op onze website <%= zeilen.config.aangepast.baseUrl %>. Wij zullen de Poale Ell diensten in overeenstemming met deze Overeenkomst en de overige bepalingen en voorwaarden, zoals beschreven op onze website <%= zeilen.config.aangepast.baseUrl %>.</p>

    <h5>2. Poale Ell account</h5>
    <p>om klant Te worden, moet u een bestelformulier en een account aanmaken door het verstrekken van voornaam, achternaam en bedrijfsnaam (indien van toepassing), e-mail adres en eventuele andere gegevens vermeld, zoals vereist. Wij kunnen weigeren een bestelling of aanvraag voor een account, om welke reden, in onze enige discretie. U erkent dat zullen we gebruik maken van het e-mailadres dat door u als de primaire methode voor communicatie. U bent zelf verantwoordelijk voor het wachtwoord van uw account veilig is. We kunnen niet en zal niet aansprakelijk zijn voor enig verlies of schade die voortvloeien uit het niet of niet handhaven van de beveiliging van de account en wachtwoord.</p>
    <p>Als u een bestelling plaatsen en aanmelden voor een account op naam van uw werkgever, uw werkgever wordt geacht de klant voor de toepassing van deze Overeenkomst, en u verklaart en garandeert dat u de bevoegdheid hebt uw werkgever bij deze Overeenkomst. Elke klant is er verantwoordelijk voor te zorgen dat zijn werknemers, agenten en onderaannemers voldoen aan deze Overeenkomst.</p>

    <h5>3. Kosten</h5>
    <p>U hiervoor een vergoeding te betalen voor uw abonnement zoals vermeld op uw bestelformulier Poale Ell.  Tarieven zijn gebaseerd op de looptijd en niet het daadwerkelijke gebruik en de kosten betaald zijn niet terugbetaalbaar.</p>

    <h5>4. Beëindiging</h5>
    <p>Beide partijen kunnen deze Overeenkomst beëindigen op elk moment, met of zonder oorzaak, onmiddellijk van kracht na schriftelijke of elektronische kennisgeving. Bij beëindiging van deze Overeenkomst, alle rechten die u krachtens deze overeenkomst zal onmiddellijk ophouden, met inbegrip van maar niet beperkt tot het recht op toegang van het Account, tenzij anders is bepaald in onze enige discretie.</p>

    <h5>5. Intellectuele eigendomsrechten</h5>
    <p>gaat U ermee akkoord om ons te voorzien van vertrouwelijke of geheime informatie. Elke partij erkent en stemt ermee in dat de andere partij kan het vrij gebruiken en anderszins commercieel te exploiteren ideeën, feedback of suggesties heeft verstrekt aan de andere partij.</p>

    <h5>6. Disclaimers en beperking van aansprakelijkheid van garantie</h5>
    <p><strong>DE DIENSTEN WORDEN VERSTREKT "ZOALS HET IS" EN WIJ WIJZEN UITDRUKKELIJK ALLE GARANTIES, EXPLICIET OF IMPLICIET, MET INBEGRIP VAN, MAAR NIET BEPERKT TOT, GARANTIES VAN VERKOOPBAARHEID, NIET-INBREUK EN GESCHIKTHEID VOOR EEN BEPAALD DOEL.</strong></p>
    <p><strong>GEEN VAN BEIDE PARTIJEN ZAL AANSPRAKELIJK ZIJN MET BETREKKING TOT DE DIENSTEN OF VERPLICHTINGEN KRACHTENS DEZE OVEREENKOMST OF ANDERSZINS VOOR ENIGE DIRECTE, INDIRECTE, INCIDENTELE, SPECIALE, PUNITIEVE OF EXEMPLARISCHE SCHADE, MET INBEGRIP VAN MAAR NIET BEPERKT TOT, SCHADE VOOR VERLIES VAN WINST, GOODWILL, GEBRUIK, GEGEVENS OF ANDERE IMMATERIËLE SCHADE DIE OP ENIGERLEI WIJZE VOORTVLOEIT UIT DE SERVICES.  IN IEDER GEVAL, ELKE PARTIJ DE AANSPRAKELIJKHEID UIT HOOFDE VAN DEZE OVEREENKOMST, OM WELKE REDEN DAN OOK, ZULLEN WORDEN BEPERKT TOT DE VERGOEDINGEN DIE WORDEN BETAALD DOOR U TIJDENS DE ZES MAANDEN ONMIDDELLIJK VOORAFGAAND AAN DE GEBEURTENIS DIE AANLEIDING GEEFT TOT DE SCHADECLAIM. DEZE BEPERKING GELDT VOOR ALLE OORZAKEN VAN ACTIE, IN TOTAAL MET INBEGRIP VAN, MAAR NIET BEPERKT TOT, SCHENDING VAN HET CONTRACT, INBREUK OP GARANTIE, NALATIGHEID, STRIKTE AANSPRAKELIJKHEID, VOORSTELLINGEN EN ANDERE ONRECHTMATIGE DADEN. DEZE BEPERKINGEN ZIJN ZELFS VAN TOEPASSING ALS HET EEN PARTIJ IS GEADVISEERD VAN DE MOGELIJKHEID VAN DERGELIJKE SCHADE. DE VOORGAANDE BEPERKINGEN ZIJN VAN TOEPASSING VOOR ZOVER TOEGESTAAN DOOR DE TOEPASSELIJKE WETGEVING.</strong></p>

    <h5>7. Algemene bepalingen</h5>
    <p>Deze Overeenkomst is een weerslag van de gehele overeenkomst en vervangt alle voorgaande overeenkomsten, schriftelijk of mondeling, tussen de partijen met betrekking tot het onderwerp hiervan. Wij behouden ons het recht voor het updaten en wijzigen van de Overeenkomst met terugwerkende kracht door het plaatsen van veranderingen en updates op onze website, <%= zeilen.config.aangepast.baseUrl %>. U wordt aangeraden om controleer de Overeenkomst van tijd tot tijd voor eventuele aanpassingen of wijzigingen die van invloed kunnen zijn. Als er een belangrijke wijziging is aangebracht, zullen we zorgen voor een redelijke termijn per e-mail en een mogelijkheid om deze Overeenkomst te beëindigen indien u niet akkoord gaat met de wijziging.</p>
    <p>De partijen zijn onafhankelijke contractanten. Geen van de partijen is een agent, vertegenwoordiger of een verbonden onderneming van de andere partij. Niets in deze Overeenkomst is bedoeld om te maken, noch zal het worden opgevat als het creëren van een exclusieve overeenkomst tussen de partijen bij deze Overeenkomst. Deze Overeenkomst heeft niet tot beperken van beide partijen aangaan, soortgelijke afspraken met anderen. Elke partij begrijpt dat de andere partij kan nu of in de toekomst betrokken worden in de ontwikkeling van of het verstrekken van concurrerende producten of diensten. Geen van de partijen is aansprakelijk voor enige tekortkoming of vertraging veroorzaakt door een gebeurtenis of omstandigheid die buiten de redelijke controle.</p>

    <p><strong>Laatst bijgewerkt: NEW_APP_CREATION_CALENDAR_DATE</strong></p>
  </div>
</div>
<%- /* Laat de lokale bevolking als `venster.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
