<div id="litter" v-cloak>

  <!-- start banner Gebied -->
  <section class="banner-area relative">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
          <h1 class="text-white">Nest Details</h1>
          <p>Details over het nest</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Einde banner Gebied -->

  <!-- Portefeuille Gebied Details -->
  <section class="portfolio_details_area section-gap">
    <div class="container">
      <div class="portfolio_details_inner">
        <div class="row">
          <div class="col-md-6">
            <div class="left_img">
              <img class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/Bazhen-Barthalamew-3m.jpg" alt="">
            </div>
          </div>
          <div class="offset-md-1 col-md-5">
            <div class="portfolio_right_text mt-30">
              <h4>Nest B</h4>
              <p>In een nestje van 4 pups geboren. 1 naakt hond, een daling van 2 honden en een meisje.
                De hengels gingen prima zonder complicaties.</p>
              <ul class="list">
                <li><span>Beoordeling</span>: <i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i><ik
                    class="ti-star"></i></li>
                <li><span>Sire</span>: Alfa Laval De Lux Supernova</li>
                <li><span></span>Dam : Sasquehanna (FCI) Ella</li>
                <li><span></span>Geboortedatum : 03 Nov 2017</li>
              </ul>
            </div>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit.</p>
        <p>Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non schuld behoort, sunt
          in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
          beatae vitae uitspraken door sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
          consequuntur magni dolores eos qui personele voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
          dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
          aliquam quaerat voluptatem.</p>
      </div>
    </div>
  </section>
  <!-- Einde Van De Portefeuille Gebied Details -->

</div>
<%- /* Bloot server-rendered gegevens venster.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
