<div id="404" style="height:100vh">
  <div class="container text-center">
    <h1 class="display-1 mb-3">404</h1>
    <hr/>
    
    <h2><%= __('The page you seek doesn\'t exist') %>.</h2>
    <div class="help">
      <p><%= __('Think you\'re seeing this message in error') %>?<br/><span class="mobile-spacer">&nbsp;</span><%= __('Please') %> <a href="/contact"><%= __('let us know') %>.</a></p>
    </div>
  </div>
</div>
