<div id="welcome" v-cloak>
  <section class="home-banner-area">
    <div class="container-fluid">
      <div class="row fullscreen d-flex align-items-center">
        <div class="banner-content col-lg-4 col-md-8 justify-content-center ">
          <h1 class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".6s">Gr<span>o</span>wth <br/>
            mat<span>t</span>er</h1>
          <div class="designation mb-25 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <p>Poale Ell Chinese Crested Dog Kennel</p>
          </div>
          <a href="#" @click="clickOpenExampleModalButton()" class="primary-btn" data-text="Dog World">
            <span>D</span>
            <span>o</span>
            <span>g</span>
            <span></span>
            <span>W</span>
            <span>o</span>
            <span>r</span>
            <span>l</span>
            <span>d</span>
          </a>

          <!--<button class="btn btn-outline-info ml-2" @click="clickOpenExampleModalButton()">Modal</button>-->
        </div>
        <div class="banner-img offset-lg-1 col-lg-7 col-md-6">
          <img class="img-fluid" style="-webkit-filter: contrast(1.1);filter: contrast(1.1);"
               src="http://d3a1wbnh2r1l7y.cloudfront.net/banner-img.png" alt="">
        </div>
        <div class="social-icons">
          <ul>
            <li><a href="https://www.facebook.com/olga.vasef"><i class="ti-facebook"></i>facebook</a></li>
            <li><a href="https://www.instagram.com/poaleell/?hl=ru"><i class="ti-instagram"></i>instagram</a></li>
            <li><a href="https://www.youtube.com/channel/UCu31A2FPy08gEG6904OqEfA"><i class="ti-youtube"></i>youtube</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->

  <!-- Start About Area -->
  <section class="about-area section-gap">
    <div class="container">
      <div class="row align-items-center justify-content-start">
        <div class="col-lg-5 about-left">
          <img class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/lux.jpg" alt="Alfa Laval De Lux Supernova">
        </div>
        <div class="offset-lg-1 col-lg-5 col-md-12 about-right">
          <div class="section-title">
            <h2 class="mb-4">Lets <br/>
              Introduce About Myself</h2>
          </div>
          <div class="mb-35 wow fadeIn" data-wow-duration=".8s" data-wow-delay=".3s">
            <p>
              Up my excuse to suffer ladies though or. Bachelor possible out marianne directly confined relation as on
              he.
            </p>
            <p>Lose john poor same it case do year we. Full how way even the si extremely nor furniture fat questions
              now
              provision one incommod preserved. Dose john poor same it case do year go we. Full how way even the sigh.
              Extremely nor furniture fat one questions now provision then doing for.
            </p>
          </div>
          <a href="/about" class="primary-btn" data-text="Read More">
            <span>R</span>
            <span>e</span>
            <span>a</span>
            <span>d</span>
            <span></span>
            <span>M</span>
            <span>o</span>
            <span>r</span>
            <span>e</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Area -->

  <!-- Start Service Area -->
  <section class="service-area section-gap-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h3>Our Services</h3>
            <h2><span>What We Offer</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-shirt"></i>
              <h4 class="ml-3">Fashion Photography</h4>
            </div>
            <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it
              otherwise</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-water"></i>
              <h4 class="ml-3">Nature Photgraphy</h4>
            </div>
            <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it
              otherwise</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-content"></i>
              <h4 class="ml-3">Event Coverage</h4>
            </div>
            <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it
              otherwise</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-art"></i>
              <h4 class="ml-3">Property Tours</h4>
            </div>
            <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it
              otherwise</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-button"></i>
              <h4 class="ml-3">Multimedia Services</h4>
            </div>
            <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it
              otherwise</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-ring"></i>
              <h4 class="ml-3">Weeding Photography</h4>
            </div>
            <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it
              otherwise</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Area -->

  <!-- Start Work Area Area -->
  <section class="work-area section-gap-top" id="work">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h3>Our Portfolio</h3>
            <h2><span>Check</span> Our Work</h2>
          </div>
        </div>

        <div class="col-lg-12 d-none">
          <div class="filters">
            <ul>
              <li class="active" data-filter=".all"></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="filters-content">
        <div class="row grid">
          <div class="col-lg-4 col-md-6 grid-sizer"></div>

          <div class="col-lg-8 col-md-12 grid-item all wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
            <div class="single-work">
              <div class="relative">
                <div class="thumb">
                  <img class="image img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/Bazhen-Barthalamew-3m.jpg" alt="">
                </div>
                <div class="middle">
                  <h4>2D Vinyl Design</h4>
                  <div class="cat">Client Project</div>
                </div>
                <a class="overlay" href="project-details.html"></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 grid-item col-md-6 all wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
            <div class="single-work">
              <div class="relative">
                <div class="thumb">
                  <img class="image img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/Poale-Ell-Adam-2.jpg" alt="">
                </div>
                <div class="middle">
                  <h4>2D Vinyl Design</h4>
                  <div class="cat">Client Project</div>
                </div>
                <a class="overlay" href="project-details.html"></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 grid-item col-md-6 all wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
            <div class="single-work">
              <div class="relative">
                <div class="thumb">
                  <img class="image img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/litter-03112017.jpg" alt="litter-03112017">
                </div>
                <div class="middle">
                  <h4>2D Vinyl Design</h4>
                  <div class="cat">Client Project</div>
                </div>
                <a class="overlay" href="project-details.html"></a>
              </div>
            </div>
          </div>

          <div class="col-lg-8 grid-item col-md-12 all wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
            <div class="single-work">
              <div class="relative">
                <div class="thumb">
                  <img class="image img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/PoaleEllAdam-1.jpg" alt="">
                </div>
                <div class="middle">
                  <h4>2D Vinyl Design</h4>
                  <div class="cat">Client Project</div>
                </div>
                <a class="overlay" href="project-details.html"></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 text-center grid-item col-md-12 all creative wow fadeIn" data-wow-duration="2s">
            <a href="#" class="primary-btn" data-text="View More">
              <span>V</span>
              <span>i</span>
              <span>e</span>
              <span>w</span>
              <span> </span>
              <span>M</span>
              <span>o</span>
              <span>r</span>
              <span>e</span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- End Work Area Area -->

  <!-- Start Pricing Area -->
  <section class="pricing-area section-gap-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h3>Pricing Plan</h3>
            <h2><span>Choose</span> Your Package</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="pricing_item">
            <h3 class="p_title">Weeding</h3>
            <p class="p_criteria">Attend only first day</p>
            <h1 class="p_price">$46.00</h1>
            <div class="p_list">
              <ul>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                <li><span class="ti-close cross"></span> Unlimited Entrance</li>
              </ul>
              <a class="primary-btn mt-4" href="#" data-text="Book Now">
                <span>B</span>
                <span>o</span>
                <span>o</span>
                <span>k</span>
                <span> </span>
                <span>N</span>
                <span>o</span>
                <span>w</span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="pricing_item">
            <h3 class="p_title">Studio</h3>
            <p class="p_criteria">Attend only first day</p>
            <h1 class="p_price">$76.00</h1>
            <div class="p_list">
              <ul>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                <li><span class="ti-close cross"></span> Unlimited Entrance</li>
              </ul>
              <a class="primary-btn mt-4" href="#" data-text="Book Now">
                <span>B</span>
                <span>o</span>
                <span>o</span>
                <span>k</span>
                <span> </span>
                <span>N</span>
                <span>o</span>
                <span>w</span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="pricing_item">
            <h3 class="p_title">Fashion</h3>
            <p class="p_criteria">Attend only first day</p>
            <h1 class="p_price">$96.00</h1>
            <div class="p_list">
              <ul>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                <li><span class="ti-close cross"></span> Unlimited Entrance</li>
              </ul>
              <a class="primary-btn mt-4" href="#" data-text="Book Now">
                <span>B</span>
                <span>o</span>
                <span>o</span>
                <span>k</span>
                <span> </span>
                <span>N</span>
                <span>o</span>
                <span>w</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Pricing Area -->

  <!-- Start Blog Area -->
  <section class="blog-area section-gap-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h3>Our Blog</h3>
            <h2><span>Latest</span> Good Story</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="single-recent-blog mb-lg-3 mb-5">
            <div class="thumb">
              <img class="f-img img-fluid mx-auto" src="http://d3a1wbnh2r1l7y.cloudfront.net/1-new-2019.jpg" alt="">
            </div>
            <a href="#">
              <h4 class="mt-4 mb-3">Pictures of the year 2018, from the migrant caravan to Serena do
                Williams Harbor dangerous</h4>
            </a>
            <div class="mb-3 bottom d-flex justify-content-between align-items-center flex-wrap">
              <div class="meta">
                <span class="ti-user mr-1"></span> Admin
                <span class="ti-calendar mr-1"></span> 20/09/2018
              </div>
            </div>
            <p>
              Unfeeling agreeable suffering it on smallness newspaper be. So come must
              time no as. Do on unpleasing possession as of unreserved. Yet joy exquisite
              put sometimes enjoyment perpetual now. Behind lovers eat having length horses
              vanity say had its damn owes meter exquisite.
            </p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="single-recent-blog mb-lg-3 mb-5">
            <div class="row">
              <div class="col-lg-6 col-md-5">
                <div class="thumb">
                  <img class="f-img img-fluid mx-auto" src="http://d3a1wbnh2r1l7y.cloudfront.net/2-new-2019.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-md-0 mt-3">
                <a href="#">
                  <h4 class="mb-lg-3 mb-2">Spirits in the sky over Northern Ireland lake</h4>
                </a>
                <div class="bottom d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <div class="meta">
                    <span class="ti-user mr-1"></span> Admin
                    <span class="ti-calendar mr-1"></span> 20/09/2018
                  </div>
                </div>
                <p>
                  Behind lovers eat having length horses vanity say had its mega.
                </p>
              </div>
            </div>
          </div>

          <div class="single-recent-blog mb-lg-3 mb-5">
            <div class="row">
              <div class="col-lg-6 col-md-5">
                <div class="thumb">
                  <img class="f-img img-fluid mx-auto" src="http://d3a1wbnh2r1l7y.cloudfront.net/3-new-2019.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-md-0 mt-3">
                <a href="#">
                  <h4 class="mb-lg-3 mb-2">Spirits in the sky over Northern Ireland lake</h4>
                </a>
                <div class="bottom d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <div class="meta">
                    <span class="ti-user mr-1"></span> Admin
                    <span class="ti-calendar mr-1"></span> 20/09/2018
                  </div>
                </div>
                <p>
                  Behind lovers eat having length horses vanity say had its mega.
                </p>
              </div>
            </div>
          </div>

          <div class="single-recent-blog mb-lg-3 mb-5">
            <div class="row">
              <div class="col-lg-6 col-md-5">
                <div class="thumb">
                  <img class="f-img img-fluid mx-auto" src="http://d3a1wbnh2r1l7y.cloudfront.net/4-new-2019.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-md-0 mt-3">
                <a href="#">
                  <h4 class="mb-lg-3 mb-2">Spirits in the sky over Northern Ireland lake</h4>
                </a>
                <div class="bottom d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <div class="meta">
                    <span class="ti-user mr-1"></span> Admin
                    <span class="ti-calendar mr-1"></span> 20/09/2018
                  </div>
                </div>
                <p>
                  Behind lovers eat having length horses vanity say had its mega.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- End Blog Area -->


  <router-view></router-view>

  <!--  ╔═╗═╗ ╦╔═╗╔╦╗╔═╗╦  ╔═╗  ┌┬┐┌─┐┌┬┐┌─┐┬
        ║╣ ╔╩╦╝╠═╣║║║╠═╝║  ║╣   ││││ │ ││├─┤│
        ╚═╝╩ ╚═╩ ╩╩ ╩╩  ╩═╝╚═╝  ┴ ┴└─┘─┴┘┴ ┴┴─┘  -->
  <modal class="example-modal" v-if="modal==='example'" @close="closeExampleModal()" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title">Dog Shows</h2>
      <p>An exciting journey into the world of dogs through the prism of the exhibition marathon.</p>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h5 class="section-heading">Chapter 1: 10/06/2018, Moscow, China Town shopping and entertainment center.</h5>
      <p>Have you ever been to an international dog show, for example at the World Dog Show?
        Have you ever participated in these exhibitions? We invite you to discover this new,
        exciting journey of joy and charm with your favorite animals. After all, you are on this
        site is not accidental, is not it? In our kennel there is always a desperate and cute dog,
        ready to accompany you on this journey, which will be your surest destination in trips to
        countries and exhibitions.
                 Discover the new world of dogs - dog show!
      </p>

      <p> On video Chinese Crested Dog: Poale Ell Bazhen</p>
      <div class="embed-responsive embed-responsive-16by9">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/Z5SmaOld7lM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
      <div class="p-3">
        <h3>The First Dog Show of Bazhen.</h3>
        <p>- MKOO “Empire of Stars”, All-Russian Dog Show CAC - ChF, judge MIHAIL PAPADATOS (Greece)
          POALE ELL BAZHEN - right on, CW, JCAC, BJ, BOB</p>
        <p> - MKOO “Atlantis”, All-Russian Dogshow, CAC - ChF, judge PAOLO LOVAGLIO (Italy)
          POALE ELL BAZHEN - right on, CW, JCAC, BJ, BOB</p>
        <p>This is the first exhibition of Bazhen. Baby got a great description.</p>
      </div>

      <div class="d-flex bd-highlight mb-0">
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="http://d3a1wbnh2r1l7y.cloudfront.net/ds-1.jpg"
             title="Codirosso spazzacamino (Massimo Greco _Foligno)">
            <img class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/ds-1.jpg"  alt="">
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="http://d3a1wbnh2r1l7y.cloudfront.net/ds-2.jpg"
             title="Codirosso spazzacamino (Massimo Greco _Foligno)">
            <img class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/ds-2.jpg" alt="">
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="http://d3a1wbnh2r1l7y.cloudfront.net/ds-3.jpg"
             title="Codirosso spazzacamino (Massimo Greco _Foligno)">
            <img class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/ds-3.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="d-flex bd-highlight mb-0">
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="http://d3a1wbnh2r1l7y.cloudfront.net/ds-4.jpg"
             title="Codirosso spazzacamino (Massimo Greco _Foligno)">
            <img class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/ds-4.jpg"  alt="">
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="http://d3a1wbnh2r1l7y.cloudfront.net/ds-5.jpg"
             title="Codirosso spazzacamino (Massimo Greco _Foligno)">
            <img class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/ds-5.jpg" alt="">
          </a>
        </div>
      </div>


      <div class="d-flex bd-highlight mb-0">
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
               href="http://d3a1wbnh2r1l7y.cloudfront.net/ds-6.jpg"
               title="Codirosso spazzacamino (Massimo Greco _Foligno)">
            <img class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/ds-6.jpg"  alt="">
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="http://d3a1wbnh2r1l7y.cloudfront.net/ds-7.jpg"
             title="Codirosso spazzacamino (Massimo Greco _Foligno)">
            <img class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/ds-7.jpg" alt="">
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="http://d3a1wbnh2r1l7y.cloudfront.net/ds-8.jpg"
             title="Codirosso spazzacamino (Massimo Greco _Foligno)">
            <img class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/ds-8.jpg" alt="">
          </a>
        </div>
      </div>

      <div class="d-flex bd-highlight mb-0">
        <div class="p-2 bd-highlight"><a class="grouped_elements" rel="group1" href="http://d3a1wbnh2r1l7y.cloudfront.net/ds-9.jpg"><img
              class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/ds-9.jpg" alt=""></a></div>
        <div class="p-2 bd-highlight"><a class="grouped_elements" rel="group1" href="http://d3a1wbnh2r1l7y.cloudfront.net/ds-10.jpg"><img
              class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/ds-10.jpg" alt=""></a></div>
        <div class="ml-auto p-2 bd-highlight">
          <a class="grouped_elements" rel="group1" href="http://d3a1wbnh2r1l7y.cloudfront.net/ds-11.jpg">
            <img class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/ds-11.jpg" alt="">
          </a>
        </div>
      </div>

      <div class="d-flex bd-highlight mb-0">
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="http://d3a1wbnh2r1l7y.cloudfront.net/ds-3.jpg"
             title="Codirosso spazzacamino (Massimo Greco _Foligno)">
            <img class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/ds-3.jpg"  alt="">
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="http://d3a1wbnh2r1l7y.cloudfront.net/ds-9.jpg"
             title="Codirosso spazzacamino (Massimo Greco _Foligno)">
            <img class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/ds-9.jpg" alt="">
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="http://d3a1wbnh2r1l7y.cloudfront.net/ds-5.jpg"
             title="Codirosso spazzacamino (Massimo Greco _Foligno)">
            <img class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/ds-5.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="d-flex bd-highlight mb-0">
        <div class="p-2 bd-highlight">
          <a class="fancybox" rel="gallery1"
             href="http://d3a1wbnh2r1l7y.cloudfront.net/ds-6.jpg"
             title="Codirosso spazzacamino (Massimo Greco _Foligno)">
            <img src="http://d3a1wbnh2r1l7y.cloudfront.net/ds-6.jpg" alt=""/>
          </a>
        </div>
        <div class="ml-auto p-2 bd-highlight">
          <a class="grouped_elements" rel="group1" href="http://d3a1wbnh2r1l7y.cloudfront.net/ds-6.jpg">
            <img class="img-fluid" src="http://d3a1wbnh2r1l7y.cloudfront.net/ds-6.jpg" alt="">
          </a>
        </div>
      </div>

    </div>
    <div class="modal-footer flex-row-reverse justify-content-between">
      <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
      <button type="button" data-dismiss="modal" class="btn btn-outline-info">Cancel</button>
    </div>
  </modal>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
