<div id="welcome">


 <!-- <div class="container">
    <h1>Welcome!</h1>
    <hr/>
    <p>Это страница, которую могут посещать только зарегистрированные пользователи. Ты не чувствуешь себя особенным? Попробуйте нажать на кнопку ниже, чтобы сделать некоторые вещи, которые вы не можете сделать, когда вы вышли из системы.</p>
    <div class="buttons">
      <a class="btn btn-info" href="/account/profile">Update my email</a>
      <a class="btn btn-danger" href="/things/available-things">Available Things</a>
      <a class="btn btn-success" href="/things/portfolio">Portfolio</a>
      <button class="btn btn-outline-info ml-2" @click="clickOpenExampleModalButton()">Open a modal</button>
    </div>
  </div>
-->


  <!-- start banner Area -->
  <section class="home-banner-area">
    <div class="container-fluid">
      <div class="row fullscreen d-flex align-items-center">
        <div class="banner-content col-lg-4 col-md-8 justify-content-center ">
          <h1 class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".6s">Im<span>a</span>ges <br />
            mat<span>t</span>er</h1>
          <div class="designation mb-25 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <p>Manner before lively wholly am mr indeed expect one every merry his yet has her. You mistress get dashwood
              children off manner to other</p>
          </div>
          <a href="#" class="primary-btn" data-text="Explore More">
            <span>E</span>
            <span>x</span>
            <span>p</span>
            <span>l</span>
            <span>o</span>
            <span>r</span>
            <span>e</span>
            <span> </span>
            <span>M</span>
            <span>o</span>
            <span>r</span>
            <span>e</span>
          </a>
        </div>
        <div class="banner-img offset-lg-1 col-lg-7 col-md-6">
          <img class="img-fluid" src="/images/banner-img.png" alt="">
        </div>
        <div class="social-icons">
          <ul>
            <li><a href="index.html"><i class="ti-facebook"></i>facebook</a></li>
            <li><a href="index.html"><i class="ti-twitter"></i>twitter</a></li>
            <li><a href="index.html"><i class="ti-instagram"></i>ti-instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->

  <!-- Start About Area -->
  <section class="about-area section-gap">
    <div class="container">
      <div class="row align-items-center justify-content-start">
        <div class="col-lg-5 about-left">
          <img class="img-fluid" src="/images/about-img.jpg" alt="">
        </div>
        <div class="offset-lg-1 col-lg-5 col-md-12 about-right">
          <div class="section-title">
            <h2 class="mb-4">Lets <br />
              Introduce About Myself</h2>
          </div>
          <div class="mb-35 wow fadeIn" data-wow-duration=".8s" data-wow-delay=".3s">
            <p>
              Up my excuse to suffer ladies though or. Bachelor possible out marianne directly confined relation as on he.
            </p>
            <p>Lose john poor same it case do year we. Full how way even the si extremely nor furniture fat questions now
              provision one incommod preserved. Dose john poor same it case do year go we. Full how way even the sigh.
              Extremely nor furniture fat one questions now provision then doing for.
            </p>
          </div>
          <a href="#" class="primary-btn" data-text="Read More">
            <span>R</span>
            <span>e</span>
            <span>a</span>
            <span>d</span>
            <span></span>
            <span>M</span>
            <span>o</span>
            <span>r</span>
            <span>e</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Area -->

  <!-- Start Service Area -->
  <section class="service-area section-gap-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h3>Our Services</h3>
            <h2><span>What We Offer</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-shirt"></i>
              <h4 class="ml-3">Fashion Photography</h4>
            </div>
            <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it otherwise</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-water"></i>
              <h4 class="ml-3">Nature Photgraphy</h4>
            </div>
            <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it otherwise</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-content"></i>
              <h4 class="ml-3">Event Coverage</h4>
            </div>
            <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it otherwise</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-art"></i>
              <h4 class="ml-3">Property Tours</h4>
            </div>
            <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it otherwise</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-button"></i>
              <h4 class="ml-3">Multimedia Services</h4>
            </div>
            <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it otherwise</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <i class="flaticon-ring"></i>
              <h4 class="ml-3">Weeding Photography</h4>
            </div>
            <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it otherwise</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Area -->

  <!-- Start Work Area Area -->
  <section class="work-area section-gap-top" id="work">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h3>Our Portfolio</h3>
            <h2><span>Check</span> Our Work</h2>
          </div>
        </div>

        <div class="col-lg-12 d-none">
          <div class="filters">
            <ul>
              <li class="active" data-filter=".all"></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="filters-content">
        <div class="row grid">
          <div class="col-lg-4 col-md-6 grid-sizer"></div>

          <div class="col-lg-8 col-md-12 grid-item all wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
            <div class="single-work">
              <div class="relative">
                <div class="thumb">
                  <img class="image img-fluid" src="/images/work/w1.jpg" alt="">
                </div>
                <div class="middle">
                  <h4>2D Vinyl Design</h4>
                  <div class="cat">Client Project</div>
                </div>
                <a class="overlay" href="project-details.html"></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 grid-item col-md-6 all wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
            <div class="single-work">
              <div class="relative">
                <div class="thumb">
                  <img class="image img-fluid" src="/images/work/w2.jpg" alt="">
                </div>
                <div class="middle">
                  <h4>2D Vinyl Design</h4>
                  <div class="cat">Client Project</div>
                </div>
                <a class="overlay" href="project-details.html"></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 grid-item col-md-6 all wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
            <div class="single-work">
              <div class="relative">
                <div class="thumb">
                  <img class="image img-fluid" src="/images/work/w3.jpg" alt="">
                </div>
                <div class="middle">
                  <h4>2D Vinyl Design</h4>
                  <div class="cat">Client Project</div>
                </div>
                <a class="overlay" href="project-details.html"></a>
              </div>
            </div>
          </div>

          <div class="col-lg-8 grid-item col-md-12 all wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
            <div class="single-work">
              <div class="relative">
                <div class="thumb">
                  <img class="image img-fluid" src="/images/work/w4.jpg" alt="">
                </div>
                <div class="middle">
                  <h4>2D Vinyl Design</h4>
                  <div class="cat">Client Project</div>
                </div>
                <a class="overlay" href="project-details.html"></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 text-center grid-item col-md-12 all creative wow fadeIn" data-wow-duration="2s">
            <a href="#" class="primary-btn" data-text="View More">
              <span>V</span>
              <span>i</span>
              <span>e</span>
              <span>w</span>
              <span> </span>
              <span>M</span>
              <span>o</span>
              <span>r</span>
              <span>e</span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- End Work Area Area -->

  <!-- Start Pricing Area -->
  <section class="pricing-area section-gap-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h3>Pricing Plan</h3>
            <h2><span>Choose</span> Your Package</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="pricing_item">
            <h3 class="p_title">Weeding</h3>
            <p class="p_criteria">Attend only first day</p>
            <h1 class="p_price">$46.00</h1>
            <div class="p_list">
              <ul>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                <li><span class="ti-close cross"></span> Unlimited Entrance</li>
              </ul>
              <a class="primary-btn mt-4" href="#" data-text="Book Now">
                <span>B</span>
                <span>o</span>
                <span>o</span>
                <span>k</span>
                <span> </span>
                <span>N</span>
                <span>o</span>
                <span>w</span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="pricing_item">
            <h3 class="p_title">Studio</h3>
            <p class="p_criteria">Attend only first day</p>
            <h1 class="p_price">$76.00</h1>
            <div class="p_list">
              <ul>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                <li><span class="ti-close cross"></span> Unlimited Entrance</li>
              </ul>
              <a class="primary-btn mt-4" href="#" data-text="Book Now">
                <span>B</span>
                <span>o</span>
                <span>o</span>
                <span>k</span>
                <span> </span>
                <span>N</span>
                <span>o</span>
                <span>w</span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="pricing_item">
            <h3 class="p_title">Fashion</h3>
            <p class="p_criteria">Attend only first day</p>
            <h1 class="p_price">$96.00</h1>
            <div class="p_list">
              <ul>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-check"></span> Unlimited Entrance</li>
                <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                <li><span class="ti-close cross"></span> Unlimited Entrance</li>
              </ul>
              <a class="primary-btn mt-4" href="#" data-text="Book Now">
                <span>B</span>
                <span>o</span>
                <span>o</span>
                <span>k</span>
                <span> </span>
                <span>N</span>
                <span>o</span>
                <span>w</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Pricing Area -->

  <!-- Start Blog Area -->
  <section class="blog-area section-gap-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h3>Our Blog</h3>
            <h2><span>Latest</span> Good Story</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="single-recent-blog mb-lg-3 mb-5">
            <div class="thumb">
              <img class="f-img img-fluid mx-auto" src="/images/b1.jpg" alt="">
            </div>
            <a href="#">
              <h4 class="mt-4 mb-3">Pictures of the year 2018, from the migrant caravan to Serena do
                Williams Harbor dangerous</h4>
            </a>
            <div class="mb-3 bottom d-flex justify-content-between align-items-center flex-wrap">
              <div class="meta">
                <span class="ti-user mr-1"></span> Admin
                <span class="ti-calendar mr-1"></span> 20/09/2018
              </div>
            </div>
            <p>
              Unfeeling agreeable suffering it on smallness newspaper be. So come must
              time no as. Do on unpleasing possession as of unreserved. Yet joy exquisite
              put sometimes enjoyment perpetual now. Behind lovers eat having length horses
              vanity say had its damn owes meter exquisite.
            </p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="single-recent-blog mb-lg-3 mb-5">
            <div class="row">
              <div class="col-lg-6 col-md-5">
                <div class="thumb">
                  <img class="f-img img-fluid mx-auto" src="/images/b2.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-md-0 mt-3">
                <a href="#">
                  <h4 class="mb-lg-3 mb-2">Spirits in the sky over Northern Ireland lake</h4>
                </a>
                <div class="bottom d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <div class="meta">
                    <span class="ti-user mr-1"></span> Admin
                    <span class="ti-calendar mr-1"></span> 20/09/2018
                  </div>
                </div>
                <p>
                  Behind lovers eat having length horses vanity say had its mega.
                </p>
              </div>
            </div>
          </div>

          <div class="single-recent-blog mb-lg-3 mb-5">
            <div class="row">
              <div class="col-lg-6 col-md-5">
                <div class="thumb">
                  <img class="f-img img-fluid mx-auto" src="/images/b3.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-md-0 mt-3">
                <a href="#">
                  <h4 class="mb-lg-3 mb-2">Spirits in the sky over Northern Ireland lake</h4>
                </a>
                <div class="bottom d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <div class="meta">
                    <span class="ti-user mr-1"></span> Admin
                    <span class="ti-calendar mr-1"></span> 20/09/2018
                  </div>
                </div>
                <p>
                  Behind lovers eat having length horses vanity say had its mega.
                </p>
              </div>
            </div>
          </div>

          <div class="single-recent-blog mb-lg-3 mb-5">
            <div class="row">
              <div class="col-lg-6 col-md-5">
                <div class="thumb">
                  <img class="f-img img-fluid mx-auto" src="/images/b4.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-md-0 mt-3">
                <a href="#">
                  <h4 class="mb-lg-3 mb-2">Spirits in the sky over Northern Ireland lake</h4>
                </a>
                <div class="bottom d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <div class="meta">
                    <span class="ti-user mr-1"></span> Admin
                    <span class="ti-calendar mr-1"></span> 20/09/2018
                  </div>
                </div>
                <p>
                  Behind lovers eat having length horses vanity say had its mega.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- End Blog Area -->


  <router-view></router-view>

  <!--  ╔═╗═╗ ╦╔═╗╔╦╗╔═╗╦  ╔═╗  ┌┬┐┌─┐┌┬┐┌─┐┬
        ║╣ ╔╩╦╝╠═╣║║║╠═╝║  ║╣   ││││ │ ││├─┤│
        ╚═╝╩ ╚═╩ ╩╩ ╩╩  ╩═╝╚═╝  ┴ ┴└─┘─┴┘┴ ┴┴─┘  -->
  <modal class="example-modal" v-if="modal==='example'" @close="closeExampleModal()" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title">Example modal</h2>
      <p>At your leisure, please peruse this excerpt from a whale of a tale.</p>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h5 class="section-heading">Chapter 1: Loomings.</h5>
      <p>Call me Ishmael. Some years ago—never mind how long precisely—having little or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little and see the watery part of the world. It is a way I have of driving off the spleen and regulating the circulation. Whenever I find myself growing grim about the mouth; whenever it is a damp, drizzly November in my soul; whenever I find myself involuntarily pausing before coffin warehouses, and bringing up the rear of every funeral I meet; and especially whenever my hypos get such an upper hand of me, that it requires a strong moral principle to prevent me from deliberately stepping into the street, and methodically knocking people's hats off—then, I account it high time to get to sea as soon as I can. This is my substitute for pistol and ball. With a philosophical flourish Cato throws himself upon his sword; I quietly take to the ship. There is nothing surprising in this. If they but knew it, almost all men in their degree, some time or other, cherish very nearly the same feelings towards the ocean with me.</p>
      <div class="js-timestamp-examples">
        <h5 class="section-heading">About 2 years ago</h5>
        <p>
          <js-timestamp :at="pageLoadedAt-(2*365*24*60*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(2*365*24*60*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(2*365*24*60*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">About 2 months ago</h5>
        <p>
          <js-timestamp :at="pageLoadedAt-(2*30*24*60*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(2*30*24*60*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(2*30*24*60*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">2 days ago</h5>
        <p>
          <js-timestamp :at="pageLoadedAt-(2*24*60*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(2*24*60*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(2*24*60*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">2 hours ago</h5>
        <p>
          <js-timestamp :at="pageLoadedAt-(2*60*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(2*60*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(2*60*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">15 minutes ago</h5>
        <p>
          <js-timestamp :at="pageLoadedAt-(15*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(15*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(15*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">45 seconds ago</h5>
        <p>
          <js-timestamp :at="pageLoadedAt-(45*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(45*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(45*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">Right now</h5>
        <p>
          <js-timestamp :at="pageLoadedAt"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">In an hour</h5>
        <p>
          <js-timestamp :at="pageLoadedAt+(60*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt+(60*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt+(60*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">In two days</h5>
        <p>
          <js-timestamp :at="pageLoadedAt+(2*24*60*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt+(2*24*60*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt+(2*24*60*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">In about two months</h5>
        <p>
          <js-timestamp :at="pageLoadedAt+(2*30*24*60*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt+(2*30*24*60*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt+(2*30*24*60*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">In about two years</h5>
        <p>
          <js-timestamp :at="pageLoadedAt+(2*365*24*60*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt+(2*365*24*60*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt+(2*365*24*60*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
      </div>
    </div>
    <div class="modal-footer flex-row-reverse justify-content-between">
      <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
      <button type="button" data-dismiss="modal" class="btn btn-outline-info">Cancel</button>
    </div>
  </modal>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
