#users-home {

  .photo-preview {
    .image-wrapper.round {
      background-color: @bg-lt-gray;
      width: 48px;
      height: 48px;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 50%;
      img.personPhoto {
        width: auto;
        height: 100%;
        margin: 0 auto;
      }
      img {
        width: 48px;
      }
      .placeholder-icon {
        color: @text-muted;
        font-size: 18px;
      }
    }
  }

}
