<div id="available-things" v-cloak>
<h1>Things</h1>
  <p>View available items to borrow, to upload your own things.</p>
  <button>TODO</button>

  <ul>
    <li v-for="thing in things" @click="clickThing(thing.id)">{{thing.label}}</li>
  </ul>
 <!-- <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/things/available-things.less</em>, <em>assets/js/pages/things/available-things.page.js</em>, and <em>api/controllers/things/view-available-things.js</em>.)</p>
-->


</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
