<div id="dog" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/dogs/dog.less</em>, <em>assets/js/pages/dogs/dog.page.js</em>, and <em>api/controllers/dogs/view-dog.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
