<div id="dog" v-cloak>

  <h1>TODO: Page under construction.</h1>
<ul><li>Name: {{dog.fullName}}</li></ul>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
