<div id="500">
  <div class="container text-center">
    <h1 class="display-1 mb-3">Oh my.</h1>
    <hr/>
    <h2>We hebben een onverwachte fout opgetreden.</h2>
    <div class="help">
      <p><!--Maar let op mijn woorden, de persoon die verantwoordelijk zal lopen de plank.<br/><span class="mobile-spacer">&nbsp;</span>-->hulp Nodig met uw account? <a href="/contact">laat het ons weten</a>.</p>
      <a class="btn btn-lg btn-outline-dark" href="/contact">Open een aanvraag</a>
    </div>
  </div>
</div>
