<div id="404">
  <div class="container text-center">
    <h1 class="display-1 mb-3">404</h1>
    <hr/>
    <h2>De pagina die je zoekt bestaat niet.</h2>
    <div class="help">
      <p>Denkt dat je ziet dit bericht in de fout?<br/><span class="mobile-spacer">&nbsp;</span> <a href="/contact">laat het ons weten.</a></p>
    </div>
  </div>
</div>
