<div id="498">
  <div class="container text-center">
    <h1>Sorry, die link is verlopen, of<br/><span class="mobile-spacer">&nbsp;</span>het is al gebruikt.</h1>
    <hr/>
    <div class="help">
      <p>verdere hulp Nodig hebt toegang tot uw account?<br/><span class="mobile-spacer">&nbsp;</span> <a href="/contact">Neem contact op met support</a> of vraag een nieuw wachtwoord te resetten <a href="/password/forgot">.</a></p>
      <a class="btn btn-lg btn-outline-dark" href="/password/forgot">Reset wachtwoord</a>
    </div>
  </div>
</div>
<%- /* Laat de lokale bevolking als `venster.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
