#blog {
  .u-section-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/images/SVGExport20191262452.svg")
  }

  .u-section-1 .u-sheet-1 {
    min-height: 641px
  }

  .u-section-1 .u-layout-wrap-1 {
    margin: 95px auto 25px 0
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 552px
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px
  }

  .u-section-1 .u-shape-1 {
    width: 456px;
    background-image: none;
    left: 0;
    right: auto;
    margin-bottom: 0
  }

  .u-section-1 .u-group-1 {
    min-height: 89px;
    width: 320px;
    margin: 0 auto 0 62px
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px
  }

  .u-section-1 .u-icon-1 {
    height: 18px;
    width: 18px;
    background-image: none;
    margin: 0 auto 0 0
  }

  .u-section-1 .u-text-1 {
    letter-spacing: 1px;
    text-transform: none;
    font-size: 1.125rem;
    font-weight: normal;
    margin: -23px 1px -5px 30px
  }

  .u-section-1 .u-image-1 {
    width: 639px;
    height: 402px;
    margin: -10px 0 0 auto
  }

  .u-section-1 .u-shape-2 {
    width: 140px;
    height: 140px;
    background-image: none;
    margin: -347px auto 0 109px
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    font-weight: 700;
    background-image: none;
    margin: -113px 468px 0 126px
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 552px
  }

  .u-section-1 .u-container-layout-3 {
    padding: 20px 30px
  }

  .u-section-1 .u-line-1 {
    width: 69px;
    height: 3px;
    transform-origin: left center;
    margin: 0 auto 0 0
  }

  .u-section-1 .u-text-3 {
    font-size: 3.4375rem;
    background-image: none;
    margin: 20px 0 0
  }

  .u-section-1 .u-text-4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0
  }

  .u-section-1 .u-text-5 {
    margin: 23px 0 0
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    background-image: none;
    margin: 20px 0 0
  }

  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 529px
    }

    .u-section-1 .u-layout-wrap-1 {
      margin-top: 90px;
      margin-bottom: 26px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-1 .u-layout-cell-1 {
      min-height: 455px
    }

    .u-section-1 .u-shape-1 {
      margin-bottom: initial
    }

    .u-section-1 .u-image-1 {
      width: 571px;
      height: 359px
    }

    .u-section-1 .u-shape-2 {
      margin-top: -304px;
      margin-left: 44px
    }

    .u-section-1 .u-text-2 {
      margin-right: 403px;
      margin-left: 61px
    }

    .u-section-1 .u-layout-cell-2 {
      min-height: 455px
    }

    .u-section-1 .u-text-3 {
      font-family: Oswald, sans-serif
    }
  }

  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 405px
    }

    .u-section-1 .u-layout-cell-1 {
      min-height: 100px
    }

    .u-section-1 .u-shape-1 {
      width: 378px;
      margin-bottom: initial
    }

    .u-section-1 .u-group-1 {
      margin-left: 58px
    }

    .u-section-1 .u-image-1 {
      width: 378px;
      height: 238px
    }

    .u-section-1 .u-shape-2 {
      margin-top: -183px
    }

    .u-section-1 .u-text-2 {
      width: auto;
      margin-right: 235px;
      margin-left: 36px
    }

    .u-section-1 .u-layout-cell-2 {
      min-height: 100px
    }
  }

  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 304px
    }

    .u-section-1 .u-container-layout-1 {
      padding-right: 10px
    }

    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-1 .u-shape-2 {
      margin-top: -243px;
      margin-left: 152px
    }

    .u-section-1 .u-text-2 {
      margin-right: 260px;
      margin-left: 166px
    }

    .u-section-1 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px
    }
  }

  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 191px
    }

    .u-section-1 .u-layout-wrap-1 {
      margin-top: 105px;
      margin-bottom: 11px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-1 .u-layout-cell-1 {
      min-height: 171px
    }

    .u-section-1 .u-shape-1 {
      width: 330px;
      margin-bottom: initial
    }

    .u-section-1 .u-group-1 {
      margin-top: -17px;
      margin-left: 10px
    }

    .u-section-1 .u-image-1 {
      width: 330px;
      height: 208px
    }

    .u-section-1 .u-shape-2 {
      width: 120px;
      height: 120px;
      margin-top: -208px;
      margin-left: 5px
    }

    .u-section-1 .u-text-2 {
      font-size: 3.75rem;
      margin: -96px 211px 95px 41px
    }
  }

  .u-section-2 {
    margin-top: 0;
    margin-bottom: 0
  }

  /*  .u-section-2 .u-sheet-1 {min-height: 1636px}*/

  .u-section-2 .u-text-1 {
    font-size: 8rem;
    font-weight: 700;
    margin: 70px 203px 0 0
  }

  .u-section-2 .u-text-2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.25rem;
    margin: -13px 203px 0 0
  }

  .u-section-2 .u-layout-wrap-1 {
    margin: 100px auto 150px 0
  }

  .u-section-2 .u-image-1 {
    min-height: 416px;
    background-image: url("images/20191103DSCF3881_w690x460.jpg");
    background-position: 50% 50%
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px
  }

  .u-section-2 .u-image-2 {
    min-height: 523px;
    background-image: url("images/20191103DSCF3671_w690x460.jpg");
    background-position: 31.5% 50%
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 555px
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0
  }

  .u-section-2 .u-image-3 {
    object-position: 0% 100%;
    background-position: 0% 100%;
    height: 612px;
    margin: -87px auto 0 0
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 384px
  }

  .u-section-2 .u-container-layout-4 {
    padding: 0
  }

  .u-section-2 .u-image-4 {
    height: 535px;
    object-position: 50% 100%;
    background-position: 50% 100%;
    margin: 0 auto -181px 0
  }

  .u-section-2 .u-image-5 {
    min-height: 343px;
    background-image: url("images/20191103DSCF3978_w690x460.jpg");
    background-position: 50% 50%
  }

  .u-section-2 .u-container-layout-5 {
    padding: 30px
  }

  .u-section-2 .u-image-6 {
    min-height: 596px;
    background-image: url("images/20191103DSCF3661_w690x460.jpg");
    background-position: 72.82% 50%
  }

  .u-section-2 .u-container-layout-6 {
    padding: 30px
  }

  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 100px
    }

    .u-section-2 .u-text-1 {
      margin-right: 3px
    }

    .u-section-2 .u-text-2 {
      margin-right: 3px
    }

    .u-section-2 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial
    }

    .u-section-2 .u-image-1 {
      min-height: 343px
    }

    .u-section-2 .u-image-2 {
      min-height: 431px
    }

    .u-section-2 .u-layout-cell-3 {
      min-height: 458px
    }

    .u-section-2 .u-image-3 {
      height: 505px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-2 .u-layout-cell-4 {
      min-height: 317px
    }

    .u-section-2 .u-image-4 {
      height: 441px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-2 .u-image-5 {
      min-height: 283px
    }

    .u-section-2 .u-image-6 {
      min-height: 491px
    }
  }

  @media (max-width: 991px) {
    .u-section-2 .u-text-1 {
      font-size: 6.875rem;
      margin-right: auto
    }

    .u-section-2 .u-text-2 {
      font-size: 3rem;
      margin-right: auto
    }

    .u-section-2 .u-image-1 {
      min-height: 394px
    }

    .u-section-2 .u-image-2 {
      min-height: 495px
    }

    .u-section-2 .u-layout-cell-3 {
      min-height: 100px
    }

    .u-section-2 .u-image-3 {
      height: 580px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-2 .u-layout-cell-4 {
      min-height: 100px
    }

    .u-section-2 .u-image-4 {
      height: 316px;
      margin-bottom: 0;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-2 .u-image-5 {
      min-height: 650px
    }

    .u-section-2 .u-image-6 {
      min-height: 1128px
    }
  }

  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 4404px
    }

    .u-section-2 .u-text-1 {
      margin-top: 60px;
      margin-right: 0
    }

    .u-section-2 .u-text-2 {
      margin-top: 27px;
      margin-right: 0
    }

    .u-section-2 .u-layout-wrap-1 {
      margin-top: 70px;
      margin-bottom: 20px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-2 .u-image-1 {
      min-height: 591px
    }

    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-2 .u-image-2 {
      min-height: 743px
    }

    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-2 .u-image-3 {
      height: 870px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-2 .u-image-4 {
      height: 473px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-2 .u-image-5 {
      min-height: 488px
    }

    .u-section-2 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-2 .u-image-6 {
      min-height: 846px
    }

    .u-section-2 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px
    }
  }

  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 140px
    }

    .u-section-2 .u-text-1 {
      font-size: 4.5rem;
      margin-top: 80px
    }

    .u-section-2 .u-text-2 {
      margin-top: 7px;
      font-size: 2.25rem
    }

    .u-section-2 .u-layout-wrap-1 {
      margin-bottom: 60px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-2 .u-image-1 {
      min-height: 372px
    }

    .u-section-2 .u-image-2 {
      min-height: 468px
    }

    .u-section-2 .u-image-3 {
      height: 548px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-2 .u-image-4 {
      height: 298px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-2 .u-image-5 {
      min-height: 307px
    }

    .u-section-2 .u-image-6 {
      min-height: 533px
    }
  }

  .u-block-926e-1 {
    margin-top: 0;
    margin-bottom: 0
  }

  .u-block-926e-5 {
    position: absolute;
    width: 108px;
    height: 3px;
    top: auto;
    bottom: 87px
  }

  .u-block-926e-3 {
    position: absolute;
    left: 0;
    margin-top: 0;
    margin-bottom: 0
  }

  .u-block-926e-4 {
    position: absolute;
    width: 65px;
    height: 65px;
    left: auto;
    right: 0
  }

  .u-section-3-1 {
    background-image: none
  }

  .u-section-3-1 .u-sheet-1 {
    min-height: 1080px
  }

  .u-section-3-1 .u-video-1 {
    height: 608px;
    width: 1080px;
    margin: 60px auto 0
  }

  .u-section-3-1 .u-text-1 {
    width: 680px;
    margin: 30px auto 0
  }

  .u-section-3-1 .u-text-2 {
    width: 680px;
    margin: 20px auto 60px
  }

  @media (max-width: 1199px) {
    .u-section-3-1 .u-video-1 {
      width: 940px
    }
  }

  @media (max-width: 991px) {
    .u-section-3-1 .u-video-1 {
      width: 720px
    }
  }

  @media (max-width: 767px) {
    .u-section-3-1 .u-sheet-1 {
      min-height: 549px
    }

    .u-section-3-1 .u-video-1 {
      height: 300px;
      margin-right: initial;
      margin-left: initial;
      width: auto
    }

    .u-section-3-1 .u-text-1 {
      width: 540px;
      margin-left: 0;
      margin-right: 0
    }

    .u-section-3-1 .u-text-2 {
      width: 540px
    }
  }

  @media (max-width: 575px) {
    .u-section-3-1 .u-sheet-1 {
      min-height: 473px
    }

    .u-section-3-1 .u-video-1 {
      height: 190px;
      width: auto;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-3-1 .u-text-1 {
      width: 340px
    }

    .u-section-3-1 .u-text-2 {
      width: 340px
    }
  }

  .u-section-3-2 {
    background-image: none
  }

  .u-section-3-2 .u-sheet-1 {
    min-height: 1080px
  }

  .u-section-3-2 .u-video-1 {
    height: 608px;
    width: 1080px;
    margin: 60px auto 0
  }

  .u-section-3-2 .u-text-1 {
    width: 680px;
    margin: 30px auto 0
  }

  .u-section-3-2 .u-text-2 {
    width: 680px;
    margin: 20px auto 60px
  }

  @media (max-width: 1199px) {
    .u-section-3-2 .u-video-1 {
      width: 940px
    }
  }

  @media (max-width: 991px) {
    .u-section-3-2 .u-video-1 {
      width: 720px
    }
  }

  @media (max-width: 767px) {
    .u-section-3-2 .u-sheet-1 {
      min-height: 549px
    }

    .u-section-3-2 .u-video-1 {
      height: 300px;
      margin-right: initial;
      margin-left: initial;
      width: auto
    }

    .u-section-3-2 .u-text-1 {
      width: 540px
    }

    .u-section-3-2 .u-text-2 {
      width: 540px
    }
  }

  @media (max-width: 575px) {
    .u-section-3-2 .u-sheet-1 {
      min-height: 473px
    }

    .u-section-3-2 .u-video-1 {
      height: 190px;
      width: auto;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-3-2 .u-text-1 {
      width: 340px
    }

    .u-section-3-2 .u-text-2 {
      width: 340px
    }
  }

  .u-section-3-12,.u-section-3-11,.u-section-3-10,.u-section-3-9,.u-section-3-8,.u-section-3-7,.u-section-3-6,.u-section-3-5,.u-section-3-4, .u-section-3-3 {
    background-image: none;

    .u-sheet-1 {
      min-height: 1080px
    }

    .u-video-1 {
      height: 608px;
      width: 1080px;
      margin: 60px auto 0
    }

    .u-text-1 {
      width: 680px;
      margin: 30px auto 0
    }

    .u-text-2 {
      width: 680px;
      margin: 20px auto 60px
    }
  }

  @media (max-width: 1199px) {
    .u-section-3-12,.u-section-3-11,.u-section-3-10,.u-section-3-9,.u-section-3-8,.u-section-3-7,.u-section-3-6,.u-section-3-5,.u-section-3-4, .u-section-3-3 {
      .u-video-1 {
        width: 940px
      }
    }
  }

  @media (max-width: 991px) {
    .u-section-3-12,.u-section-3-11,.u-section-3-10,.u-section-3-9,.u-section-3-8,.u-section-3-7,.u-section-3-6,.u-section-3-5,.u-section-3-4, .u-section-3-3 {
      .u-video-1 {
        width: 720px
      }
    }
  }

  @media (max-width: 767px) {
    .u-section-3-12,.u-section-3-11,.u-section-3-10,.u-section-3-9,.u-section-3-8,.u-section-3-7,.u-section-3-6,.u-section-3-5,.u-section-3-4, .u-section-3-3 {
      .u-sheet-1 {
        min-height: 549px
      }

      .u-video-1 {
        height: 300px;
        margin-right: initial;
        margin-left: initial;
        width: auto
      }

      .u-text-1 {
        width: 540px
      }

      .u-text-2 {
        width: 540px
      }
    }
  }

  @media (max-width: 575px) {
    .u-section-3-12,.u-section-3-11,.u-section-3-10,.u-section-3-9,.u-section-3-8,.u-section-3-7,.u-section-3-6,.u-section-3-5,.u-section-3-4, .u-section-3-3 {
      .u-sheet-1 {
        min-height: 473px
      }

      .u-video-1 {
        height: 190px;
        width: auto;
        margin-right: initial;
        margin-left: initial
      }

      .u-text-1 {
        width: 340px
      }

      .u-text-2 {
        width: 340px
      }
    }
  }

  .u-section-4 {
    margin-top: 0;
    margin-bottom: 0;
    background-image: url("images/fullbloom.png")
  }

  .u-section-4 .u-sheet-1 {
    min-height: 628px
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 890px;
    margin: 60px auto 60px 125px
  }

  .u-section-4 .u-image-1 {
    min-height: 539px;
    background-image: url("images/GenoSISNERO_USA_20191103DSCF40472.jpg");
    background-position: 50% 50%
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 539px
  }

  .u-section-4 .u-container-layout-2 {
    padding: 30px
  }

  .u-section-4 .u-group-1 {
    width: 537px;
    min-height: 382px;
    background-image: none;
    margin: 45px auto 0 -122px
  }

  .u-section-4 .u-container-layout-3 {
    padding: 30px 60px
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-bottom: 0
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 0;
    margin-top: 20px
  }

  .u-section-4 .u-image-2 {
    width: 187px;
    min-height: 94px;
    background-image: url("images/2560px-Flag_of_the_U.S..svg.png");
    margin: -366px 198px 0 0
  }

  .u-section-4 .u-container-layout-4 {
    padding: 15px
  }

  @media (max-width: 1199px) {
    .u-section-4 {
      background-position: 50% 50%
    }

    .u-section-4 .u-layout-wrap-1 {
      width: 820px;
      margin-left: 60px
    }

    .u-section-4 .u-group-1 {
      width: 443px;
      margin-left: -101px
    }

    .u-section-4 .u-image-2 {
      margin-top: -374px;
      margin-right: 193px
    }
  }

  @media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
      min-height: 580px
    }

    .u-section-4 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto
    }

    .u-section-4 .u-image-1 {
      min-height: 491px
    }

    .u-section-4 .u-layout-cell-2 {
      min-height: 491px
    }

    .u-section-4 .u-group-1 {
      width: 416px;
      margin-top: 38px;
      margin-left: -86px
    }

    .u-section-4 .u-container-layout-3 {
      padding-left: 30px;
      padding-right: 30px
    }

    .u-section-4 .u-image-2 {
      margin-right: 113px
    }
  }

  @media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
      min-height: 827px
    }

    .u-section-4 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-4 .u-layout-cell-2 {
      min-height: 60px
    }

    .u-section-4 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-4 .u-group-1 {
      width: 390px;
      min-height: 195px;
      margin-top: 30px;
      margin-left: auto
    }

    .u-section-4 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-4 .u-image-2 {
      margin-top: -330px
    }

    .u-section-4 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px
    }
  }

  @media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
      min-height: 899px
    }

    .u-section-4 .u-layout-cell-2 {
      min-height: auto
    }

    .u-section-4 .u-group-1 {
      width: 302px
    }

    .u-section-4 .u-image-2 {
      margin-top: -372px
    }
  }

  .u-block-7fbf-2 {
    position: absolute;
    bottom: 40px;
    margin-bottom: 0
  }

  .u-block-7fbf-3 {
    position: absolute;
    left: 0;
    margin-top: 0;
    margin-bottom: 0
  }

  .u-block-7fbf-4 {
    position: absolute;
    right: 0;
    margin-top: 0
  }

  /* .u-section-5-1 {background-image: url("images/zccc.jpg"); background-position: 50% 50%; min-height: 782px}
   .u-section-5-1 .u-layout-wrap-1 {margin: 0 auto 0 0}
   .u-section-5-1 .u-image-1 {min-height: 782px; background-image: url("images/2.jpg"); background-position: 50% 50%}
   .u-section-5-1 .u-container-layout-1 {padding: 30px}
   .u-section-5-1 .u-layout-cell-2 {min-height: 782px; background-image: none}
   .u-section-5-1 .u-container-layout-2 {padding: 30px 40px}
   .u-section-5-1 .u-text-1 {margin-top: 0; margin-bottom: 0; text-transform: uppercase; letter-spacing: 5px; font-size: 1.25rem}
   .u-section-5-1 .u-text-2 {margin-bottom: 0; margin-top: 20px; font-size: 3.75rem}
   .u-section-5-1 .u-text-3 {margin-bottom: 0; margin-top: 20px}
   .u-section-5-1 .u-text-4 {margin-top: 20px; margin-bottom: 0}
   .u-section-5-1 .u-link-1 {text-transform: uppercase; padding-bottom: 2px; letter-spacing: 2px; font-size: 0.875rem; margin-bottom: 0; margin-top: 20px}
   .u-section-5-1 .u-image-2 {width: 98px; height: 52px; box-shadow: 0 0 8px 0 rgba(128,128,128,1); animation-duration: 1000ms; margin: 30px auto 0 0}
   .u-section-5-1 .u-layout-cell-3 {min-height: 782px}
   .u-section-5-1 .u-container-layout-3 {padding: 30px}
   .u-section-5-1 .u-text-5 {font-size: 4.5rem; line-height: 1; font-weight: 700; margin: 0}

   @media (max-width: 1199px){
     .u-section-5-1 {min-height: 645px}
     .u-section-5-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
     .u-section-5-1 .u-image-1 {min-height: 645px}
     .u-section-5-1 .u-layout-cell-2 {min-height: 645px}
     .u-section-5-1 .u-layout-cell-3 {min-height: 645px}
   }

   @media (max-width: 991px){ .u-section-5-1 {min-height: 557px}
     .u-section-5-1 .u-image-1 {min-height: 557px}
     .u-section-5-1 .u-layout-cell-2 {min-height: 557px}
     .u-section-5-1 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
     .u-section-5-1 .u-text-2 {font-size: 3rem}
     .u-section-5-1 .u-layout-cell-3 {min-height: 557px} }

   @media (max-width: 767px){ .u-section-5-1 {min-height: 418px}
     .u-section-5-1 .u-image-1 {min-height: 864px; order: 2}
     .u-section-5-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
     .u-section-5-1 .u-layout-cell-2 {min-height: 100px; order: 1}
     .u-section-5-1 .u-container-layout-2 {padding-left: 50px; padding-right: 50px}
     .u-section-5-1 .u-text-2 {font-size: 3.75rem}
     .u-section-5-1 .u-layout-cell-3 {min-height: 92px; order: 0}
     .u-section-5-1 .u-container-layout-3 {padding-left: 50px; padding-right: 50px} }

   @media (max-width: 575px){ .u-section-5-1 {min-height: 263px}
     .u-section-5-1 .u-image-1 {min-height: 544px; background-position: 50% 0%}
     .u-section-5-1 .u-layout-cell-3 {min-height: 100px} }


   .u-section-5-2 {background-image: url("images/zccc.jpg"); background-position: 50% 50%; min-height: 782px}
   .u-section-5-2 .u-layout-wrap-1 {margin: 0 auto 0 0}
   .u-section-5-2 .u-image-1 {min-height: 782px; background-image: url("images/1ed.jpg"); background-position: 50% 50%}
   .u-section-5-2 .u-container-layout-1 {padding: 30px}
   .u-section-5-2 .u-layout-cell-2 {min-height: 782px; background-image: none}
   .u-section-5-2 .u-container-layout-2 {padding: 30px 40px}
   .u-section-5-2 .u-text-1 {margin-top: 0; margin-bottom: 0; text-transform: uppercase; letter-spacing: 5px; font-size: 1.25rem}
   .u-section-5-2 .u-text-2 {margin-bottom: 0; margin-top: 20px; font-size: 3.75rem}
   .u-section-5-2 .u-text-3 {margin-bottom: 0; margin-top: 20px; font-size: 1rem}
   .u-section-5-2 .u-text-4 {margin-top: 20px; margin-bottom: 0}
   .u-section-5-2 .u-link-1 {text-transform: uppercase; padding-bottom: 2px; letter-spacing: 2px; font-size: 0.875rem; margin-bottom: 0; margin-top: 20px}
   .u-section-5-2 .u-image-2 {width: 98px; height: 52px; box-shadow: 0 0 8px 0 rgba(128,128,128,1); animation-duration: 1000ms; margin: 30px auto 0 0}
   .u-section-5-2 .u-layout-cell-3 {min-height: 782px}
   .u-section-5-2 .u-container-layout-3 {padding: 30px}
   .u-section-5-2 .u-text-5 {font-size: 4.5rem; line-height: 1; font-weight: 700; margin: 0}

   @media (max-width: 1199px){ .u-section-5-2 {min-height: 645px}
     .u-section-5-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
     .u-section-5-2 .u-image-1 {min-height: 645px}
     .u-section-5-2 .u-layout-cell-2 {min-height: 645px}
     .u-section-5-2 .u-layout-cell-3 {min-height: 645px} }

   @media (max-width: 991px){ .u-section-5-2 {min-height: 557px}
     .u-section-5-2 .u-image-1 {min-height: 557px}
     .u-section-5-2 .u-layout-cell-2 {min-height: 557px}
     .u-section-5-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
     .u-section-5-2 .u-text-2 {font-size: 3rem}
     .u-section-5-2 .u-layout-cell-3 {min-height: 557px} }

   @media (max-width: 767px){ .u-section-5-2 {min-height: 418px}
     .u-section-5-2 .u-image-1 {min-height: 864px; order: 2}
     .u-section-5-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
     .u-section-5-2 .u-layout-cell-2 {min-height: 100px; order: 1}
     .u-section-5-2 .u-container-layout-2 {padding-left: 50px; padding-right: 50px}
     .u-section-5-2 .u-text-2 {font-size: 3.75rem}
     .u-section-5-2 .u-layout-cell-3 {min-height: 92px; order: 0}
     .u-section-5-2 .u-container-layout-3 {padding-left: 50px; padding-right: 50px} }

   @media (max-width: 575px){ .u-section-5-2 {min-height: 263px}
     .u-section-5-2 .u-image-1 {min-height: 544px; background-position: 50% 0%}
     .u-section-5-2 .u-layout-cell-3 {min-height: 100px} }*/


  .red-border {
    border-bottom: 1px solid #c1c9c0;
  }

  .bg-color {
    background-color: white;
  }


  ///////  СВОЙ КОД ////////////////


  .photo-flex {
    //display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;
    //justify-content:center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    //align-items: flex-start;
    //align-content: flex-start;

    .child {
      flex: 1 300px;
      padding: 4px;
      border-radius: 1.2rem;

      &:nth-of-type(3) {
        //flex: 2 200px;
      }
    }
  }


  .edit-buttons {
    height: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .not-border {
    border: 0 !important;

    &:hover, &:active, &:focus {
      border: 0 !important;
      background: none;
    }
  }

  .btr {
    height: 85px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .el-dialog__wrapper.scc {
    .el-dialog__title {
      color: green;
      font-size: 1.2rem;
      font-weight: bolder;
      transition: color 2s, font-size 2s;
    }
  }

  .el-dialog__wrapper.text-danger {
    .el-dialog__title {
      color: red;
      font-size: 1.2rem;
      font-weight: bolder;
      transition: color 2s, font-size 2s;
    }
  }

  .el-upload-dragger {
    width: unset;
    height: unset;
  }

  // GENERATOR  стилей для видео в слайдере
  @section-name: u-section-3; // Префикс класса section
  @video-count: 10; // Количество видео для слайдера

  .generate-section(@i: 1) when (@i =< @video-count) {
    .@{section-name}-@{i} {
      background-image: none;

      .u-sheet-1 {
        min-height: 1080px
      }

      .u-video-1 {
        height: 608px;
        width: 1080px;
        margin: 60px auto 0
      }

      .u-text-1 {
        width: 680px;
        margin: 30px auto 0
      }

      .u-text-2 {
        width: inherit;
        margin: 20px 0 60px
      }

      @media (max-width: 1199px) {
        .@{section-name}-@{i} .u-video-1 {
          width: 940px
        }
      }

      @media (max-width: 991px) {
        .@{section-name}-@{i} .u-video-1 {
          width: 720px
        }
      }

      @media (max-width: 767px) {
        .@{section-name}-@{i} .u-sheet-1 {
          min-height: 549px
        }

        .@{section-name}-@{i} .u-video-1 {
          height: 300px;
          margin-right: initial;
          margin-left: initial;
          width: auto
        }

        .@{section-name}-@{i} .u-text-1 {
          width: 540px;
          margin-left: 0;
          margin-right: 0
        }

        .@{section-name}-@{i} .u-text-2 {
          width: 540px
        }
      }

      @media (max-width: 575px) {
        .@{section-name}-@{i} .u-sheet-1 {
          min-height: 473px
        }

        .@{section-name}-@{i} .u-video-1 {
          height: 190px;
          width: auto;
          margin-right: initial;
          margin-left: initial
        }

        .@{section-name}-@{i} .u-text-1 {
          width: 340px
        }

        .@{section-name}-@{i} .u-text-2 {
          width: 340px
        }
      }
    }

    .generate-section(@i + 1);
  }

  .generate-section();
  // GENERATOR end
  //
  // GENERATOR  стилей для experts
  @section-name: u-section-5; // Префикс класса section
  @slide-count: 10; // Количество видео для слайдера

  .generate-section-slider(@i: 1) when (@i =< @slide-count) {
    .@{section-name}-@{i} {
      background-image: url("https://d2e0ab19zxiehc.cloudfront.net/zccc.jpg");
      background-position: 50% 50%;
      min-height: 782px;

      .u-layout-wrap-1 {
        margin: 0 auto 0 0
      }

      .u-image-1 {
        min-height: 782px;
        background-image: url("images/2.jpg");
        background-position: 50% 50%
      }

      .u-container-layout-1 {
        padding: 30px
      }

      .u-layout-cell-2 {
        min-height: 782px;
        background-image: none
      }

      .u-container-layout-2 {
        padding: 30px 40px
      }

      .u-text-1 {
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 1.25rem
      }

      .u-text-2 {
        margin-bottom: 0;
        margin-top: 20px;
        font-size: 3.75rem
      }

      .u-text-3 {
        margin-bottom: 0;
        margin-top: 20px
      }

      .u-text-4 {
        margin-top: 20px;
        margin-bottom: 0
      }

      .u-link-1 {
        text-transform: uppercase;
        padding-bottom: 2px;
        letter-spacing: 2px;
        font-size: 0.875rem;
        margin-bottom: 0;
        margin-top: 20px
      }

      .u-image-2 {
        width: 98px;
        height: 52px;
        box-shadow: 0 0 8px 0 rgba(128, 128, 128, 1);
        animation-duration: 1000ms;
        margin: 30px auto 0 0
      }

      .u-layout-cell-3 {
        min-height: 782px
      }

      .u-container-layout-3 {
        padding: 30px
      }

      .u-text-5 {
        font-size: 4.5rem;
        line-height: 1;
        font-weight: 700;
        margin: 0
      }
    }

    @media (max-width: 1199px) {
      .@{section-name}-@{i} {
        min-height: 645px;

        .u-layout-wrap-1 {
          margin-right: initial;
          margin-left: initial
        }

        .u-image-1 {
          min-height: 645px
        }

        .u-layout-cell-2 {
          min-height: 645px
        }

        .u-layout-cell-3 {
          min-height: 645px
        }
      }
    }

    @media (max-width: 991px) {
      .@{section-name}-@{i} {
        min-height: 557px;

        .u-image-1 {
          min-height: 557px
        }

        .u-layout-cell-2 {
          min-height: 557px
        }

        .u-container-layout-2 {
          padding-left: 30px;
          padding-right: 30px
        }

        .u-text-2 {
          font-size: 3rem
        }

        .u-layout-cell-3 {
          min-height: 557px
        }
      }
    }

    @media (max-width: 767px) {
      .@{section-name}-@{i} {
        min-height: 418px;

        .u-image-1 {
          min-height: 864px;
          order: 2
        }

        .u-container-layout-1 {
          padding-left: 10px;
          padding-right: 10px
        }

        .u-layout-cell-2 {
          min-height: 100px;
          order: 1
        }

        .u-container-layout-2 {
          padding-left: 50px;
          padding-right: 50px
        }

        .u-text-2 {
          font-size: 3.75rem
        }

        .u-layout-cell-3 {
          min-height: 92px;
          order: 0
        }

        .u-container-layout-3 {
          padding-left: 50px;
          padding-right: 50px
        }
      }
    }

    @media (max-width: 575px) {
      .@{section-name}-@{i} {
        min-height: 263px;

        .u-image-1 {
          min-height: 544px;
          background-position: 50% 0%
        }

        .u-layout-cell-3 {
          min-height: 100px
        }
      }
    }


    .generate-section-slider(@i + 1);
  }

  .generate-section-slider();
  // GENERATOR end
}



