#blog-home {
  .u-section-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://d2e0ab19zxiehc.cloudfront.net/54e9d34a4b52ae14f6da8c7dda79367d1d38d6ed5b586c4870287ed29f49c55cbf_1280.jpg");
    background-position: 86.88% 50%;
    min-height: 100vh;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin: 60px auto 60px 0
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 545px
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 10px 30px 120px
  }

  .u-section-1 .u-image-1 {
    width: 452px;
    height: 452px;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/_cover_adam_h650.jpg");
    background-position: 50% 50%;
    filter: brightness(0.7);
    margin: 0 auto 0 0
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 545px
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px
  }

  .u-section-1 .u-text-1 {
    margin: 0
  }

  .u-section-1 .u-text-2 {
    margin: 20px 0 0
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 545px
  }

  .u-section-1 .u-container-layout-3 {
    padding: 30px 100px 30px 60px
  }

  .u-section-1 .u-text-3 {
    text-shadow: 0 0 0 rgba(229, 229, 229, 1);
    background-image: none;
    margin: 0
  }

  .u-section-1 .u-text-4 {
    font-style: italic;
    margin: 20px 0 0
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 123px
  }

  .u-section-1 .u-container-layout-4 {
    padding: 30px 10px
  }

  .u-section-1 .u-btn-1 {
    background-image: none;
    font-size: 1.25rem;
    margin: 0 auto;
    padding: 15px 80px
  }

  @media (max-width: 1199px) {
    .u-section-1 {
      min-height: 874px
    }

    .u-section-1 .u-layout-wrap-1 {
      position: relative;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-1 .u-layout-cell-1 {
      min-height: 449px
    }

    .u-section-1 .u-image-1 {
      width: 575px;
      height: 575px
    }

    .u-section-1 .u-layout-cell-2 {
      min-height: 449px
    }

    .u-section-1 .u-layout-cell-3 {
      min-height: 449px
    }

    .u-section-1 .u-layout-cell-4 {
      min-height: 102px
    }
  }

  @media (max-width: 991px) {
    .u-section-1 {
      min-height: 669px
    }

    .u-section-1 .u-layout-cell-1 {
      min-height: 100px
    }

    .u-section-1 .u-container-layout-1 {
      padding-left: 30px
    }

    .u-section-1 .u-layout-cell-2 {
      min-height: 100px
    }

    .u-section-1 .u-layout-cell-3 {
      min-height: 100px
    }

    .u-section-1 .u-container-layout-3 {
      padding-left: 30px;
      padding-right: 30px
    }

    .u-section-1 .u-layout-cell-4 {
      min-height: 100px
    }
  }

  @media (max-width: 767px) {
    .u-section-1 {
      min-height: 502px
    }

    .u-section-1 .u-container-layout-1 {
      padding-left: 10px
    }

    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-1 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px
    }
  }

  @media (max-width: 575px) {
    .u-section-1 {
      min-height: 316px
    }

    .u-section-1 .u-layout-cell-1 {
      min-height: 424px
    }

    .u-section-1 .u-image-1 {
      width: 350px;
      height: 350px;
      margin-left: auto
    }

    .u-section-1 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px
    }

    .u-section-1 .u-container-layout-3 {
      padding-right: 30px;
      padding-left: 60px
    }
  }

  .u-section-2 {
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/fullbloom.png");
    background-position: 50% 50%
  }

  .u-section-2 .u-sheet-1 {
    min-height: 508px
  }

  .u-section-2 .u-text-1 {
    margin: 60px 0 0
  }

  .u-section-2 .u-text-2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.875rem;
    margin: 20px 0 0
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-bottom: 60px
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px 10px
  }

  .u-section-2 .u-icon-1 {
    height: 96px;
    width: 96px;
    margin: 0 auto
  }

  .u-section-2 .u-text-3 {
    font-weight: 400;
    margin: 20px 0 0
  }

  .u-section-2 .u-text-4 {
    font-weight: normal;
    text-transform: uppercase;
    margin: 20px 0 0
  }

  .u-section-2 .u-text-5 {
    margin: 20px 0 0
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px 10px
  }

  .u-section-2 .u-icon-2 {
    height: 96px;
    width: 96px;
    margin: 0 auto
  }

  .u-section-2 .u-text-6 {
    font-weight: 400;
    margin: 20px 0 0
  }

  .u-section-2 .u-text-7 {
    font-weight: normal;
    text-transform: uppercase;
    margin: 20px 0 0
  }

  .u-section-2 .u-text-8 {
    margin: 20px 0 0
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px
  }

  .u-section-2 .u-container-layout-3 {
    padding: 30px 10px
  }

  .u-section-2 .u-icon-3 {
    height: 96px;
    width: 96px;
    margin: 0 auto
  }

  .u-section-2 .u-text-9 {
    font-weight: 400;
    margin: 20px 0 0
  }

  .u-section-2 .u-text-10 {
    font-weight: normal;
    text-transform: uppercase;
    margin: 20px 0 0
  }

  .u-section-2 .u-text-11 {
    margin: 20px 0 0
  }

  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 419px
    }

    .u-section-2 .u-layout-cell-1 {
      min-height: 82px
    }

    .u-section-2 .u-layout-cell-2 {
      min-height: 82px
    }

    .u-section-2 .u-layout-cell-3 {
      min-height: 82px
    }
  }

  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 677px
    }

    .u-section-2 .u-layout-cell-1 {
      min-height: 407px
    }

    .u-section-2 .u-layout-cell-2 {
      min-height: 407px
    }

    .u-section-2 .u-layout-cell-3 {
      min-height: 407px
    }
  }

  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 558px
    }

    .u-section-2 .u-layout-cell-1 {
      min-height: 336px
    }

    .u-section-2 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px
    }

    .u-section-2 .u-layout-cell-2 {
      min-height: 336px
    }

    .u-section-2 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px
    }

    .u-section-2 .u-layout-cell-3 {
      min-height: 336px
    }

    .u-section-2 .u-container-layout-3 {
      padding-left: 30px;
      padding-right: 30px
    }
  }

  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 508px
    }

    .u-section-2 .u-layout-cell-1 {
      min-height: 100px
    }

    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-2 .u-layout-cell-2 {
      min-height: 100px
    }

    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-2 .u-layout-cell-3 {
      min-height: 100px
    }

    .u-section-2 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px
    }
  }

  .u-block-fbe7-5 {
    position: absolute;
    width: 180px;
    height: 3px;
    top: auto;
    bottom: 22px;
    margin-bottom: 0
  }

  .u-block-fbe7-3 {
    position: absolute;
    left: 0;
    margin-top: 0;
    margin-bottom: 0
  }

  .u-block-fbe7-4 {
    position: absolute;
    right: 0;
    margin-top: 0
  }

  .u-section-3-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/images/SVGExport20191262452.svg");
    background-position: 48.76% 0%
  }

  .u-section-3-1 .u-sheet-1 {
    min-height: 590px;
    margin: 0 auto
  }

  .u-section-3-1 .u-group-1 {
    min-height: 298px;
    margin-top: 60px;
    margin-bottom: 0;
    width: 1140px;
    height: auto
  }

  .u-section-3-1 .u-container-layout-1 {
    padding: 20px 10px 30px 0
  }

  .u-section-3-1 .u-text-1 {
    margin: 0
  }

  .u-section-3-1 .u-text-2 {
    margin: 30px 0 0
  }

  .u-section-3-1 .u-layout-wrap-1 {
    width: 1127px;
    margin: 20px 13px 60px 0
  }

  .u-section-3-1 .u-image-1 {
    min-height: 234px;
    background-position: 50% 50%;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/web1DSC_5278.jpg")
  }

  .u-section-3-1 .u-container-layout-2 {
    padding: 20px 10px
  }

  .u-section-3-1 .u-image-2 {
    min-height: 234px;
    background-position: 50% 50%;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/20191201DSCF0698.jpg")
  }

  .u-section-3-1 .u-container-layout-3 {
    padding: 20px 10px
  }

  .u-section-3-1 .u-image-3 {
    min-height: 234px;
    background-position: 50% 82.48%;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/16797162_1302584789802837_401930779158200639_o.jpg")
  }

  .u-section-3-1 .u-container-layout-4 {
    padding: 20px 10px
  }

  .u-section-3-1 .u-image-4 {
    min-height: 234px;
    background-position: 50% 50%;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/20191130201911301910004281021.jpg")
  }

  .u-section-3-1 .u-container-layout-5 {
    padding: 20px 10px
  }

  @media (max-width: 1199px) {
    .u-section-3-1 .u-sheet-1 {
      min-height: 486px
    }

    .u-section-3-1 .u-group-1 {
      width: auto
    }

    .u-section-3-1 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto
    }

    .u-section-3-1 .u-image-1 {
      min-height: 193px
    }

    .u-section-3-1 .u-image-2 {
      min-height: 193px
    }

    .u-section-3-1 .u-image-3 {
      min-height: 193px
    }

    .u-section-3-1 .u-image-4 {
      min-height: 193px
    }
  }

  @media (max-width: 991px) {
    .u-section-3-1 .u-sheet-1 {
      min-height: 826px
    }

    .u-section-3-1 .u-container-layout-1 {
      padding-right: 60px;
      padding-bottom: 40px
    }

    .u-section-3-1 .u-image-1 {
      min-height: 296px
    }

    .u-section-3-1 .u-image-2 {
      min-height: 296px
    }

    .u-section-3-1 .u-image-3 {
      min-height: 296px
    }

    .u-section-3-1 .u-image-4 {
      min-height: 296px
    }
  }

  @media (max-width: 767px) {
    .u-section-3-1 .u-sheet-1 {
      min-height: 729px
    }

    .u-section-3-1 .u-container-layout-1 {
      padding-right: 15px
    }

    .u-section-3-1 .u-image-1 {
      min-height: 444px
    }

    .u-section-3-1 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px
    }

    .u-section-3-1 .u-image-2 {
      min-height: 444px
    }

    .u-section-3-1 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px
    }

    .u-section-3-1 .u-image-3 {
      min-height: 444px
    }

    .u-section-3-1 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px
    }

    .u-section-3-1 .u-image-4 {
      min-height: 444px
    }

    .u-section-3-1 .u-container-layout-5 {
      padding-left: 20px;
      padding-right: 20px
    }
  }

  @media (max-width: 575px) {
    .u-section-3-1 .u-sheet-1 {
      min-height: 1068px
    }

    .u-section-3-1 .u-container-layout-1 {
      padding-right: 10px;
      padding-bottom: 30px
    }

    .u-section-3-1 .u-layout-wrap-1 {
      margin-bottom: -200px;
      width: auto;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-3-1 .u-image-1 {
      min-height: 280px
    }

    .u-section-3-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-3-1 .u-image-2 {
      min-height: 280px
    }

    .u-section-3-1 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-3-1 .u-image-3 {
      min-height: 280px
    }

    .u-section-3-1 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-3-1 .u-image-4 {
      min-height: 280px
    }

    .u-section-3-1 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px
    }
  }

  .u-section-3-2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://d2e0ab19zxiehc.cloudfront.net/web1DSC_5278.jpg");
    background-position: 45.52% 77.87%;
    background-size: 115%
  }

  .u-section-3-2 .u-sheet-1 {
    min-height: 643px;
    margin-top: 0;
    margin-bottom: 0
  }

  .u-section-3-2 .u-group-1 {
    min-height: 251px;
    margin: 60px 293px 0 0
  }

  .u-section-3-2 .u-container-layout-1 {
    padding: 20px 0
  }

  .u-section-3-2 .u-text-1 {
    margin: 0
  }

  .u-section-3-2 .u-text-2 {
    margin: 30px 0 0
  }

  .u-section-3-2 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    background-image: none
  }

  .u-section-3-2 .u-layout-wrap-1 {
    width: 1127px;
    margin: 20px 13px 60px 0
  }

  .u-section-3-2 .u-image-1 {
    min-height: 234px;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/20191103DSCF45972_w690x460.jpg");
    background-position: 50% 50%
  }

  .u-section-3-2 .u-container-layout-2 {
    padding: 20px
  }

  .u-section-3-2 .u-image-2 {
    min-height: 234px;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/20191103DSCF3671_w690x460.jpg");
    background-position: 50% 50%
  }

  .u-section-3-2 .u-container-layout-3 {
    padding: 20px
  }

  .u-section-3-2 .u-image-3 {
    min-height: 234px;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/20191102untitled3481.jpg");
    background-position: 50% 50%
  }

  .u-section-3-2 .u-container-layout-4 {
    padding: 20px
  }

  .u-section-3-2 .u-image-4 {
    min-height: 234px;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/20191104untitled6895.jpg");
    background-position: 50% 50%
  }

  .u-section-3-2 .u-container-layout-5 {
    padding: 20px
  }

  @media (max-width: 1199px) {
    .u-section-3-2 .u-sheet-1 {
      min-height: 100px;
      margin-left: auto;
      margin-right: auto
    }

    .u-section-3-2 .u-group-1 {
      min-height: 207px;
      margin-right: 93px
    }

    .u-section-3-2 .u-layout-wrap-1 {
      width: 940px;
      margin-right: auto
    }

    .u-section-3-2 .u-image-1 {
      min-height: 193px
    }

    .u-section-3-2 .u-image-2 {
      min-height: 193px
    }

    .u-section-3-2 .u-image-3 {
      min-height: 193px
    }

    .u-section-3-2 .u-image-4 {
      min-height: 193px
    }
  }

  @media (max-width: 991px) {
    .u-section-3-2 .u-group-1 {
      min-height: 159px;
      margin-right: auto
    }

    .u-section-3-2 .u-layout-wrap-1 {
      width: 720px
    }

    .u-section-3-2 .u-image-1 {
      min-height: 296px
    }

    .u-section-3-2 .u-image-2 {
      min-height: 296px
    }

    .u-section-3-2 .u-image-3 {
      min-height: 296px
    }

    .u-section-3-2 .u-image-4 {
      min-height: 296px
    }
  }

  @media (max-width: 767px) {
    .u-section-3-2 .u-group-1 {
      min-height: 119px
    }

    .u-section-3-2 .u-layout-wrap-1 {
      width: 540px
    }

    .u-section-3-2 .u-image-1 {
      min-height: 444px
    }

    .u-section-3-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-3-2 .u-image-2 {
      min-height: 444px
    }

    .u-section-3-2 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-3-2 .u-image-3 {
      min-height: 444px
    }

    .u-section-3-2 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-3-2 .u-image-4 {
      min-height: 444px
    }

    .u-section-3-2 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px
    }
  }

  @media (max-width: 575px) {
    .u-section-3-2 {
      background-size: auto 115%
    }

    .u-section-3-2 .u-group-1 {
      min-height: 75px
    }

    .u-section-3-2 .u-layout-wrap-1 {
      width: 340px
    }

    .u-section-3-2 .u-image-1 {
      min-height: 280px
    }

    .u-section-3-2 .u-image-2 {
      min-height: 280px
    }

    .u-section-3-2 .u-image-3 {
      min-height: 280px
    }

    .u-section-3-2 .u-image-4 {
      min-height: 280px
    }
  }

  .u-section-3-3, .u-section-3-4 {
    background-position: 50% 50%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://d2e0ab19zxiehc.cloudfront.net/20191201DSCF0698.jpg");

    .u-sheet-1 {
      min-height: 643px;
      margin: 0 auto
    }

    .u-group-1 {
      min-height: 233px;
      width: 1140px;
      margin: 60px 0 0
    }

    .u-container-layout-1 {
      padding: 20px 10px 30px 0
    }

    .u-text-1 {
      font-size: 3rem;
      margin: 0
    }

    .u-text-2 {
      margin: 30px 0 0
    }

    .u-btn-1 {
      margin-left: 0;
      margin-right: 0;
      background-image: none
    }

    .u-layout-wrap-1 {
      width: 1127px;
      margin: 20px 13px 60px 0
    }

    .u-image-1 {
      min-height: 234px;
      background-position: 50% 50%;
      background-image: url("https://d2e0ab19zxiehc.cloudfront.net/13669516_10201904959902099_9211707530882232605_o.jpg")
    }

    .u-container-layout-2 {
      padding: 20px 10px
    }

    .u-image-2 {
      min-height: 234px;
      background-position: 50% 50%;
      background-image: url("https://d2e0ab19zxiehc.cloudfront.net/14138235_1293024024071127_2503642414572368906_o.jpg")
    }

    .u-container-layout-3 {
      padding: 20px 10px
    }

    .u-image-3 {
      min-height: 234px;
      background-position: 50% 50%;
      background-image: url("https://d2e0ab19zxiehc.cloudfront.net/avatar.jpg")
    }

    .u-container-layout-4 {
      padding: 20px 10px
    }

    .u-image-4 {
      min-height: 234px;
      background-position: 50% 50%;
      background-image: url("https://d2e0ab19zxiehc.cloudfront.net/14089131_10202125453534302_5799446177901492483_n.jpg")
    }

    .u-container-layout-5 {
      padding: 20px 10px
    }
  }

  @media (max-width: 1199px) {
    .u-section-3-3 {
      .u-sheet-1 {
        min-height: 530px
      }

      .u-group-1 {
        height: auto;
        width: 940px
      }

      .u-layout-wrap-1 {
        width: 940px;
        margin-right: 0
      }

      .u-image-1 {
        min-height: 193px
      }

      .u-image-2 {
        min-height: 193px
      }

      .u-image-3 {
        min-height: 193px
      }

      .u-image-4 {
        min-height: 193px
      }
    }
  }

  @media (max-width: 991px) {
    .u-section-3-3 {
      .u-sheet-1 {
        min-height: 826px
      }

      .u-group-1 {
        min-height: 344px;
        width: 720px
      }

      .u-container-layout-1 {
        padding-right: 60px;
        padding-bottom: 40px
      }

      .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto
      }

      .u-image-1 {
        min-height: 181px
      }

      .u-image-2 {
        min-height: 181px
      }

      .u-image-3 {
        min-height: 181px
      }

      .u-image-4 {
        min-height: 181px
      }
    }
  }

  @media (max-width: 767px) {
    .u-section-3-3 {
      .u-sheet-1 {
        min-height: 729px
      }

      .u-group-1 {
        min-height: 233px;
        width: 540px
      }

      .u-container-layout-1 {
        padding-right: 15px
      }

      .u-layout-wrap-1 {
        width: 539px;
        margin-left: auto;
        margin-right: auto
      }

      .u-image-1 {
        min-height: 183px
      }

      .u-container-layout-2 {
        padding-left: 20px;
        padding-right: 20px
      }

      .u-image-2 {
        min-height: 183px
      }

      .u-container-layout-3 {
        padding-left: 20px;
        padding-right: 20px
      }

      .u-image-3 {
        min-height: 183px
      }

      .u-container-layout-4 {
        padding-left: 20px;
        padding-right: 20px
      }

      .u-image-4 {
        min-height: 183px
      }

      .u-container-layout-5 {
        padding-left: 20px;
        padding-right: 20px
      }
    }
  }

  @media (max-width: 575px) {
    .u-section-3-3 {
      .u-sheet-1 {
        min-height: 1099px
      }
      .u-group-1 {
        width: 340px
      }
      .u-container-layout-1 {
        padding-right: 10px;
        padding-bottom: 30px
      }
      .u-layout-wrap-1 {
        width: 340px;
        margin-left: 0
      }
      .u-image-1 {
        min-height: 280px
      }
      .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px
      }
      .u-image-2 {
        min-height: 280px
      }
      .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px
      }
      .u-image-3 {
        min-height: 280px
      }
      .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px
      }
      .u-image-4 {
        min-height: 280px
      }
      .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px
      }
    }
  }
  .u-section-3-4 .u-group-1,
  .u-section-3-5 .u-group-1,
  .u-section-3-6 .u-group-1,
  .u-section-3-7 .u-group-1,
  .u-section-3-8 .u-group-1,
  .u-section-3-9 .u-group-1,
  .u-section-3-10 .u-group-1,
  .u-section-3-11 .u-group-1 {
    min-height: 281px;
    width: 1127px;
    margin: 60px auto 0 0
  }

  .u-section-3-4 .u-container-layout-1 {
    padding: 5px 0 21px
  }

  .u-section-3-4 .u-text-1 {
    font-size: 4.5rem;
    margin: 0
  }

  .u-section-3-4 .u-text-2 {
    margin: 31px 0 0
  }

  .u-section-3-4 .u-btn-1 {
    background-image: none;
    margin: 20px auto 0 7px
  }

  .u-section-3-4 .u-layout-wrap-1 {
    width: 1127px;
    margin: 20px auto 60px 0
  }

  .u-section-3-4 .u-image-1 {
    min-height: 234px;
    background-position: 50% 50%;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/20191201DSCF04372.jpg")
  }

  .u-section-3-4 .u-container-layout-2 {
    padding: 20px 10px
  }

  .u-section-3-4 .u-image-2 {
    min-height: 234px;
    background-position: 50% 50%;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/20191201DSCF05402.jpg")
  }

  .u-section-3-4 .u-container-layout-3 {
    padding: 20px 10px
  }

  .u-section-3-4 .u-image-3 {
    min-height: 234px;
    background-position: 50% 50%;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/CooperIMG_9393b.jpg")
  }

  .u-section-3-4 .u-container-layout-4 {
    padding: 20px 10px
  }

  .u-section-3-4 .u-image-4 {
    min-height: 234px;
    background-position: 50% 50%;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/13701032_10154311114337622_1586595586405699328_o.jpg")
  }

  .u-section-3-4 .u-container-layout-5 {
    padding: 20px 10px
  }

  @media (max-width: 1199px) {
    .u-section-3-4 .u-sheet-1 {
      min-height: 530px
    }

    .u-section-3-4 .u-group-1,
    .u-section-3-5 .u-group-1,
    .u-section-3-6 .u-group-1,
    .u-section-3-7 .u-group-1,
    .u-section-3-8 .u-group-1,
    .u-section-3-9 .u-group-1,
    .u-section-3-10 .u-group-1,
    .u-section-3-11 .u-group-1 {
      min-height: 233px;
      height: auto;
      width: 940px
    }

    .u-section-3-4 .u-btn-1 {
      margin-left: 0
    }

    .u-section-3-4 .u-layout-wrap-1 {
      width: 940px;
      margin-right: 0
    }

    .u-section-3-4 .u-image-1 {
      min-height: 193px
    }

    .u-section-3-4 .u-image-2 {
      min-height: 193px
    }

    .u-section-3-4 .u-image-3 {
      min-height: 193px
    }

    .u-section-3-4 .u-image-4 {
      min-height: 193px
    }
  }

  @media (max-width: 991px) {
    .u-section-3-4 .u-sheet-1 {
      min-height: 826px
    }

    .u-section-3-4 .u-group-1,
    .u-section-3-5 .u-group-1,
    .u-section-3-6 .u-group-1,
    .u-section-3-7 .u-group-1,
    .u-section-3-8 .u-group-1,
    .u-section-3-9 .u-group-1,
    .u-section-3-10 .u-group-1,
    .u-section-3-11 .u-group-1 {
      min-height: 234px;
      width: 720px
    }

    .u-section-3-4 .u-container-layout-1 {
      padding-bottom: 40px
    }

    .u-section-3-4 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto
    }

    .u-section-3-4 .u-image-1 {
      min-height: 234px
    }

    .u-section-3-4 .u-image-2 {
      min-height: 234px
    }

    .u-section-3-4 .u-image-3 {
      min-height: 234px
    }

    .u-section-3-4 .u-image-4 {
      min-height: 234px
    }
  }

  @media (max-width: 767px) {
    .u-section-3-4 .u-sheet-1 {
      min-height: 729px
    }

    .u-section-3-4 .u-group-1,
    .u-section-3-5 .u-group-1,
    .u-section-3-6 .u-group-1,
    .u-section-3-7 .u-group-1,
    .u-section-3-8 .u-group-1,
    .u-section-3-9 .u-group-1,
    .u-section-3-10 .u-group-1,
    .u-section-3-11 .u-group-1 {
      min-height: 356px;
      width: 540px
    }

    .u-section-3-4 .u-container-layout-1 {
      padding-bottom: 21px
    }

    .u-section-3-4 .u-layout-wrap-1 {
      margin-top: 40px;
      width: auto;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-3-4 .u-image-1 {
      min-height: 193px
    }

    .u-section-3-4 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px
    }

    .u-section-3-4 .u-image-2 {
      min-height: 193px
    }

    .u-section-3-4 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px
    }

    .u-section-3-4 .u-image-3 {
      min-height: 193px
    }

    .u-section-3-4 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px
    }

    .u-section-3-4 .u-image-4 {
      min-height: 193px
    }

    .u-section-3-4 .u-container-layout-5 {
      padding-left: 20px;
      padding-right: 20px
    }
  }

  @media (max-width: 575px) {
    .u-section-3-4 .u-sheet-1 {
      min-height: 1159px
    }

    .u-section-3-4 .u-group-1,
    .u-section-3-5 .u-group-1,
    .u-section-3-6 .u-group-1,
    .u-section-3-7 .u-group-1,
    .u-section-3-8 .u-group-1,
    .u-section-3-9 .u-group-1,
    .u-section-3-10 .u-group-1,
    .u-section-3-11 .u-group-1 {
      min-height: 442px;
      width: 340px
    }

    .u-section-3-4 .u-layout-wrap-1 {
      margin-top: 20px;
      width: auto;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-3-4 .u-image-1 {
      min-height: 280px
    }

    .u-section-3-4 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-3-4 .u-image-2 {
      min-height: 280px
    }

    .u-section-3-4 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-3-4 .u-image-3 {
      min-height: 280px
    }

    .u-section-3-4 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-3-4 .u-image-4 {
      min-height: 280px
    }

    .u-section-3-4 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px
    }
  }

  .u-section-3-5 {
    background-position: 50% 82.23%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://d2e0ab19zxiehc.cloudfront.net/2019113020191130191000428102.jpg")
  }

  .u-section-3-5 .u-sheet-1,
  .u-section-3-6 .u-sheet-1,
  .u-section-3-7 .u-sheet-1,
  .u-section-3-8 .u-sheet-1,
  .u-section-3-9 .u-sheet-1,
  .u-section-3-10 .u-sheet-1,
  .u-section-3-11 .u-sheet-1 {
    min-height: 643px;
    margin: 0 auto
  }

  .u-section-3-5 .u-group-1,
  .u-section-3-6 .u-group-1,
  .u-section-3-7 .u-group-1,
  .u-section-3-8 .u-group-1,
  .u-section-3-9 .u-group-1,
  .u-section-3-10 .u-group-1,
  .u-section-3-11 .u-group-1 {
    min-height: 298px;
    width: 1127px;
    margin: 60px auto 0 0
  }

  .u-section-3-5 .u-container-layout-1 {
    padding: 20px 0 30px
  }

  .u-section-3-5 .u-text-1 {
    font-size: 4.5rem;
    margin: 0 12px
  }

  .u-section-3-5 .u-text-2 {
    margin: 21px 12px 0
  }

  .u-section-3-5 .u-btn-1 {
    background-image: none;
    margin: 20px auto 0 12px
  }

  .u-section-3-5 .u-layout-wrap-1 {
    width: 1127px;
    margin: 20px 13px 60px 0
  }

  .u-section-3-5 .u-image-1,
  .u-section-3-6 .u-image-1,
  .u-section-3-7 .u-image-1,
  .u-section-3-8 .u-image-1,
  .u-section-3-9 .u-image-1,
  .u-section-3-10 .u-image-1,
  .u-section-3-11 .u-image-1 {
    min-height: 234px;
    background-position: 50% 50%;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/fm.jpg")
  }

  .u-section-3-5 .u-container-layout-2 {
    padding: 20px 10px
  }

  .u-section-3-5 .u-image-2 {
    min-height: 234px;
    background-position: 50% 50%;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/P_20180805_122538_vHDR_Auto.jpg")
  }

  .u-section-3-5 .u-container-layout-3 {
    padding: 20px 10px
  }

  .u-section-3-5 .u-image-3 {
    min-height: 234px;
    background-position: 50% 50%;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/20191101port463.jpg")
  }

  .u-section-3-5 .u-container-layout-4 {
    padding: 20px 10px
  }

  .u-section-3-5 .u-image-4 {
    min-height: 234px;
    background-position: 50% 50%;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/20191117DSCF96311.jpg")
  }

  .u-section-3-5 .u-container-layout-5 {
    padding: 20px 10px
  }

  @media (max-width: 1199px) {
    .u-section-3-5 .u-sheet-1 {
      min-height: 530px
    }

    .u-section-3-5 .u-group-1,
    .u-section-3-6 .u-group-1,
    .u-section-3-7 .u-group-1,
    .u-section-3-8 .u-group-1,
    .u-section-3-9 .u-group-1,
    .u-section-3-10 .u-group-1,
    .u-section-3-11 .u-group-1 {
      height: auto;
      width: 940px
    }

    .u-section-3-5 .u-text-1 {
      margin-left: 0;
      margin-right: 0
    }

    .u-section-3-5 .u-text-2 {
      margin-left: 0;
      margin-right: 0
    }

    .u-section-3-5 .u-btn-1 {
      margin-left: 0
    }

    .u-section-3-5 .u-layout-wrap-1 {
      width: 940px;
      margin-right: 0
    }

    .u-section-3-5 .u-image-1,
    .u-section-3-6 .u-image-1,
    .u-section-3-7 .u-image-1,
    .u-section-3-8 .u-image-1,
    .u-section-3-9 .u-image-1,
    .u-section-3-10 .u-image-1,
    .u-section-3-11 .u-image-1 {
      min-height: 193px
    }

    .u-section-3-5 .u-image-2 {
      min-height: 193px
    }

    .u-section-3-5 .u-image-3 {
      min-height: 193px
    }

    .u-section-3-5 .u-image-4 {
      min-height: 193px
    }
  }

  @media (max-width: 991px) {
    .u-section-3-5 .u-sheet-1 {
      min-height: 826px
    }

    .u-section-3-5 .u-group-1,
    .u-section-3-6 .u-group-1,
    .u-section-3-7 .u-group-1,
    .u-section-3-8 .u-group-1,
    .u-section-3-9 .u-group-1,
    .u-section-3-10 .u-group-1,
    .u-section-3-11 .u-group-1 {
      min-height: 234px;
      width: 720px
    }

    .u-section-3-5 .u-container-layout-1 {
      padding-bottom: 40px
    }

    .u-section-3-5 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto
    }

    .u-section-3-5 .u-image-1,
    .u-section-3-6 .u-image-1,
    .u-section-3-7 .u-image-1,
    .u-section-3-8 .u-image-1,
    .u-section-3-9 .u-image-1,
    .u-section-3-10 .u-image-1,
    .u-section-3-11 .u-image-1 {
      min-height: 234px
    }

    .u-section-3-5 .u-image-2 {
      min-height: 234px
    }

    .u-section-3-5 .u-image-3 {
      min-height: 234px
    }

    .u-section-3-5 .u-image-4 {
      min-height: 234px
    }
  }

  @media (max-width: 767px) {
    .u-section-3-5 .u-sheet-1 {
      min-height: 729px
    }

    .u-section-3-5 .u-group-1,
    .u-section-3-6 .u-group-1,
    .u-section-3-7 .u-group-1,
    .u-section-3-8 .u-group-1,
    .u-section-3-9 .u-group-1,
    .u-section-3-10 .u-group-1,
    .u-section-3-11 .u-group-1 {
      min-height: 233px;
      width: 540px
    }

    .u-section-3-5 .u-image-1,
    .u-section-3-6 .u-image-1,
    .u-section-3-7 .u-image-1,
    .u-section-3-8 .u-image-1,
    .u-section-3-9 .u-image-1,
    .u-section-3-10 .u-image-1,
    .u-section-3-11 .u-image-1 {
      min-height: 193px
    }

    .u-section-3-5 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px
    }

    .u-section-3-5 .u-image-2 {
      min-height: 193px
    }

    .u-section-3-5 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px
    }

    .u-section-3-5 .u-image-3 {
      min-height: 193px
    }

    .u-section-3-5 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px
    }

    .u-section-3-5 .u-image-4 {
      min-height: 193px
    }

    .u-section-3-5 .u-container-layout-5 {
      padding-left: 20px;
      padding-right: 20px
    }
  }

  @media (max-width: 575px) {
    .u-section-3-5 .u-sheet-1,
    .u-section-3-6 .u-sheet-1,
    .u-section-3-7 .u-sheet-1,
    .u-section-3-8 .u-sheet-1,
    .u-section-3-9 .u-sheet-1,
    .u-section-3-10 .u-sheet-1,
    .u-section-3-11 .u-sheet-1 {
      min-height: 949px
    }

    .u-section-3-5 .u-group-1,
    .u-section-3-6 .u-group-1,
    .u-section-3-7 .u-group-1,
    .u-section-3-8 .u-group-1,
    .u-section-3-9 .u-group-1,
    .u-section-3-10 .u-group-1,
    .u-section-3-11 .u-group-1 {
      width: 340px
    }

    .u-section-3-5 .u-container-layout-1 {
      padding-bottom: 30px
    }

    .u-section-3-5 .u-layout-wrap-1 {
      margin-bottom: -319px;
      width: auto;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-3-5 .u-image-1,
    .u-section-3-6 .u-image-1,
    .u-section-3-7 .u-image-1,
    .u-section-3-8 .u-image-1,
    .u-section-3-9 .u-image-1,
    .u-section-3-10 .u-image-1,
    .u-section-3-11 .u-image-1 {
      min-height: 280px
    }

    .u-section-3-5 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-3-5 .u-image-2 {
      min-height: 280px
    }

    .u-section-3-5 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-3-5 .u-image-3 {
      min-height: 280px
    }

    .u-section-3-5 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px
    }

    .u-section-3-5 .u-image-4 {
      min-height: 280px
    }

    .u-section-3-5 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px
    }
  }

  .u-section-4 {
    margin-top: 0;
    margin-bottom: 0;
    background-image: url("https://d2e0ab19zxiehc.cloudfront.net/dust_scratches.png");
    background-position: 50% 50%
  }

  .u-section-4 .u-sheet-1 {
    min-height: 652px
  }

  .u-section-4 .u-layout-wrap-1 {
    margin: 30px auto 30px 0
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 400px;
    order: 0
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0;
    background: white;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #ebebeb;

    &:hover {
      img {
        filter: brightness(80%);
      }
    }

    .poale-text {
      padding: 0 20px;
    }
  }

  .u-section-4 .u-shape-1 {
    height: 251px;
    margin-top: 0;
    margin-bottom: 0;
    background-image: none
  }

  .u-section-4 .u-image-1 {
    object-position: 50% 0%;
    background-position: 50% 0%;
    height: 194px;
    margin-top: -251px;
    margin-bottom: 0
  }

  .u-section-4 .u-text-1 {
    margin: 10px 0 0
  }

  .u-section-4 .u-text-2 {
    font-style: italic;
    margin: 10px 0 0
  }

  .u-section-4 .u-text-3 {
    margin: 10px 0 0
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 622px;
    order: 0
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0 0 30px
  }

  .u-section-4 .u-shape-2 {
    height: 250px;
    background-image: none;
    margin: 0 auto 0 0
  }

  .u-section-4 .u-image-2 {
    height: 194px;
    margin: -222px auto 0 0
  }

  .u-section-4 .u-text-4 {
    margin: 53px 0 0
  }

  .u-section-4 .u-text-5 {
    font-style: italic;
    background-image: none;
    margin: 10px 0 0
  }

  .u-section-4 .u-text-6 {
    margin: 11px 0 0
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 622px;
    order: 0
  }

  .u-section-4 .u-container-layout-3 {
    padding: 0 0 30px
  }

  .u-section-4 .u-shape-3 {
    height: 250px;
    margin-top: 0;
    margin-bottom: 0
  }

  .u-section-4 .u-image-3 {
    height: 194px;
    margin-top: -222px;
    margin-bottom: 0
  }

  .u-section-4 .u-text-7 {
    margin: 54px 0 0
  }

  .u-section-4 .u-text-8 {
    font-style: italic;
    background-image: none;
    margin: 10px 0 0
  }

  .u-section-4 .u-text-9 {
    margin: 10px 0 0
  }

  @media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
      min-height: 1056px
    }

    .u-section-4 .u-layout-wrap-1 {
      margin-top: 213px;
      margin-bottom: 60px;
      min-height: 631px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-4 .u-layout-cell-1 {
      min-height: 513px
    }

    .u-section-4 .u-shape-1 {
      width: 293px;
      margin-right: 0;
      margin-left: 0
    }

    .u-section-4 .u-layout-cell-2 {
      min-height: 513px
    }

    .u-section-4 .u-shape-2 {
      margin-right: initial;
      margin-left: initial
    }

    .u-section-4 .u-image-2 {
      height: 160px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-4 .u-layout-cell-3 {
      min-height: 513px
    }

    .u-section-4 .u-shape-3 {
      width: 293px;
      margin-right: 0;
      margin-left: 0
    }
  }

  @media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
      min-height: 654px
    }

    .u-section-4 .u-layout-wrap-1 {
      margin-top: 60px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-4 .u-layout-cell-1 {
      min-height: 100px
    }

    .u-section-4 .u-shape-1 {
      height: 289px;
      margin-right: initial;
      margin-left: initial;
      width: auto
    }

    .u-section-4 .u-image-1 {
      margin-top: -320px
    }

    .u-section-4 .u-text-2 {
      margin-top: 20px
    }

    .u-section-4 .u-text-3 {
      margin-top: 20px
    }

    .u-section-4 .u-layout-cell-2 {
      min-height: 100px
    }

    .u-section-4 .u-shape-2 {
      height: 289px;
      margin-top: 51px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-4 .u-image-2 {
      height: 123px;
      margin-top: -320px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-4 .u-text-6 {
      margin-top: 20px
    }

    .u-section-4 .u-layout-cell-3 {
      min-height: 100px
    }

    .u-section-4 .u-shape-3 {
      height: 289px;
      margin-right: initial;
      margin-left: initial;
      width: auto
    }

    .u-section-4 .u-image-3 {
      margin-top: -320px
    }

    .u-section-4 .u-text-7 {
      margin-top: 53px
    }

    .u-section-4 .u-text-8 {
      margin-top: 20px
    }

    .u-section-4 .u-text-9 {
      margin-top: 20px
    }
  }

  @media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
      min-height: 237px
    }

    .u-section-4 .u-shape-1 {
      height: 251px;
      margin-top: 10px;
      width: auto;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-4 .u-image-1 {
      margin-top: -222px
    }

    .u-section-4 .u-text-2 {
      margin-top: 10px
    }

    .u-section-4 .u-text-3 {
      margin-top: 10px
    }

    .u-section-4 .u-shape-2 {
      height: 250px;
      margin-top: 10px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-4 .u-image-2 {
      height: 277px;
      margin-top: -222px;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-4 .u-text-4 {
      margin-top: 54px
    }

    .u-section-4 .u-text-6 {
      margin-top: 10px
    }

    .u-section-4 .u-shape-3 {
      height: 250px;
      margin-top: 10px;
      width: auto;
      margin-right: initial;
      margin-left: initial
    }

    .u-section-4 .u-image-3 {
      margin-top: -222px
    }

    .u-section-4 .u-text-7 {
      margin-top: 54px
    }

    .u-section-4 .u-text-8 {
      margin-top: 10px
    }

    .u-section-4 .u-text-9 {
      margin-top: 10px
    }
  }

  @media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
      min-height: 522px
    }

    .u-section-4 .u-image-2 {
      height: 174px;
      margin-right: initial;
      margin-left: initial
    }
  }

  .red-border {
    border-bottom: 1px solid #c1c9c0;
  }

  .bg-color {
    background-color: white;
  }


  .el-upload-dragger {
    width: 146px;
    height: 146px;
  }

  .size {
    color: #8492a6;
    font-size: 13px;
    /*    white-space: nowrap; !* Отменяем перенос текста *!
        overflow: hidden; !* Обрезаем содержимое *!
        padding: 5px; !* Поля *!
        text-overflow: ellipsis; !* Многоточие *!*/
  }

  .nonMar {
    margin: 0;
  }


}
