@footer-height: 40px;
@container-md-max-width: 1100px;
//@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Amita|Fondamento|Italianno|Kurale|Medula+One|Merienda+One|Mr+De+Haviland|Poiret+One|Pompiere|Qwigley|Rouge+Script|Spicy+Rice|Unkempt|Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gabriela|Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,500,600|Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Cormorant&display=swap');
[v-cloak] {
  display: none;
  //color: #13ce66;
}

html, body {
  height: 100%;
  margin: 0;
  background: url("../images/logo-fh.svg") no-repeat -8000px, -8000px;
  .pointer{
    cursor: pointer;
  }
  //background: linear-gradient(to top right, #FDB171, #FD987D);
}

/*#header {
  padding: 0 !important;
}

#header.header-scrolled {
  //z-index: 10000;
}*/

/*header {
  //header#sec-599b {
  //  transform: translate(0, -80%);
  //  transition: .25s;
  //  transition-delay: 10s;
  //}
  //
  //header#sec-599b:hover {
  //  transform: translate(0%);
  //  transition-delay: 3s;
  //  transition: .25s;
  //}

  .main-menu {
    padding-top: 10px;
  }

  .logo, .share {
    position: relative;
    display: inline-block;
    height: 26px;
    width: 122px;
  }
  .logo::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    left: 0;
    background: url("../images/logo.svg") no-repeat center;
    background-size: contain;
  }
  .share::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    left: 0;
    background: url("../images/share.svg") no-repeat center;
    background-size: contain;
  }

  .ru, .en {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 95px;
  }
  .ru::after {
    content: '';
    width: 100%;
    background: url("https://d1lyb0stb8az10.cloudfront.net/Flag_of_Russia.jpg") no-repeat center;
    background-size: contain;
  }
  .en::after {
    content: '';
    width: 100%;
    background: url("https://d1lyb0stb8az10.cloudfront.net/Engl-flag.jpg") no-repeat center;
    background-size: contain;

  }

  a:not(.btn) {
    cursor: pointer;
    border-bottom: 3px solid transparent;
    &.nav-item {
      // padding-left: 0px;
      padding-right: 0px;
      margin-right: 20px;
      &:hover {
        border-bottom-color: @border-lt-gray;
      }
      &.current {
        border-bottom-color: @accent-teal;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &.dropdown-toggle {
      &:hover {
        color: @accent-teal !important;
      }
    }
  }

  .dropdown-menu.account-menu {
    left: auto;
    right: 0px;
  }
  .dropdown-menu.account-menu {
    left: auto;
    right: 0;
  }
  .nav-menu ul {
    margin: 16px 0 0 0;
    box-shadow: 0px 0px 10px rgba(127, 137, 161, 0.25);
  }
  .nav-menu > li.menu-has-children.avatar {
    margin-right: 40px;
    //margin-top: -4px;
  }

}*/

body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */

  // SVG ИКОНКИ САМОПАЛ
  .container-icon {
    position: relative;
    width: 20px;
    height: 20px;
    padding: 0 1px;
    margin-right: 22px;
    #super, #wow, #like, #haha {
      bottom: 0;
      width: inherit;
      height: inherit;
      position: absolute;
      overflow: visible;
    }

  }
  // end SVG ИКОНКИ САМОПАЛ

  .groom {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 16px;
  }
  .groom::after {
    content: '';
    height: 100%;
    width: 100%;
    color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background: url("https://d1lyb0stb8az10.cloudfront.net/brush.svg") no-repeat center;
    background-size: contain;
  }

}

.content {
  flex: 1 0 auto;
  //padding: 20px 0;
}

footer {
  flex-shrink: 0;
  padding: 20px;
  .logo {
    top: 3px;
    position: relative;
    display: inline-block;
    height: 16px;
    width: 78px;
  }
  .logo::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/logo-f.svg") no-repeat center;
    background-size: contain;
  }
  .logo:hover::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/logo-fh.svg") no-repeat center;
    background-size: contain;
  }
}

#page-wrap {
  .el-drawer__body{
    overflow-y: auto!important;
  }
  //height: 100%;
  /* lesshint-disable */
  height: auto !important; /* lesshint-enable */
  // ^^The above is to disable "importantRule" and "duplicateProperty" rules.
  min-height: 100%;
  position: relative;
  padding-bottom: @footer-height;


  .poaleell-ico {
    position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
  }
  .poaleell-ico::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/ico.svg") no-repeat center;
    background-size: contain;
  }

  // App-wide styles for our ajax buttons
  .ajax-button {
    .ajax-button();
  }
}


#page-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: @footer-height;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  .xs-only {
    display: none;
  }
}

body.detected-mobile {
  // Above and beyond the media queries below, this selector (which relies on
  // `parasails` automatically attaching this class, if appropriate) contains
  // styles intended to be activated specifically when loaded from a recognized
  // mobile device, regardless of viewport dimensions.  This includes tablet
  // devices (like the iPad) as well as handset devices (like the iPhone).
  // …
}

.section-gap {
  padding: 80px 0;
}

.text-gold {
  color: rgba(255, 224, 191, .65);
}

.photo-preview {
  .image-wrapper.round {
    background-color: @bg-lt-gray;
    width: 31px;
    height: 31px;
    margin: -4px auto 8px;
    overflow: hidden;
    border-radius: 50%;
    img.personPhoto {
      width: auto;
      height: 100%;
      margin: 0 auto;
    }
    img {
      width: 31px;
    }
    .placeholder-icon {
      color: @text-muted;
      font-size: 42px;
    }
  }
}

.el-upload-dragger {
  width: 43vw;
}

@media (max-width: 800px) {

  #page-wrap {
    padding-bottom: 75px;
    #page-footer {
      height: 75px;
      .copy, .nav {
        width: 100%;
        display: block;
        text-align: center;
        .nav-item {
          display: inline-block;
          a {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #page-wrap {
    padding-bottom: 85px;
    #page-footer {
      height: 85px;
      .xs-only {
        display: block;
      }
    }
  }
}


