@footer-height: 40px;
@container-md-max-width: 1100px;

[v-cloak] { display:none; }

html, body {
  height: 100%;
  margin: 0;
  background-image: url("../images/logo-fh.svg");
  background-position: -8000px, -8000px;
  background-repeat: no-repeat;
  //background: linear-gradient(to top right, #FDB171, #FD987D);
}

#header {
  padding: 0 !important;
}

#header.header-scrolled {
  //z-index: 10000;
}

header {

  .main-menu {
    padding-top: 10px;
  }
  .logo {
    position: relative;
    display: inline-block;
    height: 26px;
    width: 122px;
  }
  .logo::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    left: 0;
    background-image: url("../images/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  a:not(.btn) {
    cursor: pointer;
    border-bottom: 3px solid transparent;
    &.nav-item {
      // padding-left: 0px;
      padding-right: 0px;
      margin-right: 20px;
      &:hover {
        border-bottom-color: @border-lt-gray;
      }
      &.current {
        border-bottom-color: @accent-teal;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &.dropdown-toggle {
      &:hover {
        color: @accent-teal !important;
      }
    }
  }
  .dropdown-menu.account-menu {
    left: auto;
    right: 0px;
  }
  .dropdown-menu.account-menu {
    left: auto;
    right: 0;
  }
  .nav-menu ul {
    margin: 16px 0 0 0;
    box-shadow: 0px 0px 10px rgba(127, 137, 161, 0.25);
  }
  .nav-menu > li.menu-has-children.avatar {
    margin-right: 40px;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */

  .groom {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 16px;
  }
  .groom::after {
    content: '';
    height: 100%;
    width: 100%;
    color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("https://d3a1wbnh2r1l7y.cloudfront.net/brush.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  //.circle {
  //  float: left;
  //  height: 200px;
  //  width: 200px;
  //  shape-outside: circle(25%);
  //  shape-margin: 1rem;
  //  clip-path: circle(25%);
  ////circle(50% at 0 50%);
  //  background: linear-gradient(to top right, #FDB171, #FD987D);
  //}
  //
  //.polygon {
  //  float: left;
  //  shape-outside: polygon(0 0, 0 300px, 200px 300px);
  //  clip-path: polygon(0 0, 0 300px, 200px 300px);
  //  height: 300px;
  //  width: 300px;
  //  background: linear-gradient(to top right, #86F7CC, #67D7F5);
  //}

  //.left {
  //  float: left;
  //  shape-outside: polygon(0 0, 0 300px, 200px 300px);
  //  clip-path: polygon(0 0, 0 300px, 200px 300px);
  //  background: linear-gradient(to top right, #67D7F5, #86F7CC);
  //  height: 300px;
  //  width: 300px;
  //}

  //.right {
  //  float: right;
  //  shape-outside: polygon(300px 300px, 300px 300px, 300px 0px, 0 0);
  //  clip-path: polygon(300px 300px, 300px 300px, 300px 0px, 0 0);
  //  background: linear-gradient(to bottom left, #67D7F5, #86F7CC);
  //  height: 300px;
  //  width: 300px;
  //}
}

.content {
  flex: 1 0 auto;
  //padding: 20px 0;
}

footer {
  flex-shrink: 0;
  padding: 20px;
  .logo {
    top: 3px;
    position: relative;
    display: inline-block;
    height: 16px;
    width: 78px;
  }
  .logo::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/logo-f.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .logo:hover::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/logo-fh.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

#page-wrap {
  height: 100%;
  /* lesshint-disable */
  height: auto !important; /* lesshint-enable */
  // ^^The above is to disable "importantRule" and "duplicateProperty" rules.
  min-height: 100%;
  position: relative;
  padding-bottom: @footer-height;

  .poaleell-ico {
    position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
  }
  .poaleell-ico::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/ico.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  // App-wide styles for our ajax buttons
  .ajax-button {
    .ajax-button();
  }
}

#page-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: @footer-height;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  .xs-only {
    display: none;
  }
}

body.detected-mobile {
  // Above and beyond the media queries below, this selector (which relies on
  // `parasails` automatically attaching this class, if appropriate) contains
  // styles intended to be activated specifically when loaded from a recognized
  // mobile device, regardless of viewport dimensions.  This includes tablet
  // devices (like the iPad) as well as handset devices (like the iPhone).
  // …
}

.section-gap {
  padding: 80px 0;
}

.photo-preview {
  .image-wrapper.round {
    background-color: @bg-lt-gray;
    width: 31px;
    height: 31px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    img.personPhoto {
      width: auto;
      height: 100%;
      margin: 0 auto;
    }
    img {
      width: 31px;
    }
    .placeholder-icon {
      color: @text-muted;
      font-size: 42px;
    }
  }
}

.el-upload-dragger {
  width: 43vw;
}

@media (max-width: 800px) {

  #page-wrap {
    padding-bottom: 75px;
    #page-footer {
      height: 75px;
      .copy, .nav {
        width: 100%;
        display: block;
        text-align: center;
        .nav-item {
          display: inline-block;
          a {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #page-wrap {
    padding-bottom: 85px;
    #page-footer {
      height: 85px;
      .xs-only {
        display: block;
      }
    }
  }
}


