<div id="federations-home" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/federations/federations-home.less</em>, <em>assets/js/pages/federations/federations-home.page.js</em>, and <em>api/controllers/federations/view-federations-home.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
