<div id="group-home" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/group/group-home.less</em>, <em>assets/js/pages/group/group-home.page.js</em>, and <em>api/controllers/group/view-group-home.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
