<div id="title" v-cloak>
  <patzi-section-header :obj-data="seo" :label="true"></patzi-section-header>
  <% /* Главное Фото */ %>
  <section class="service-area section-gap">
    <div class="container">
      <div class="portfolio_details_inner ">
        <div class="row">
          <% /* Хлебные крошки */ %>
          <div class="col-md-6">
            <el-breadcrumb separator-class="el-icon-arrow-right">
              <el-breadcrumb-item><a style="text-decoration: none" href="/"><%= __('Home-menu') %></a></el-breadcrumb-item>
              <el-breadcrumb-item><a style="text-decoration: none" href="/titles"><%= __('Titles') %></a></el-breadcrumb-item>
              <el-breadcrumb-item>{{data.labelRu}}</el-breadcrumb-item>
            </el-breadcrumb>
          </div>
        </div>
        <patzi-row-h3-p :obj-data="seo"></patzi-row-h3-p>
        <div class="d-flex justify-content-center">
          <div v-if="getLinkFlag(data.flag)">  <el-image
                    style=" height: 300px;"
                    :src="getLinkFlag(data.flag)"
                    :fit="'cover'"
                    :scroll-container="'#style-1'"
                    :preview-src-list="data.imagesArrUrl"
            >
              <div slot="error" class="image-slot">
                <i class="el-icon-picture-outline"></i>
              </div>
            </el-image></div>
          <div v-else class="m-1" v-for="img in data.imagesMin" :key="img.fd" >
            <el-image
                    style=" height: 300px;"
                    :src="img.imageSrc "
                    :fit="'cover'"
                    :scroll-container="'#style-1'"
                    :preview-src-list="data.imagesArrUrl"
            >
              <div slot="error" class="image-slot">
                <i class="el-icon-picture-outline"></i>
              </div>
            </el-image>
          </div>
        </div>


      </div>
    </div>
  </section>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
