<div id="users-home" v-cloak>


  <div class="container">
    <div class="row">
      <h1>TODO: Implement this page.</h1>
      <div class="col-md-12">
        {{cols.length}}
      <!--  <table-poaleell :pCols="[...cols]" :pRows='[...rws]' />-->
        <button class="btn btn-danger">Ok</button>
      </div>
    </div></div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
