#dog {
  @color-red: #de4640;

  .dialog-kennel-add-dog {
    margin-top: 0 !important;
    padding-top: 0 !important;
    font-size: 3rem;
    width: 60vw;

    .el-upload-dragger {
      width: 146px;
      height: 146px;
    }
  }


  .awards {
    .u-container-layout {
      overflow: hidden;
    }

    .el-dialog__header,
    .el-dialog__body {
      padding: 0 !important;
      color:#111111
    }

    /* НАГРАДЫ ВКЛАДКА */
    .u-section-1 {min-height: 730px}
    .u-section-1 .u-layout-wrap-1 {margin: 0 auto 0 0}
    .u-section-1 .u-image-1 {background-image: url("/images/bg7.jpg"); min-height: 730px; background-position: 50% 50%}
    .u-section-1 .u-group-1 {width: 490px; min-height: 498px; margin: 75px 34px 75px auto}
    .u-section-1 .u-container-layout-2 {padding-left: 50px}
    .u-section-1 .u-text-1 {text-transform: uppercase; letter-spacing: 3px; font-size: 6rem; margin: 50px 51px 0 1px}
    .u-section-1 .u-line-1 {width: 369px; height: 2px; transform-origin: left center 0; margin: 20px auto 0 0}
    .u-section-1 .u-link-1 {text-transform: uppercase; padding-bottom: 2px; font-size: 1rem; margin: 20px auto 50px 0}
    .u-section-1 .u-layout-cell-2 {min-height: 730px}

    @media (max-width: 1199px){ .u-section-1 {min-height: 346px}
      .u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
      .u-section-1 .u-image-1 {min-height: 538px}
      .u-section-1 .u-group-1 {width: 419px; min-height: 483px; height: auto; margin-top: 94px; margin-right: auto; margin-bottom: 55px}
      .u-section-1 .u-container-layout-2 {padding-left: 40px}
      .u-section-1 .u-text-1 {font-size: 3.75rem; margin-top: 0; margin-right: 42px; margin-left: 0}
      .u-section-1 .u-line-1 {width: 132px}
      .u-section-1 .u-link-1 {margin-bottom: 0}
      .u-section-1 .u-layout-cell-2 {min-height: 538px; background-position: 15.4% 50%} }

    @media (max-width: 991px){ .u-section-1 {min-height: 268px}
      .u-section-1 .u-image-1 {min-height: 460px}
      .u-section-1 .u-group-1 {width: 274px; min-height: 299px; margin-top: 81px; margin-bottom: 45px; margin-left: 50px}
      .u-section-1 .u-container-layout-2 {padding-left: 32px}
      .u-section-1 .u-text-1 {font-size: 3rem; margin-top: 30px; margin-right: 32px}
      .u-section-1 .u-line-1 {width: 168px}
      .u-section-1 .u-link-1 {margin-bottom: 30px}
      .u-section-1 .u-layout-cell-2 {min-height: NaNpx; background-position: 30.98% 50%} }

    @media (max-width: 767px){ .u-section-1 {min-height: 828px}
      .u-section-1 .u-layout-wrap-1 {width: 640px; margin-top: 73px; margin-left: 0; margin-right: 0}
      .u-section-1 .u-image-1 {min-height: NaNpx}
      .u-section-1 .u-group-1 {width: 544px; min-height: 491px; margin-top: 60px; margin-left: auto; margin-bottom: 58px}
      .u-section-1 .u-container-layout-2 {padding-left: 24px}
      .u-section-1 .u-text-1 {font-size: 6rem; margin-top: 0; margin-right: 24px}
      .u-section-1 .u-line-1 {width: 288px}
      .u-section-1 .u-link-1 {font-size: 1.125rem; margin-bottom: 0}
      .u-section-1 .u-layout-cell-2 {background-position: 42.74% 50%} }

    @media (max-width: 575px){ .u-section-1 {min-height: 487px}
      .u-section-1 .u-layout-wrap-1 {margin-top: 0; margin-right: initial; margin-left: initial; width: auto}
      .u-section-1 .u-image-1 {min-height: 487px}
      .u-section-1 .u-group-1 {min-height: 437px; width: 340px; margin-top: 0; margin-bottom: 0}
      .u-section-1 .u-container-layout-2 {padding: 0 15px}
      .u-section-1 .u-text-1 {font-size: 4.5rem; margin-right: 16px}
      .u-section-1 .u-line-1 {width: 233px}
      .u-section-1 .u-link-1 {font-size: 1rem}
      .u-section-1 .u-layout-cell-2 {background-position: 49.13% 50%} }.u-section-2 .u-sheet-1 {min-height: 162px}
    .u-section-2 .u-btn-1 {background-image: none; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 2px; border-style: none; margin: 65px auto 55px; padding: 10px 47px}

    @media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 175px}
      .u-section-2 .u-btn-1 {margin-top: 70px; margin-bottom: 60px} }.u-section-3 .u-sheet-1 {min-height: 860px}
    .u-section-3 .u-layout-wrap-1 {width: 1017px; margin: 1px 123px 0 0}
    .u-section-3 .u-layout-cell-1 {min-height: 840px}
    .u-section-3 .u-container-layout-1 {padding: 30px 60px 60px}
    .u-section-3 .u-image-2 {min-height: 717px; background-image: url("/images/default-image.jpg")}
    .u-section-3 .u-container-layout-2 {padding: 30px 0 30px 60px}
    .u-section-3 .u-layout-cell-3 {min-height: 123px}
    .u-section-3 .u-container-layout-3 {padding: 30px}
    .u-section-3 .u-layout-wrap-2 {width: 1104px; margin: -799px 0 0 auto}
    .u-section-3 .u-layout-cell-4 {min-height: 101px}
    .u-section-3 .u-container-layout-4 {padding: 30px 30px 0}
    .u-section-3 .u-text-1 {text-transform: uppercase; font-size: 2.25rem; margin: 16px 0 0}
    .u-section-3 .u-layout-cell-5 {min-height: 62px}
    .u-section-3 .u-container-layout-5 {padding: 20px 30px}
    .u-section-3 .u-text-2 {text-transform: uppercase; font-size: 1.25rem; font-weight: normal; margin: 0 0 0 613px}
    .u-section-3 .u-layout-cell-6 {min-height: 87px}
    .u-section-3 .u-container-layout-6 {padding: 20px 30px}
    .u-section-3 .u-btn-1 {border-style: none; padding-left: 18px; padding-right: 18px; margin: 0 0 0 auto}

    @media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 640px}
      .u-section-3 .u-layout-wrap-1 {margin-right: 0; width: 940px}
      .u-section-3 .u-layout-cell-1 {min-height: 415px; background-position: 50% 50%}
      .u-section-3 .u-image-2 {min-height: 514px; background-position: 50% 50%}
      .u-section-3 .u-layout-cell-3 {min-height: 110px}
      .u-section-3 .u-layout-wrap-2 {position: relative; width: 940px}
      .u-section-3 .u-layout-cell-4 {min-height: 86px}
      .u-section-3 .u-layout-cell-5 {min-height: 53px}
      .u-section-3 .u-text-2 {margin-left: 413px}
      .u-section-3 .u-layout-cell-6 {min-height: 74px} }

    @media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 16px}
      .u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
      .u-section-3 .u-layout-cell-1 {min-height: NaNpx}
      .u-section-3 .u-container-layout-1 {padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
      .u-section-3 .u-image-2 {min-height: NaNpx}
      .u-section-3 .u-container-layout-2 {padding-left: 30px}
      .u-section-3 .u-layout-cell-3 {min-height: NaNpx}
      .u-section-3 .u-layout-wrap-2 {width: 720px}
      .u-section-3 .u-layout-cell-4 {min-height: 66px}
      .u-section-3 .u-layout-cell-5 {min-height: 41px}
      .u-section-3 .u-text-2 {margin-left: 193px}
      .u-section-3 .u-layout-cell-6 {min-height: 57px} }

    @media (max-width: 767px){ .u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
      .u-section-3 .u-container-layout-2 {padding-left: 10px}
      .u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
      .u-section-3 .u-layout-wrap-2 {width: 540px}
      .u-section-3 .u-layout-cell-4 {min-height: 50px}
      .u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
      .u-section-3 .u-layout-cell-5 {min-height: 31px}
      .u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
      .u-section-3 .u-text-2 {margin-left: 53px}
      .u-section-3 .u-layout-cell-6 {min-height: 43px}
      .u-section-3 .u-container-layout-6 {padding-left: 10px; padding-right: 10px} }

    @media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1305px}
      .u-section-3 .u-layout-cell-1 {min-height: 694px}
      .u-section-3 .u-image-2 {min-height: 649px}
      .u-section-3 .u-layout-cell-3 {min-height: 160px}
      .u-section-3 .u-layout-wrap-2 {margin-top: -609px; margin-bottom: 60px; margin-right: initial; margin-left: initial; width: auto}
      .u-section-3 .u-layout-cell-4 {min-height: NaNpx}
      .u-section-3 .u-container-layout-4 {padding-right: 20px}
      .u-section-3 .u-text-1 {font-size: 1.5rem}
      .u-section-3 .u-layout-cell-5 {min-height: NaNpx}
      .u-section-3 .u-container-layout-5 {padding-top: 10px; padding-right: 20px; padding-bottom: 10px}
      .u-section-3 .u-text-2 {font-size: 1.125rem; margin-left: 129px}
      .u-section-3 .u-layout-cell-6 {min-height: NaNpx}
      .u-section-3 .u-container-layout-6 {padding-right: 20px} }.u-section-4 {background-image: none}
    .u-section-4 .u-sheet-1 {min-height: 50vw}
    .u-section-4 .u-layout-wrap-1 {width: 1017px; margin: 0 0 0 auto}
    .u-section-4 .u-layout-cell-1 {min-height: 706px}
    .u-section-4 .u-container-layout-1 {padding: 30px}
    .u-section-4 .u-layout-cell-2 {min-height: 134px}
    .u-section-4 .u-container-layout-2 {padding: 30px}
    .u-section-4 .u-image-2 {min-height: 840px; background-image: url("/images/default-image.jpg"); background-position: 50% 50%}
    .u-section-4 .u-container-layout-3 {padding: 30px}
    .u-section-4 .u-layout-wrap-2 {width: 1104px; margin: -799px auto 60px 0}
    .u-section-4 .u-layout-cell-4 {min-height: 101px}
    .u-section-4 .u-container-layout-4 {padding: 30px 30px 0}
    .u-section-4 .u-text-1 {text-transform: uppercase; font-size: 2.25rem; margin: 0 1px}
    .u-section-4 .u-layout-cell-5 {min-height: 62px}
    .u-section-4 .u-container-layout-5 {padding: 30px}
    .u-section-4 .u-text-2 {text-transform: uppercase; font-size: 1.25rem; font-weight: normal; margin: 0 515px 0 0}
    .u-section-4 .u-layout-cell-6 {min-height: 87px}
    .u-section-4 .u-container-layout-6 {padding: 30px}
    .u-section-4 .u-btn-1 {border-style: none; padding-left: 18px; padding-right: 18px; margin: 0 auto 0 0}

    @media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 50px}
      .u-section-4 .u-layout-wrap-1 {position: relative; width: 940px; margin-top: 19px; margin-bottom: 60px}
      .u-section-4 .u-layout-cell-1 {min-height: 220px; background-position: 50% 50%}
      .u-section-4 .u-layout-cell-2 {min-height: 111px}
      .u-section-4 .u-image-2 {min-height: 330px}
      .u-section-4 .u-layout-wrap-2 {position: relative; width: 940px}
      .u-section-4 .u-layout-cell-4 {min-height: 86px}
      .u-section-4 .u-text-1 {margin-right: 0; margin-left: 0}
      .u-section-4 .u-layout-cell-5 {min-height: 53px}
      .u-section-4 .u-text-2 {margin-right: 315px}
      .u-section-4 .u-layout-cell-6 {min-height: 74px} }

    @media (max-width: 991px){ .u-section-4 .u-layout-wrap-1 {width: 720px}
      .u-section-4 .u-layout-cell-1 {min-height: 361px}
      .u-section-4 .u-layout-cell-2 {min-height: 182px}
      .u-section-4 .u-image-2 {min-height: 474px}
      .u-section-4 .u-layout-wrap-2 {width: 720px}
      .u-section-4 .u-layout-cell-4 {min-height: 66px}
      .u-section-4 .u-layout-cell-5 {min-height: 41px}
      .u-section-4 .u-text-2 {margin-right: 95px}
      .u-section-4 .u-layout-cell-6 {min-height: 57px} }

    @media (max-width: 767px){ .u-section-4 .u-layout-wrap-1 {width: 540px}
      .u-section-4 .u-layout-cell-1 {min-height: 271px}
      .u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
      .u-section-4 .u-layout-cell-2 {min-height: 137px}
      .u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
      .u-section-4 .u-image-2 {min-height: 356px}
      .u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
      .u-section-4 .u-layout-wrap-2 {width: 540px}
      .u-section-4 .u-layout-cell-4 {min-height: 50px}
      .u-section-4 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
      .u-section-4 .u-layout-cell-5 {min-height: 31px}
      .u-section-4 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
      .u-section-4 .u-text-2 {margin-right: 0}
      .u-section-4 .u-layout-cell-6 {min-height: 43px}
      .u-section-4 .u-container-layout-6 {padding-left: 10px; padding-right: 10px} }

    @media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 1339px}
      .u-section-4 .u-layout-wrap-1 {margin-top: 52px; margin-bottom: 0; margin-right: initial; margin-left: initial; width: auto}
      .u-section-4 .u-layout-cell-1 {min-height: 620px}
      .u-section-4 .u-layout-cell-2 {min-height: 96px}
      .u-section-4 .u-image-2 {min-height: 599px}
      .u-section-4 .u-layout-wrap-2 {margin-top: -732px; margin-right: initial; margin-left: initial; width: auto}
      .u-section-4 .u-layout-cell-4 {min-height: NaNpx}
      .u-section-4 .u-container-layout-4 {padding-left: 20px; padding-right: 20px}
      .u-section-4 .u-text-1 {font-size: 1.5rem}
      .u-section-4 .u-layout-cell-5 {min-height: NaNpx}
      .u-section-4 .u-container-layout-5 {padding: 10px 20px}
      .u-section-4 .u-text-2 {font-size: 1.125rem}
      .u-section-4 .u-layout-cell-6 {min-height: NaNpx}
      .u-section-4 .u-container-layout-6 {padding-left: 20px; padding-right: 20px} }.u-section-5 {min-height: 730px}
    .u-section-5 .u-layout-wrap-1 {margin: 0 auto 0 0}
    .u-section-5 .u-image-1 {background-image: url("/images/_cover1.jpg"); min-height: 730px; background-position: 62.58% 50%}
    .u-section-5 .u-image-2 {min-height: 730px; background-image: url("/images/bgr.png")}
    .u-section-5 .u-group-1 {width: 518px; min-height: 498px; margin: 116px auto}
    .u-section-5 .u-container-layout-3 {padding: 0 50px}
    .u-section-5 .u-text-1 {font-style: normal; margin: 37px 0 0 auto}
    .u-section-5 .u-text-2 {font-style: normal; margin: -22px auto 0 0}
    .u-section-5 .u-text-3 {text-transform: uppercase; letter-spacing: 3px; font-size: 3.75rem; margin: 101px 1px 0}
    .u-section-5 .u-line-1 {height: 2px; transform-origin: left center 0; margin: 20px auto 0 0}
    .u-section-5 .u-link-1 {text-transform: uppercase; padding-bottom: 2px; font-size: 1rem; margin: 20px auto 0 0}
    .u-section-5 .u-btn-1 {border-style: none; padding-left: 18px; padding-right: 18px; margin: -36px 0 0 auto}

    @media (max-width: 1199px){ .u-section-5 {min-height: 346px}
      .u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
      .u-section-5 .u-image-1 {min-height: 602px; background-position: 15.4% 50%}
      .u-section-5 .u-image-2 {min-height: 602px; background-position: 50% 50%}
      .u-section-5 .u-group-1 {width: 455px; min-height: 541px; height: auto; margin-top: 0; margin-bottom: 0}
      .u-section-5 .u-container-layout-3 {padding-left: 41px}
      .u-section-5 .u-text-1 {width: auto; margin-top: 52px}
      .u-section-5 .u-text-2 {width: auto}
      .u-section-5 .u-text-3 {margin-top: 124px; margin-left: 0; margin-right: 0}
      .u-section-5 .u-line-1 {margin-top: 27px; margin-right: initial; margin-left: initial}
      .u-section-5 .u-link-1 {margin-top: 31px} }

    @media (max-width: 991px){ .u-section-5 {min-height: 366px}
      .u-section-5 .u-image-1 {min-height: 461px; background-position: 30.98% 50%}
      .u-section-5 .u-image-2 {min-height: 461px}
      .u-section-5 .u-group-1 {width: 306px; min-height: 454px; margin-right: 50px}
      .u-section-5 .u-container-layout-3 {padding-left: 32px; padding-right: 30px}
      .u-section-5 .u-text-1 {margin-top: 20px}
      .u-section-5 .u-text-3 {font-size: 3rem; width: auto; margin-top: 138px; margin-right: 32px}
      .u-section-5 .u-line-1 {margin-top: 13px; margin-right: initial; margin-left: initial}
      .u-section-5 .u-link-1 {margin-top: 35px} }

    @media (max-width: 767px){ .u-section-5 .u-image-1 {min-height: 648px; background-position: 42.74% 50%}
      .u-section-5 .u-image-2 {min-height: 741px}
      .u-section-5 .u-group-1 {width: 544px; min-height: 552px; margin-top: 57px}
      .u-section-5 .u-container-layout-3 {padding-left: 24px; padding-right: 10px}
      .u-section-5 .u-text-3 {font-size: 6rem; margin-top: 77px; margin-right: 24px}
      .u-section-5 .u-line-1 {margin-top: 46px; margin-right: initial; margin-left: initial}
      .u-section-5 .u-link-1 {font-size: 1.125rem; margin-top: 11px} }

    @media (max-width: 575px){ .u-section-5 {min-height: 130px}
      .u-section-5 .u-layout-wrap-1 {margin-top: 55px; margin-right: initial; margin-left: initial}
      .u-section-5 .u-image-1 {min-height: 341px; background-position: 49.13% 50%}
      .u-section-5 .u-image-2 {min-height: 391px}
      .u-section-5 .u-group-1 {width: 315px; min-height: 267px; margin-top: 31px; margin-right: auto; margin-left: 50px}
      .u-section-5 .u-container-layout-3 {padding-left: 5px}
      .u-section-5 .u-text-1 {margin-right: auto; margin-left: 0}
      .u-section-5 .u-text-2 {margin-right: 0; margin-left: auto}
      .u-section-5 .u-text-3 {margin-top: 71px; margin-right: 0; letter-spacing: normal; font-size: 2.25rem}
      .u-section-5 .u-line-1 {margin-top: 16px; margin-right: initial; margin-left: initial}
      .u-section-5 .u-link-1 {font-size: 1rem; margin-top: 31px} }
    /* end - НАГРАДЫ ВКЛАДКА */
  }

  .el-dropdown-link {
    cursor: pointer;
    //color: @color-red;
  }

  .winner {
    background: left 5% repeat url(/images/crown.svg), right 5% no-repeat url(/images/crown.svg);
    //background: right 15%  repeat-y url(/images/crown2.png) ;
    //background-attachment: fixed;


    .banner-area {
      position: relative;
      background: url(https://d3a1wbnh2r1l7y.cloudfront.net/ww.png) no-repeat center center fixed ;
      background-size: cover;
      opacity: 0.7; /* Полупрозрачный фон */
      filter: alpha(Opacity=70); /* Прозрачность в IE */
    }

    .service-area {
      background: none;
    }
  }

  .dialog-kennel-add {
    margin-top: 3vh !important;
    font-size: 3rem;
    width: 50vw;
  }

  .lenta {
    width: 7vw;
    height: 5vh;
    top: 55px;
    position: absolute;
    right: -15px;
    font-size: 1.1rem;
    //background:  no-repeat left top /20% url("/images/lenta.png");
    background-color: #67C23A;
    padding: 2vh 2vh 2vh 1vh;

    z-index: 10;
    //-moz-transform: rotate(-45deg);  /* Firefox */
    //-o-transform: rotate(-45deg);  /* Opera */
    //-webkit-transform: rotate(-45deg);  /* Safari y Chrome */
    //filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=0.7071067811865475, M21=-0.7071067811865475, M22=0.7071067811865476); /* IE */
  }

  .transition-box {
    margin-bottom: 10px;
    width: 200px;
    height: 100px;
    border-radius: 4px;

    background-color: #409EFF;
    text-align: center;
    color: #fff;
    padding: 40px 20px;
    box-sizing: border-box;
    margin-right: 20px;
  }

  .banner-area.deathColor {
    border-bottom: 8px solid black !important;
    border-top: 8px solid black !important;

    p {
      color: #c1c1c1 !important;
    }

    h1.text-white {
      color: #c1c1c1 !important;
    }
  }

  .deathColor {
    .el-image__inner {
      border: 3px solid black;
    }
  }

  //CARD start
  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }

  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 400px;
  }

  //CARD end

  #style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  #style-1::-webkit-scrollbar-thumb {
    background-color: rgba(165, 178, 184, 0.53);
  }

  #style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(71, 100, 104, 0.15);;
    background-color: #F5F5F5;
  }

  /*  background-image: url(images/crown2.png);
    background-repeat: repeat;
    background-color:  #fc0 ;
    background-size: 50% ;*/

  //background-position: 100px 150px;
  .gender {
    .el-icon-male, .el-icon-female {
      //font-size: 3vw;
      padding-top: 12px;
    }
  }

  /*  .awards {
      .el-drawer__header > :first-child {
        font-size: 1.5em;
      }
    }*/

  .portrait {
    object-fit: cover;
    width: 299px;
    height: 199px;
    margin-block-start: 3px;
    margin-inline-end: 3px;
  }

  .flex {
    display: flex;
  }

  .nowrap {
    flex-wrap: nowrap;
  }

  .flex-wrap {
    .flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .flex-wrap-col {
    .flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .pointer {
    cursor: pointer;
  }

  .menu-right {
    .flex-wrap;
    justify-content: flex-end;
    width: 100%;
  }

  .menu-left {
    .flex-wrap;
    justify-content: flex-start;
  }

  .menu-center {
    .flex-wrap;
    justify-content: center;
  }

  .menu-center-v {
    .flex-wrap-col;
    align-content: space-evenly;
    justify-content: space-evenly;
  }

  .menu-center-2 {
    .flex-wrap;
    justify-content: space-around;
  }

  .menu-between {
    .flex-wrap;
    justify-content: space-between;
    margin-block-end: 1em;
  }

  /*
  .menu-between .ver{
    .menu-between;
    margin-block-end:2em;
  }
  */

  .menu-between-v {
    .flex-wrap-col;
    align-content: stretch;
  }


  @media (min-width: 300px) {
    .box-card {
      width: 100%;
    }

    .dialog-kennel-add {
      margin-top: 0 !important;
      font-size: 3rem;
      width: 100vw;
    }
  }

  @media (max-width: 414px) {
    .portrait {
      //object-fit: cover;
      width: 100%;
      height: auto;
      margin-block-start: 3px;
    }
  }

  @media (min-width: 666px) {
    .gender {
      .el-icon-male, .el-icon-female {
        font-size: 3vw;
      }
    }
  }
  @media (min-width: 991px) {
    .box-card {
      width: 50%;
    }


    .portrait {
      object-fit: cover;
      width: 240px;
      height: 160px;
    }
  }

  @media (min-width: 1240px) {
    .box-card {
      width: 400px;
    }

    .dialog-kennel-add {
      margin-top: 3vh !important;
      font-size: 3rem;
      width: 50vw;
    }

    .portrait {
      object-fit: cover;
      width: 299px;
      height: 199px;
      margin-block-start: 3px;
      margin-inline-end: 3px;
    }
  }

}
